*{padding:0; margin:0;}

#container1{width:1035px; z-index:0;}

#impact{
  background:url("../img/impact.jpg") no-repeat;
  width:253px;
  height:189px;
  position:absolute;
  top:0;
  left:0;
}

#design_and_build{
  background:url("../img/design_and_build.jpg") no-repeat;
  width:254px;
  height:189px;
  position:absolute;
  top:0;
  left:261px;
}

#coding{
  background:url("../img/coding.jpg") no-repeat;
  width:126px;
  height:189px;
  position:absolute;
  top:0;
  left:518px;
}

#online{
  background:url("../img/online.jpg") no-repeat;
  width:125px;
  height:189px;
  position:absolute;
  top:194px;
  left:518px;
}

#spotlights{
  background:url("../img/spotlights.jpg") no-repeat;
  width:254px;
  height:189px;
  position:absolute;
  top:194px;
  left:0;
}

#flagship{
  background:url("../img/flagship.jpg") no-repeat;
  width:254px;
  height:189px;
  position:absolute;
  top:0;
  left:779px;

}

#exhibition{
  background:url("../img/exhibitions.jpg") no-repeat;
  width:125px;
  height:189px;
  position:absolute;
  top:194px;
  left:259px;
}

#quizzes{
  background:url("../img/quizzes.jpg") no-repeat;
  width:126px;
  height:94px;
  position:absolute;
  top:290px;
  left:388px;
}

#soe{
  background:url("../img/random_cube.jpg") no-repeat;
  width:124px;
  height:90px;
  position:absolute;
  top:194px;
  left:388px;
  
}
  

#copter{
  background:url("../img/copter.jpg") no-repeat;
  width:120px;
  height:95px;
  position:absolute;
  top:194px;
  left:518px;
}

#involve{
  background:url("../img/involve.jpg") no-repeat;
  width:127px;
  height:189px;
  position:absolute;
  top:0;
  left:648px;
}

#aerofest{
  background:url("../img/aerofest.jpg") no-repeat;
  width:126px;
  height:189px;
  position:absolute;
  top:194px;
  left:904px;
}

#workshops{
  background:url("../img/workshops.jpg") no-repeat;
  width:254px;
  height:189px;
  position:absolute;
  top:194px;
  left:650px
}


#popup_container{
  width:1030px;
  height:388px;
  background:url("../img/shading.png");
  top:176px;
  z-index:1;
  left:125px;
  display:none;
  position:absolute;
}

.popup_contents{
  position:absolute;
  left:0;
  top:0;
  width:auto;
  height:auto;
  display:none;
  float:left;
  z-index:2;
}
