* {
	margin: 0px;
	padding: 0px;
}

html, body {
	font-family : "Century Gothic";
	font-size :14px;
	color : #183C5A;
    width : 100%;
    min-width : 1200px;
    height: 100%;
}

#container {
	width: 100%;	
	min-width : 1200px;
	height: 100%;
	min-height: 100%;  
}

#header {
	background : url('./Media/Images/header_bg_repeatable.jpg');
	background-repeat :repeat-x;
    height : 160px;
    width : 100%;
    
}

/* ----- HEADER CONTAINERS ---- */

#logos_container {
    width : 26.25%;
    height : 115px;
    
    text-align : center;
    float: left;
}

#navbar_container {
    width : 57.5%;
    height : 115px;
    
    text-align : center;
    float: left;
}

#spons_container {
    width : 16.25%;
    height : 115px;
    
    text-align: center;
    float: left;
}

#updates_container {
    width : 62.5%;
    height : 50px;
    position:relative;
    top :-2px;
    float: left;
    
    text-align: center;
}
 
#social_container {
    width : 37.5%;
    height : 40px;
    
    float: left;
    text-align: center;
}

.clearfloat {
	clear: both;
}

/* ----- END OF HEADER CONTAINERS ---- */

#logos {
    width : 300px;
    height : 115px;
  
    margin: auto;
}
#social>img{
	margin-top:6px;
}
#navbar  {
    width : 90%;
    height : 100%;
    
    margin: auto;
}

#spons {
    width : 100%;
    height : 115px;
    float:left;
    margin: auto;
}

#updates {
	width: 100%;
	height: 46px;
	text-align :left;
	background : url('./Media/Images/updates_bar_repeatable.jpg');
	background-repeat : repeat-x;
	margin: auto;
}

#social {
	padding-left : 30px;
	width: 80%;
	height: 40px;
	text-align:left;
	margin: auto;
}
#logandsearch{
	
	margin-left : auto;
	margin-right : auto;
	float:left;
	width : 49.34%;

}
#login{
	position:relative;
	top :35px;
	left: -20px;
}
#sgnup{
	position:relative;
	top :32px;
	left : -5px;
}
#srimg{
	position:relative;
	left : 30px;
	top:26px;
}
#search{
	position:relative;
	left : 270px;
	top :3px;
	color : #183F5A;
	letter-spacing : 1px;
	border-top : 2px solid #CCC;
	border-right : 1px solid #DDD;
}
.nclass{
	position:relative;
	top:8px;
}
.navig{
	color : #183F5A;
	border-bottom : 1px solid #CCC;
	display:block;
	float:left;
	margin-right:auto;
	margin-left:auto;
	width : 119px;
	height : 41px;
	vertical-align : middle;
	letter-spacing:0px;
	font-family :"Century Gothic";
	
	text-decoration:none;
	background-position : 0;
	background-repeat:no-repeat;
	background : url('./Media/Images/nav_bar_sprite.jpg');
}
.navig:hover{
		background-position : 0px 43px ;
		color : #FFF;

}

/* ----- END OF HEADER ---- */

#content {
    width : 100%;
    height : auto;

    min-width : 1200px;
    min-height : 350px;
}

#content_top{
    width : 100%;
    height : 185px;
    padding-top : 2px;
    
}

#content_bottom{
	position:relative;
	top : -15px;
    width : 100%;
    padding-bottom : 1px;
    height : 245px;
    
}

.content_container {
	float: left;
	text-align: center;
	width: 50%;
	height: 175px;
}
.content_container_2 {
	float: left;
	text-align: center;
	width: 50%;
	height: 245px;
}

#lefttop{
	
    width : 80%;
    height : 100%;
	text-align : left;
	padding-left : 15px;
    margin-left: auto;
    margin-right: auto;
}
#img_contaner{
	float:left;
	width : 30%;
	height:100%;

	margin-left:auto;
	margin-right:auto;
}
#righttopcontent{
	padding-left : 15px;
	float:left;
	width : 70%;
	height:80%;
	margin-top : 10px;
	margin-left:-60px;
	margin-right:auto;
}
#righttop{
	
    width : 100%;
    height : 100%;
    text-align:left;
    margin-left: auto;
    margin-right: auto;
}

#leftbottom{
    width : 90%;
    height : 100%;

    margin-left: auto;
    margin-right: auto;
}
#rightbottomcontent{
	width : 70%;
	height : 80%;
}
#rightbottom{
    width : 95%;
    height : 100%;
    background : url('./Media/Images/border.png');
    background-repeat :no-repeat;
    margin-left: auto;
    text-align : left;
    padding-left : 25px;
    margin-right: auto;
}

#footer_container{
min-width : 1200px;
    width : 100%;
    background : url('./Media/Images/footer_bg.png');    
    height : 40px;
    
    text-align: center;
    
}

#footerlinks{    
    width : 80%;
    height : 90%;
	position:relative;
	top:10px;
    margin-left: auto;
    margin-right: auto;
}