{% extends "index.html" %}

{% block body %}

<head>
<script type="text/javascript" src="AddClassKillClass.js"></script>
<script type="text/javascript" src="AttachEvent.js"></script>
<script type="text/javascript" src="AddCSS.js"></script>
<script type="text/javascript" src="tabtastic.js"></script>

</head>
{%if display_edit%}
<ul class="tabset_tabs">
   <li><a href="#go_here" class="active">add tab</a></li>
   
</ul>

{%endif%}
<div id="go_here" class="tabset_content">

<div id="table" align="center">
<table cellspacing="30" rules="cols" cellpadding="10">
<tr>
<td width="40%">
<div class="info">
<form action="{{SITE_URL}}/events/coord/dashboard" method="POST">
<table name="form_dashboard">
<tr>
<td>{{ form.event.label_tag }}</td>
<td>{{ form.event }}
</td>
</tr>
<tr />
<tr />
<tr />
<tr />
<tr />
<tr />




<tr>
<td>{{ form.title.label_tag }}</td>
<td>{{ form.title}}
</td>
</tr>
<tr />
<tr />
<tr />
<tr />
<tr />
<tr />


<tr>
<td>{{ form.text.label_tag }}</td>
<td>{{ form.text}}
</td>
</tr>
<tr />
<tr />
<tr />
<tr />
<tr />
<tr />

</table>
<input type="submit" value="submit" />
</div>


