{%extends "index.html"%}

{%block body%}

<div id="logout" align="right">
          
              <form action= "{{SITE_URL}}events/logout/" method="POST">
              <input type="submit" value="LOGOUT" />
              </form>
          
</div>




<div id="form" align="center">
   <h1>PLEASE ENTER THE FILE DETAILS BELOW : </h1>

    <form action="" method="POST" enctype="multipart/form-data">
		<table>
			{{ form.as_table }}
		</table>
		<br /><br />
		<input type="hidden" value="{{row.id}}" />
		<input type="submit" value="Submit" />
	</form>
</div>
{%endblock%}
