{%extends "index.html"%}

{%block body%}

<!--logout button-->

<div id="logout">
    <form action= "{{SITE_URL}}events/logout/" method="POST">
        {% csrf_token %}
        <input type="submit" value="LOGOUT" />
    </form>
</div>

<!--the js for the WYSIWYG editor-->

<script src="{{MEDIA_URL}}niceditor/nicEdit.js" type="text/javascript"></script><script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>

						
<div id="body">
    <!-- the edit tab form -->

     <div id="form"> 
	  <form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<br /><br />

                  <!--The Submit Button -->

		<input type="hidden" value="{{row.id}}" />
		<input type="submit" value="Submit" />
	  </form>
    </div>    
          
          
          
          

	<br /><br />
         
       <!--List displaying the currently uploaded files -->

        <div id="fileupload">
		<div id="filetitle">
			CURRENTLY UPLOADED FILES : 
		</div>

		<br/>
             <div id="filelist"> 
		{%if file_list%}
			{%for file in file_list%}
				<a href={{file.url}}>{{file.title}}</a>
				<form action="{{SITE_URL}}events/dashboard/delete_file/" method='POST'>
					{% csrf_token %}
					<input type="hidden" value="{{file.id}}" name="tabfile_id" />
					<input type="submit" value="Delete"/>
				</form>
				<br/>
			{%endfor%}
		{%else%}
			NO CURRENTLY UPLOADED FILES
			<br/>
		{%endif%}
            </div>

                <br/><br/>
               
              <!--The add file form -->

                <div id="file_form">
                      {%if is_edit_tab%}
 
                            <form action="{{SITE_URL}}events/dashboard/add_file/" method='POST' enctype="multipart/form-data" >
                                {% csrf_token %}
                                   {{formadd.as_table}}  
                           <input type="hidden" value="{{row.id}}" name="tabfile_id" />
                           <input type="submit" value="Add File"/>
                          </form>
         
         
  
                    {%else%}
                       PLEASE CREATE TAB BEFORE UPLOADING FILES!!! 
		        
                    {%endif%}


	        </div>
         

                 <br/><br/>


                    <!--The Back To DashBoard Button -->

                    <div id="cancel">
                            <form action="{{SITE_URL}}events/dashboard/" method="POST">
                            <input type="submit" value="Back To Dashboard"/>
                            </form>
                    </div>



        </div>


</div>

{%endblock body%}





