{%extends "index.html"%}

{%block body%}

<!--added the logout part seperately-->
<!--<div id="logout" align="right">
{%if user.is_authenticated%}
<form action= "{{SITE_URL}}/events/logout" method="POST">
<input type="submit" value="LOGOUT" />
</form>
{%endif%}
</div>-->

<script src="{{MEDIA_URL}}niceditor/nicEdit.js" type="text/javascript"></script><script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
						
<div id="form" align="center">
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<br /><br />
		<br /><br />
		<input type="hidden" value="{{row.id}}" />
		<input type="submit" value="Submit" />
	</form>

	<div id="fileurls" align="center">
		<div id="filetitle" style="color:red;font-weight:bold">
			CURRENTLY UPLOADED FILES : 
		</div>
		<br/>
		{%if file_list%}
			{%for file in file_list%}
				{{file.url|urlize}}
				<form action="{{SITE_URL}}events/dashboard/delete_file/" method = 'POST'>
					{% csrf_token %}
					<input type="hidden" value="{{file.id}}" name="tabfile_id" />
					<input type="submit" value="Delete"/>
				</form>
				<br/>
			{%endfor%}
		{%else%}
			NO CURRENTLY UPLOADED FILES
			<br/>
		{%endif%}
	</div>

</div>

{%endblock body%}





