{%extends "index.html"%}
{%block event_categories%}{%endblock%}
 {%block title%}
      Shaastra 2011 - {{event_name}}
    {%endblock%}
    
    
{%block media_location%}
	<script type="text/javascript">
			var IntExp=0;
			/***********************************************************************************************************************************************
			How to add a new tab -
			1) Update the elem array with the id of the new tab.															e.g : newTab
			2) Update the tabnames array with the name of the tab.															e.g : Problem Statement
			3) Increase the no of tabs by one for each tab you add.
			4) Insert content in index.html.  The id of this div should be the same as you had put in step 1 except that an underscore follows it.			eg : <div id="newTab_"> ........................... </div>
			
			************************************************************************************************************************************************/
			 var elem=[];
			 var tabNames=[];
			 var tot=0;
			 var noOfTabs=0;
			{%for row in tab_list%}
				elem[{{forloop.counter0}}]='{{row.title|slugify}}';
				tabNames[{{forloop.counter0}}]='{{row.title}}';
				tot=tot+1;
			{%endfor%}
            noOfTabs=tot;			
	</script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/events-tab.js"></script>
   	
      
{%endblock%}
  
  
<body id="page">
  <div id = "container">
    
{%block body%}
      



<div id = "video"></div>
<div id="tabsTop">
	<div id="events_heading">{{event_name|capfirst}}</div>	
	<div id="btnContainer">
		
				<!-- the add tab button -->
		<div id="add_tab">
			<div class="button">
				<a href="#">
					<form action="add_tab/" method ="POST">
						{% csrf_token %}
						<input type="hidden" value="{{row.id}}" name="tab_id" />
						<input type="submit" value="ADD TAB" />
					</form>
				</a>
				<span></span>
			</div>
			<img id="pls" src="http://www.shaastra.org/2011/media/main/img/plus.png" />
		</div>
			<!-- the add questions tab button -->
		{%if not questions_added %}
		<div id="add_questions_tab">
			<div class="button">
				<a href="#">
					<form action="add_questions_tab/" method ="POST">
						{% csrf_token %}
						<input type="hidden" value="{{row.id}}" name="tab_id" />
						<input type="submit" value="Add Questions" />
					</form>
				</a>
				<span></span>
			</div>  
		</div>
		{% endif %}
		
			 <!-- The Edit Event button -->
		<div id="edit_event">
			<div class="button">
				<a href="#">
					{%if user.is_authenticated%} 
					<form action= "{{SITE_URL}}events/dashboard/edit_event/" method="GET">
						{% csrf_token %}
						<input type="submit" value="Edit Event Details" />
					</form>
					{%endif%}
				</a>
				<span></span>
			</div>  
		</div>


		<div id="logout_" align="right">
				<a href="{{event.url}}">Preview</a>    
					
				</a>
				<span></span>
		</div>
	</div>
</div>    <!-- end tabsTop -->
          
	<div id = "verticlleft">

	  <div id="eventsTab"> 
	    <div id="tabs">
		<script type="text/javascript">
		            if(noOfTabs == 0){
		                document.write("<div id=\""+elem[t]+"\">"+"Tabs can be added using the ADD TAB button"+"</div>");
		            }
					for(var t=0;t<noOfTabs;t++){
						document.write("<div id=\""+elem[t]+"\">"+tabNames[t]+"</div>");
					}
		</script>		 
	    </div> 
	   
              <div id="ticker2" class="iefix" >
			<div id="ticker-img-left2" class="iefix"></div>
			<div style="float:left;"><a id="ticker-link-updates2" style="font-size:18px;">&nbsp;Updates: </a></div>
			<div style="float:left;"><a id="ticker-link-text2">Shaastra 10 Updates Ticker!</a></div>
			<div id="ticker-img-right2" class="iefix"></div>
		</div>  

                 
	    {% include "event_details.html" %}
               			
	      </div>


	    </div>
{%endblock%}

      
    </div> 
	  
	



	  
        
</body>
