<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
  <head>
    <title>
      Shaastra 2011 - {{event_name}}
    </title>
    
    <link rel="stylesheet" href="css/main.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css/style_copy.css">
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css/ticker.css">
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css/events-tab.css" />
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css/style_copy.css">
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css/events_scroll.css">
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css/event.css">
    
    
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/ticker.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/jquery.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/jquery-ui-1.8.12.custom.min.js"></script>
    
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/ticker2.js"></script>


	<script type="text/javascript">
			/***********************************************************************************************************************************************
			How to add a new tab -
			1) Update the elem array with the id of the new tab.															e.g : newTab
			2) Update the tabnames array with the name of the tab.															e.g : Problem Statement
			3) Increase the no of tabs by one for each tab you add.
			4) Insert content in index.html.  The id of this div should be the same as you had put in step 1 except that an underscore follows it.			eg : <div id="newTab_"> ........................... </div>
			
			************************************************************************************************************************************************/
			 var elem=[];
			 var tabNames=[];
			 var tot=0;
			 var noOfTabs=0
			{%for row in tab_list%}
				elem[{{forloop.counter0}}]='{{row.title|slugify}}';
				tabNames[{{forloop.counter0}}]='{{row.title}}';
				tot=tot+1;
			{%endfor%}
            
            noOfTabs=tot			
	</script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/events-tab.js"></script>
   <script>
	    
	    if(window.innerHeight > 650)
						{
						var tp = window.innerHeight;
						//alert(tp);
						//alert(window.innerHeight);
						var newtp = tp-46;
						//alert(newtp);
						document.getElementById("footer_container").style.position = "absolute";
						//alert(document.getElementById("footer_container").style.position);
						document.getElementById("footer_container").style.top = newtp+"px";
						//alert(document.getElementById("footer_container").style.top);// = tp;
						}

						</script>
    <!--[if lte IE 8]>
        <script type="text/javascript">
          width=78;
        </script>
        <![endif]-->
    <!--[if IE 7]>
        <style type="text/css">
          #eventsTab{ position:relative; left:0%; }
        </style>
        <![endif]-->
    <!--[if IE 6]>
        <style type="text/css">
          #eventsTab{ top:0%; }
          body {width:1200px; }                
          img, div { behavior: url('iepngfix.htc') }
          /*    #social_container {border: solid 0.2mm black; width:160px; height:40px; }*/
          #youtube { background-position-x:-37px; background-position-y:0px; }
          #blogger {}
          #twitter {}
        </style>
        <![endif]-->

		
    <script>
      $(document).ready(function() {

      $('#ticker-img-right').click(function() {
      clearTimeout(t);
      untypeNext()
      });
      $('#ticker-img-left').click(function() {
      clearTimeout(t);
      untypePrev()
      });
      getTickerData();


      $(document).ready(function() {
      $('#ticker-img-right2').click(function() {
      clearTimeout(t2);
      untypeNext2()
      });
      $('#ticker-img-left2').click(function() {
      clearTimeout(t2);
      untypePrev2()
      });
      getTickerData2();
      
      });
      
      });
      
    </script>




    <script type="text/javascript">
      

      $(document).ready(function () {
      
      
      $('#ticker-img-right').click(function() {
      clearTimeout(t);		
      untypeNext()
      });
      $('#ticker-img-left').click(function() { 
      clearTimeout(t);
      untypePrev()
      });
      getTickerData();
      });

    </script>
    <script src = "{{MEDIA_URL}}js/js/script/script.js"></script>
  </head>
  <body>

    <div id = "container">
      <div id = "header">
        <div id = "header_top">
          <div id = "logos_container">
            <div id = "logos">
              <img src = "{{MEDIA_URL}}img/all_logos.png" style = "width : 247px;height:115px">
            </div>
          </div>
          <div id ="navbar_container">
            <div id = "navbar">
              <a href = "#" class="navig" id = "home"><span class = "nclass">Home</span></a>
	      <a href = "#" class="navig" id = "events"><span class = "nclass">Events</span></a>
	      <a href = "#" class="navig" id = "hospi"><span class = "nclass">Hospitality</span></a>
	      <a href = "#" class="navig" id = "sponsor"><span class = "nclass">Sponsorship</span></a>
	      <a href = "#" class="navig" id = "gallery"><span class = "nclass">Gallery</span></a>

              
              <div id = "logandsearch">
                <img src = "{{MEDIA_URL}}img/login.png" id = "login">
                <img src = "{{MEDIA_URL}}img/sign_up.png" id = "sgnup">
                <span id ="srch"><img src = "{{MEDIA_URL}}img/search.png" id = "srimg"><input type = "text" id = "search" name = "search"></span>
              </div>            
            </div>
          </div>
          <div id = "spons_container">
            <div id = "spons">
              <img src = "{{MEDIA_URL}}img/spons_box.png" style = "width : 176px;height:100%">
            </div>
          </div>
          <div class = "clearfloat"></div>
        </div>
        <div id = "header_bottom">
          <div id = "updates_container">

	    <div id="ticker" style="" class="iefix">
	      <div id="ticker-img-left" class="iefix"></div>
	      <a id="ticker-link-updates" style="font-size:18px;">Updates: </a>

	      <a id="ticker-link-text">Shaastra 10 Updates Ticker!</a>
	      <div id="ticker-img-right" class="iefix"></div>
	    </div>

          </div>
          <div id = "social_container">
            <div id = "social">
              <div id="fb"></div>
	      <div id="youtube"></div>
	      <div id="blogger"></div>
	      <div id="twitter"></div>
            </div>
          </div>
          <div class = "clearfloat"></div>
        </div>
      </div>
      <div id = "content" style = "overflow:hidden">



        <div id = "video"></div>
        
	<div id = "verticlleft">	
          
	  <div id="eventsTab"> 
	    <div id="tabs">
		<script type="text/javascript">
					for(var t=0;t<noOfTabs;t++){
						document.write("<div id=\""+elem[t]+"\">"+tabNames[t]+"</div>");
					}
		</script>		 
	    </div> 
		<!-- the add tab button -->
    <div id="add_tab">
            <form action="add_tab/" method ="POST">
            {% csrf_token %}
            <input type="hidden" value="{{row.id}}" name="tab_id" />
        <input type="submit" value="Add Tab" />
        </form>
    </div>  
    <!-- the add questions tab button -->
    {%if not questions_added %}
    <div id="add_questions_tab">
        <form action="add_questions_tab/" method ="POST">
        {% csrf_token %}
        <input type="hidden" value="{{row.id}}" name="tab_id" />
    <input type="submit" value="Add Questions" />
    </form>
    </div>  
    {% endif %}

	    {% include "event_details.html" %}
	      </div>
	    </div>
      </div>
	      
	      <div id = "verticlright">

		<div id = "rtvtop">
		  <div>
		    Sponsors Here
		  </div>
		  <img src = "{{MEDIA_URL}}img/Nokia.png">
		</div>
    		<div id = "rtvbottom">
		  MY SHAASTRA HERE
		</div>
	      </div>
    </div> 
	                    
		<div id="ticker2" class="iefix" >
			<div id="ticker-img-left2" class="iefix"></div>
			<div style="float:left;"><a id="ticker-link-updates2" style="font-size:18px;">&nbsp;Updates: </a></div>
			<div style="float:left;"><a id="ticker-link-text2">Shaastra 10 Updates Ticker!</a></div>
			<div id="ticker-img-right2" class="iefix"></div>
		</div>  
		
	    <div id = "footer_container">
	      <div id = "footerlinks">
		<a href = "#" class = "flinks" id = "con"></a>
		<a href = "#" class = "flinks" id = "pp"></a>
		<a href = "#footerlinks" class = "flinks" id = "blo"></a>
		<a href = "#" class = "flinks" id = "eve"></a>
		<a href = "#" class = "flinks" id = "med"></a>
		<a href = "#" class = "flinks" id = "mys"></a>
		<a href = "#" class = "flinks" id = "cre"></a>
		
	      </div>
	    </div>
	  
	



	  
    <div id = "scrollcontainer">
      <div id = "scroll">
        <div id = "1" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "2" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "3" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "4" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "5" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "6" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "7" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "8" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "9" class = "thumb"><div class = "thumbc"></div></div>
      </div>
    </div>
    <div id = "eventscontainer">
      
      <div id = "escroll">
	
      </div>
    </div>
    <div id = "temporary"></div>
</body>
</html>
