
{%extends "index.html"%}
{%block body%}
<div align="center">
<h1>{{event_name}}
</h1>



<head>
<script type="text/javascript" src="{{MEDIA_URL}}AddClassKillClass.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}AttachEvent.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}AddCSS.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}tabtastic.js"></script>

</head>


<!--added the logout seperately -->

<!--<div id="logout" align="right">
{%if user.is_authenticated%}
<form action= "{{SITE_URL}}/events/logout" method="POST">
<input type="submit" value="LOGOUT" />
</form>
{%endif%}
</div>-->



<ul class="tabset_tabs">

{% for row in tab_list %}
    {%if forloop.first%}
   <li><a href="#go_here" class="active">{{row.title}}</a></li>
    {%else%}
     <li><a href="#go_here">{{row.title}}</a></li>
     {%endif%}  
   

</ul>


<div id="go_here" class="tabset_content">
<div id="event_name" align="center" >

<p>
ROW ID : {{row.id}} <br/>
ROW PREFERENCE : {{row.pref}} <br/>

{{row.text}}</p>

<!--{%if display_edit%}-->
<!--<ul class="tabset_tabs">
<table>
<tr>
        <td>
            <li><a href="#go_to_edit1">EDIT</a></li>
        </td>
        </tr>
        

         
</table>
</ul>-->
<table>
<tr>
<td>
            
            <form action="edit_tab/" method = 'POST'>
            <input type="hidden" value="{{row.id}}" name=tab_id >
            <input type="submit" value="Edit">
            </form>
        </td>
        
        <td>
            
            <form action="delete_tab/" method = 'POST'>
            <input type="hidden" value="{{row.id}}" name=tab_id>
            <input type="submit" value="Delete">
            </form>
        </td>
</tr>
</table>
<!--{%endif%}-->


</div>
</div>
{%endfor%}
<!--<div id="go_to_edit" class="tabset_content">
<div align="center">
<form action="" method="post">
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit">
</form>
</div>
</div>

<div id="go_to_edit1" class="tabset_content">
<div align="center">
<form action="" method="post">
<table>
<tr>
<td>{{ form.text.label_tag }}</td>
<td>{{ form.text}}
</td>
</tr>

</table>
<input type="submit" value="Submit">
</form>
</div>
</div>-->
<!--{%if display_edit%}-->
<div id="addtab" align="center"> 
</table>
<form action="add_tab/" method = 'POST'>
            <input type="hidden" value="{{row.id}}" name = tab_id>
            <input type="submit" value="Add tab">exit
            </form>

</div>
<!--{%endif%}-->

{%endblock body%}
