{% extends "index.html" %}

{%block event_categories%}{%endblock%}
{% block body %}

<!--logout button -->

<div id="logout" align="right">
    <form action= "{{SITE_URL}}logout/" method="POST">
        {% csrf_token %}
        <input type="submit" value="LOGOUT" />
    </form>          
</div>

<!--edit event form -->
<div id="login">
<div id="edit_event">

     <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      <table>
         {{ form.as_table }}
      </table>
 
    <div class="button2">
			<a href="#">
				<input type="submit" value="Save Event Details" />
			</a>
			<span></span>
		</div>
 
</form>
</div>
</div>
{% endblock body %}

