{%extends "index.html"%}

{%block gradient%}{%include "gradient.html"%}{%endblock%}
{%block media_location%}   
<script type="text/javascript">
  var IntExp=0;
  /***********************************************************************************************************************************************
  How to add a new tab -
  1) Update the elem array with the id of the new tab.															e.g : newTab
  2) Update the tabnames array with the name of the tab.															e.g : Problem Statement
  3) Increase the no of tabs by one for each tab you add.
  4) Insert content in index.html.  The id of this div should be the same as you had put in step 1 except that an underscore follows it.			eg : <div id="newTab_"> ........................... </div>
  
  ************************************************************************************************************************************************/
  var elem=[];
  var tabNames=[];
  var tot=0;
  var noOfTabs=0
  {%for row in tab_list%}
  elem[{{forloop.counter0}}]='{{row.id}}';
  tabNames[{{forloop.counter0}}]='{{row.title}}';
  tot=tot+1;
  {%endfor%}
  noOfTabs=tot;			
</script>
<script type="text/javascript" src="{{MEDIA_URL}}js/js/script/events-tab.js"></script>
{%endblock%}   
<body>
  <div id = "container" style="min-height:580px;padding-left:20px;">  
    {%block body%}



    <div id = "video"></div>
    
    <div id="tabsTop">
      <span id="events_heading">
	{{event_name|capfirst}}
	<!-- keeping the traceback for later time -->

	<!--
	    <span id="menu_path" style="font-size:medium"><a href="{{SITE_URL}}home/">Home</a> >> <a href = "#" onclick = "javascript:setTimeout(function(){popup(1)},00);">Events</a> >> <span id="evtname"> {{event.display_name}} </span> </span> -->
   
      </span>
      {% if show_register %}
	        {% if user_has_registered %}
              <div style="margin-left:640px;">
				<input type="button" style="text-transform:capitalize;" value="Registered. You may now submit your answers." />
			  </div>
	        {% else %}
	          <form action="{{SITE_URL}}events/register/" method="GET">
		        <input type="hidden" name="event_id" value="{{ event.id }}" />
		        <input type="submit" value="" class="btnNew" style="height:28px;"/>
	          </form>
	        {% endif %}
	  {% endif %}
    </div>

    <div id = "verticlleft">  
      
      <div id="eventsTab" style="visibility:hidden;"> 
	<div id="tabs">
	  <script type="text/javascript">
	    if(noOfTabs == 0){
	    document.write("<div id=\""+elem[t]+"\">"+"Tabs can be added using the ADD TAB button"+"</div>");
            //document.write("<div id=null>Tabs can be added using the ADD TAB button</div>");
            
	    }
	    for(var t=0;t<noOfTabs;t++){
			    document.write("<div id=\""+elem[t]+"\">"+tabNames[t]+"</div>");
			    }
			    </script>		 
	</div> 




	<div id="event-details">
          {%for row in tab_list %}
	  <div id="{{row.id}}_">
            {%if not row.question_tab%}
	    
	    <div style="padding-left:20px"> {{row.text|safe}} </div>
	    <br /><br />

            <!-- displaying file list -->
            <div id="file_content">
          {% if row.file_list%}   
          <p>Files:</p><br/>  
	      {%for file in row.file_list %}
	      
	      <a href={{file.url}}>{{file.title}}</a>
	      <br/>
	      {% empty %}
	      
	      {%endfor%}
	      {%endif%}
            </div>
	    
	    


            
	    
            {%else%}
            {% include "event/submissions.html" %}
            {% endif %}


	    
	  </div>
          {%endfor%}
	</div>
	
      </div>
    </div>
    <div id = "verticlright">
      
      <div id = "rtvtop">
        {%if event.sponslogo%}
        <img src="{{MEDIA_URL}}{{event.sponslogo}}"
	     width="300" height="160" style="sizingMethod:scale;vertical-align:middle;" />
        {%else%} {%if event.menu_image%}
        <img src="{{MEDIA_URL}}{{event.menu_image}}"
	     width="300" height="160" style="sizingMethod:scale;vertical-align:middle;" />
        {%else%}
	{%for category in categories%}

        {%for event_list in category.events%}
        
        {%if event_list.id == event.id%}
        
        {%if category.text|slugify|stringformat:"s" == "impact" %}
        <img src="http://www.shaastra.org/2011/media/main/img/impact.jpg" />
        {%endif%}
        {%if category.text|slugify|stringformat:"s" == "design-and-build" %}
        <img src="http://www.shaastra.org/2011/media/main/img/design_and_build.jpg" />
        {%endif%}
        {%if category.text|slugify|stringformat:"s" == "coding" %}
        <img src="http://www.shaastra.org/2011/media/main/img/coding.jpg" />
        {%endif%}
        {%if category.text|slugify|stringformat:"s" == "involve" %}
        <img src="http://www.shaastra.org/2011/media/main/img/involve_right.jpg" />
        {%endif%}
        {%if category.text|slugify|stringformat:"s" == "online" %}
        <img src="http://www.shaastra.org/2011/media/main/img/online_right.jpg" />
        {%endif%}
        {%if category.text|slugify|stringformat:"s" == "spotlights" %}
        <img src="http://www.shaastra.org/2011/media/main/img/spotlights.jpg" />
        {%endif%}
        {%if category.text|slugify|stringformat:"s" == "flagship" %}
        <img src="http://www.shaastra.org/2011/media/main/img/flagship.jpg" />
        {%endif%}
        {%if category.text|slugify|stringformat:"s" == "quizzes" %}
        <img src="http://www.shaastra.org/2011/media/main/img/quizzes.jpg" />
        {%endif%}
        {%if category.text|slugify|stringformat:"s" == "aerofest" %}
        <img src="http://www.shaastra.org/2011/media/main/img/aerofest_right.jpg" />
        {%endif%}
        {%if category.text|slugify|stringformat:"s" == "workshops" %}
        <img src="http://www.shaastra.org/2011/media/main/img/workshops.jpg" />
        {%endif%}
        {%if category.text|slugify|stringformat:"s" == "exhibitions" %}
        <img src="http://www.shaastra.org/2011/media/main/img/exhibitions_right.jpg" />
        {%endif%}
        {%if category.text|slugify|stringformat:"s" == "robotics" %}
        <!-- For the robotics sub-events -->
        <img src="http://www.shaastra.org/2011/media/main/img/design_and_build.jpg" />
        {% endif %}

        {%endif%}
	
        {%endfor%}

        {%endfor%}

        
        {%endif%}{%endif%}        
        
        

      </div>
      <br/>
      {%if event.video%}
      <div id = "rtvbottom">
	<iframe src="{{event.video}}"
		width="320" height="200"></iframe>
      </div>
      {%endif%}
    </div>
  </div>
  
  
  {% for row in tab_list %}
        {%if row.question_tab%}
          {% if show_register %}
                       {% if user_has_registered %}
                     <!-- put the script herre -->
                     <!-- for tab id use {{row.id}} -->
                <script type="text/javascript">
                    setTabBgBlue({{row.id}});      
                    setVisible({{row.id}});
                </script>
                       {% endif %}
                 {% endif %}

        {%endif%}

        {%endfor%}
  {%endblock%}     
  
</div> 


</body>

