<div id="event-details">
                              {%for row in tab_list %}
				<div id="{{row.title|slugify }}_">


                                
              
     
                                        <br/><br/>

                                       {%if not row.question_tab%}
			                              {{row.text|safe}}
			                                <br /><br />

                                        <!-- displaying file list -->
 
			              <div id="file_display">
                                              <div id="file_header">
			                       Currently uploaded files:
			                     </div>
                           
			           <br/>
                              <!-- displaying the file urls -->

                               <div id="file_content"> 
			           {%for file in row.file_list %}
			               <a href={{file.url}}>{{file.title}}</a>
		                       <br/>
		               {% empty %}
		                   <p>Click on "Edit Tab" to upload a file</p>
			           {%endfor%}
                               </div>
			            <br/>
                        </div>

               <!-- The edit tab Button -->
               
               <div id="edit_tab">
                    <form action="edit_tab/" method = 'GET'>
            	       {% csrf_token %}
	            <input type="hidden" value="{{row.id}}" name=tab_id >
	           <!-- <input type="submit" value="Edit {{row.title}} Tab"> -->
			    <input type="submit" value="">
                    </form>
               </div>

                 
 
           {%else%}
           
{% for ques in ques_list %}
		<div id="Ques{{ques.Q_Number}}">
                  <!--<a href="#Question{{ques.Q_Number}}">{{ques.Q_Number|safe}}. {{ques.title|safe}}</a><br/>-->
	          <br/>{{ques.Q_Number|safe}}. {{ques.title|safe}}<br/>
                </div>
                <div id="Question{{ques.Q_Number}}">
                  {% if ques.question_type == "NORMAL" %}
                  <div id="normal_question">
                    <p>Type your answer in the text area and hit the "Submit" button.</p>
                    <textarea rows="6" cols="40" >This is not fully functional right now. Clicking on submit does nothing.</textarea><br/>
                    <input type="submit" value="Submit">
                  </div>
                  {% endif %}
                  {% if ques.question_type == "MCQ" %}
                  <p>This is a multiple choice question. Please select your choice and click on "Submit".</p>
                  <p> This will be functional soon.</p>
                  <div id="mcq_question">
                    <table border="1">
                      <form>
                        {% csrf_token %}
                        {%for options in options_list %}
                        {%if options.question == ques %}
                        <tr><td>{{options.option}}</td><td><input type="radio" name="answer_chosen" value="{{options.option}}"/></td><td>{{options.text}}</td></tr>
                        {%endif%}
                        {%endfor%}
                      </form>
                    </table>
                    {%if not is_coord%}<input type="submit" value="Submit">{%endif%}
                    <!-- Delete Option-->
                    <table>
                    {%for options in options_list %}
                        {%if options.question == ques %}
                            {%if is_coord %}
                                <div id="delete_option">
                                <tr><td>
                                <form action="{{SITE_URL}}events/dashboard/delete_option/" method = 'POST'>
                                {% csrf_token %}
                                <input type="hidden" value="{{options.id}}" name=option_id>
                                <input type="submit" value="Delete Choice -- ({{options.option}},{{options.text}})">
                                </form>
                                </td></tr>
                                </div>
                            {%endif%}
                        {%endif%}
                    {%endfor%}
                    </table>
                    <div id="add_choices">
                        <form action="add_choices/" method = 'GET'>
                        {% csrf_token %}
                        <input type="hidden" value="{{ques.id}}" name="ques_to_add_choices_id">
                        <input type="submit" value="Add More Choices">
                        </form>
                    </div>
                  </div>            
                  {% endif %}
                  {% if ques.question_type == "FILE" %}
                  <p> Choose the file you want to upload and click on "Upload".</p>
                  <p> This will be functional soon.</p>
                  <br/>
                  <input type="file" name="blah" size="30"><br/>
                  <input type="submit" value="Upload">               
                  {% endif %}
                  <!-- the delete question button -->

                        <div id="delete_question">
                        <form action="{{SITE_URL}}events/dashboard/delete_question/" method = 'POST'>
                        {% csrf_token %}
                        <input type="hidden" value="{{ques.id}}" name=ques_id>
                        <input type="submit" value="Delete Question">
                        </form>
                        </div>

                        <!-- the edit question button -->

                        <div id="edit_question">
                        <form action="edit_question/" method = 'GET'>
                        {% csrf_token %}
                        <input type="hidden" value="{{ques.id}}" name=ques_id >
                        <input type="submit" value="Edit Question">
                        </form>
                        </div>
                  
                  <script>
                    $("#Question{{ques.Q_Number}}").hide();
                    $("#Ques{{ques.Q_Number}}").click(function () {
                    $("#Question{{ques.Q_Number}}").toggleClass("inactive").slideToggle("slow");
                    });
                  </script>
                </div>                       
		{%endfor%}      
		
		<div id="edit_tab">
		<form action="edit_tab/" method = 'GET'>
		{% csrf_token %}
		<input type="hidden" value="{{row.id}}" name=tab_id >
		<input type="submit" value="Edit Questions Tab">
		</form>
		</div>
		
		<div id="add_question">
		<form action="add_question/" method ="POST">
		{% csrf_token %}
		<input type="hidden" value="{{row.id}}" name="tab_id" />
		<input type="submit" value="Add Questions" />
		</form>
		</div>          
		{% endif %}



<!-- the delete tab button -->                   
<div id="delete_tab{{forloop.counter}}">
    <bold>Delete Tab<bold><br/>
</div>
<div id ="delete_tab_confirmation{{forloop.counter}}" >
    <form action="delete_tab/" method = 'POST'>
    {% csrf_token %}
    <input type="hidden" value="{{row.id}}" name=tab_id>
    <input type="submit" value="Yes, please delete this tab."> 
    </form>
</div>



<script>
$("#delete_tab_confirmation{{forloop.counter}}").hide();
$("#delete_tab{{forloop.counter}}").click(function () {
    $("#delete_tab{{forloop.counter}}").toggleClass("inactive").slideToggle("slow");
    });
</script>
    
				</div>
                              {%endfor%}
					</div>
