{%block hospi%}

<div id="hospi">
<div id = "content_top">
                	<div class = "content_container">
                    <div id = "lefttop">
			<img id="qOpen" src="http://www.shaastra.org/2011/media/main/img/quote_open.png"/>

                        <div id="shString">
			     
			</div>
						<img id="qClose_main" src="http://www.shaastra.org/2011/media/main/img/quote_close.png" style="float:right;margin-top :120px;  margin-right:25px"/> 			
                    </div>

                    </div>
                    <div class = "content_container">
                    <div id = "righttop">
			<div id = "img_contaner">
                        <img src = "{{MEDIA_URL}}js2/Media/Images/einstien.jpg" style = "padding-left : 5px;">
			</div>
			<div id = "righttopcontent">
			    This is Random Content Here. Please respect THE MAN! And this is how long this will go. This is a test for the back end
			    guys to figure out where each thing goes. thank you.
			</div>

                    </div>
                    </div>
                    <div class = "clearfloat"></div>
                </div>
                <div id = "content_bottom">
                	<div class = "content_container_2">
                    <div id = "leftbottom">
						<iframe style="position:absolute; top:8px; left:107px;" width="409" height="224" src="http://www.youtube.com/embed/YH-frgafQuU" frameborder="0" allowfullscreen></iframe>
                        
                    </div>

                    </div>
                    <div class = "content_container_2">
                    <div id = "rightbottom">
			<div id = "rightbottomcontent">
                        RIGHT BOTTOM Content Lies here. Not nice to say the least. But this is a decent template, which the backend
			guys can work with i hope :P
			</div>
                    </div>
                    </div>
                    <div class = "clearfloat"></div>

                    
                </div>



</div>


{%endblock%}
{%block spons_page%}
{%include "spons.html"%}
{%endblock%}
