

{%extends "index.html"%}
{%block body%}

<head>
<script type="text/javascript" src="{{MEDIA_URL}}AddClassKillClass.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}AttachEvent.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}AddCSS.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}tabtastic.js"></script>

</head>
<!--added the logout seperately -->
<div id="logout" align="right">
{%if user.is_authenticated%}
<form action= "{{SITE_URL}}/events/logout" method="POST">
<input type="submit" value="LOGOUT" />
</form>
{%endif%}
</div>


<!--{%for {{title}} in tab_list%}
<ul class="tabset_tabs">
   <li><a href="#go_here" class="active">{{title}}</a></li>
   {% if forloop.last and display_edit %}
   <li><a href="#go_to_edit" class="active">EDIT</a></li>   
   {%endif%}
</ul>

{%endfor%}-->
<div id="go_here" class="tabset_content">
<div id="event_name" align="center" >
<h1>{{event_name}}
</h1>
</div>
<table border="1">
    <tr>
        <td>tab-id</td>
        <td>tab-title</td>
        <td>tab-content</td>
        <td>tab-pref</td>
    </tr>
{% for row in tab_list %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.title}}</td>
        <td>{{row.text}}</td>
        <td>{{row.pref}}</td>
    </tr>
{% endfor %} 
</table>
</div>


{%endblock body%}
