<!--finally a working model for tabs. javascript from tabastic -->


<head>
<script type="text/javascript" src="AddClassKillClass.js"></script>
<script type="text/javascript" src="AttachEvent.js"></script>
<script type="text/javascript" src="AddCSS.js"></script>
<script type="text/javascript" src="tabtastic.js"></script>

</head>



{%for {{title}} in tab_list%}
<ul class="tabset_tabs">
   <li><a href="#go_here" class="active">{{title}}</a></li>
   {% if forloop.last and display_edit %}
   <li><a href="#go_to_edit" class="active">EDIT</a></li>   
   {%endif%}
</ul>

{%endfor%}
<div id="go_here" class="tabset_content">
<div id="event_name" align="center" >
<h1>{{event_name}}
</h1>
</div>
<table>
{% for row in tab_list %}
    <tr>
    
        <td>
            {{row.id}}
        </td>
        
        <td>
            {{row.title}}
        </td>
        
        <td>
            {{row.pref}}
        </td>
        
        <td>
           This is just a sample template
        </td>
        
        
        
        
    </tr>
{% endfor %} 
</table>
</div>



