
{%extends "index.html"%}
{%block body%}
<div align="center">
<h1>{{event_name}}
</h1>



<head>
<script type="text/javascript" src="{{MEDIA_URL}}AddClassKillClass.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}AttachEvent.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}AddCSS.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}tabtastic.js"></script>

</head>


<!--added the logout seperately -->

<div id="logout" align="right">
{%if user.is_authenticated%}
<form action= "{{SITE_URL}}/events/logout" method="POST">
<input type="submit" value="LOGOUT" />
</form>
{%endif%}
</div>



<ul class="tabset_tabs">

{% for row in tab_list %}
    {%if {{row.pref}}==0%}
   <li><a href="#go_here" class="active">{{row.title}}</a></li>
    {%else%}
     <li><a href="#go_here">{{row.title}}</a></li>
     {%endif%}  
   {% if forloop.last and display_edit %}
   <li><a href="#go_to_edit">EDIT</a></li>   
   {%endif%}

{%endfor%}
</ul>


<div id="go_here" class="tabset_content">
<div id="event_name" align="center" >
</div>
<p>{{row.text}}</p>
{%if display_edit%}
<ul class="tabset_tabs">
<table>
<tr>
        <td>
            <li><a href="#go_to_edit1">EDIT</a></li>
        </td>
        </tr>
        

         
</table>
</ul>
{%endif%}


</div>
</div>

<div id="go_to_edit" class="tabset_content">
<div align="center">
<form action="" method="post">
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit">
</form>
</div>
</div>

<div id="go_to_edit1" class="tabset_content">
<div align="center">
<form action="" method="post">
<table>
<tr>
<td>{{ form.text.label_tag }}</td>
<td>{{ form.text}}
</td>
</tr>

</table>
<input type="submit" value="Submit">
</form>
</div>
</div>
{%endblock body%}
