{% extends "index.html" %}
{%block event_categories%}{%endblock%}
{% block media_location %}

<!--
<div id="lefttop">
    <ul>
        {% for category in categories %}
            <li>
            {{ category.text }}
            <ul>
                {% for event in category.events %}
                    <li>
                        {{ event.name }}
                    </li>
                {% endfor %}
            </ul>
                <a href="{{SITE_URL}}events/menus/?menu_id={{menu.id}}">
                    {{ menu.text }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
-->

    var urls = new Array();

    {% for category in categories %}
        var k = new Array();
        {% for event in category.events %}
            k.push("{{event.image_src}}|`{{event.url}}");
        {% endfor %}
        urls.push(k);
    {% endfor %}    
    
{% endblock %}

