{% extends "index.html" %}

{% block body %}
<div id="login">
<div id="user_list">
    <h3>List of registered users</h3>
    <table id="user_details">
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>College</td>
            <td>Mobile number</td>
            <td>Email-id</td>
            <td>Shaastra ID</td>
        </tr>
        {% for u in users_list %}
            <tr>
                <td>{{ u.user.first_name }}</td>
                <td>{{ u.user.last_name }}</td>
                <td>{{ u.college.name }}</td>
                <td>{{ u.mobile_number }}</td>
                <td>{{ u.email_id }}</td>
                <td>{{ u.shaastra_id }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</div>
