{%extends "index.html" %}

{%block media_location%}
    <link rel="stylesheet" type="text/css" href= "http://www.shaastra.org/2011/media/main/css2/viewans.css">
    <script src="{{MEDIA_URL}}js2/js/sorttable.js"></script>
{%endblock%}

{%block body%}

<div id="file_list" style="overflow:auto;height:433px">


<div id="page_heading">
<h3>DISPLAYING THE SELECTED SUBMISSIONS</h3>
</div>
<div id="forms">
<form action="{{SITE_URL}}events/dashboard/ViewAnswers/" method="GET">

  <div class="button">
						  <a href="#">
                         <input type="submit" value="BACK TO ALL ANSWERS" />
                         </a><span></span>
                       </div>

</form>

<!-- to navigate to interesting answers -->

<form action="{{SITE_URL}}events/dashboard/ViewAnswers/" method="GET">
              <input type="hidden" value="3" name="selected"/>
                     
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="show interesting answers " />
                         </a><span></span>
                       </div>
</form> 

<!-- showing read answers -->
<form action="{{SITE_URL}}events/dashboard/ViewAnswers/" method="GET">
              <input type="hidden" value="2" name="selected"/>
                     
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="show read answers " />
                         </a><span></span>
                       </div>
</form> 

<!-- showing unread answers -->
<form action="{{SITE_URL}}events/dashboard/ViewAnswers/" method="GET">
              <input type="hidden" value="1" name="selected"/>
                     
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="show unread answers " />
                         </a><span></span>
                       </div>
</form> 

</div>



{%if is_team_event%}

<div id="file_team_">
 <b>Answers for questions of FILE type : </b><br/>
  <b><div style="color:red">IF LINK DOES NOT WORK COPY PASTE THE URL ON THE ADRESS BAR.</div> </b>
 </div>
    <div id="file_team">
        <center><table class="sortable">
 <tr>
 <th class="">NAME</th>
 <th class="">FILE</th>
 
        {% for answer in file_team%}
           
           {%if answer.sel%}
        <tr>   
            <td>
                {{answer.name}}
            </td>
            <td>
               <a href="{{answer.answers}}"> {{answer.answers}} </a>
            </td>
        </tr>
       
        
        
        {%endif%}
        {%endfor%}
        </table></center>
    </div>
     <div id="normal_team_">
      <b>Answers for questions of TEXT type : </b>
     </div>
     <div id="normal_team">
     <center><table>
        {% for text in normal_team%}
          {%if text.sel%}
        <tr>
           <td>
            {{text.name}}
            </td>
            <td>
            {{text.question}}
            </td>
            <td width="10px"></td>
            <td>
                {{text.answers}}
            </td>
        </tr>
        
           
        
        
        <tr height="10px"></tr><tr></tr>
        {%endif%}
        {%endfor%}
        </table></center>
    </div>
    
{%else%}
  <div id="file_individual_">
 <b>Answers for questions of FILE type : </b><br/>
 <b><div style="color:red">IF LINK DOES NOT WORK COPY PASTE THE URL ON THE ADRESS BAR.</div> </b>
  </div>

 <div id="file_individual">
 <center><table class="sortable">
 <tr>
 <th class="">NAME</th>
 <th class="">FILE</th>
 
 
   {% for answer in file_individual%}
   
   {%if answer.sel%}
     <tr>
         <td>{{answer.name}}</td>
        <td><a href="{{answer.answers}}"> {{answer.answers}}</a></td>
     </tr>
     
     
   
    {%endif%}
  {%endfor%}
  </table></center>
 </div>
       <div id="normal_individual_">
 <b>Answers for questions of TEXT type : </b>
 </div>
   <div id="normal_individual">
   <center><table>
    {% for text in normal_individual%}
    {%if text.sel%}
      <tr>
       <td>
        {{text.name}}
        </td>
        <td>
            {{text.question}}
        </td>
        <td width="10px"></td>
        <td>
            {{text.answers}}
        </td>
     </tr>
     
       
     
     <tr height="10px"></tr><tr></tr>
     {%endif%}
   {%endfor%}
    </table></center>
    </div>
       


{%endif%}



</div>
</div>
{%endblock%}
