{%extends "index.html" %}

{%block media_location%}
    <link rel="stylesheet" type="text/css" href= "http://www.shaastra.org/2011/media/main/css2/viewans.css">
    <script src="{{MEDIA_URL}}js2/js/sorttable.js"></script>
{%endblock%}

{%block body%}

<div id="file_list" style="overflow:auto;height:433px">


<div id="page_heading">
<h3>DISPLAYING THE SELECTED SUBMISSIONS</h3>
</div>
<div id="forms">
<form action="{{SITE_URL}}events/dashboard/ViewAnswers/" method="GET">

  <div class="button">
						  <a href="#">
                         <input type="submit" value="BACK TO ALL ANSWERS" />
                         </a><span></span>
                       </div>

</form>

<!-- to navigate to interesting answers -->

<form action="{{SITE_URL}}events/dashboard/ViewAnswers/" method="GET">
              <input type="hidden" value="3" name="selected"/>
                     
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="show interesting answers " />
                         </a><span></span>
                       </div>
</form> 

<!-- showing read answers -->
<form action="{{SITE_URL}}events/dashboard/ViewAnswers/" method="GET">
              <input type="hidden" value="2" name="selected"/>
                     
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="show read answers " />
                         </a><span></span>
                       </div>
</form> 

<!-- showing unread answers -->
<form action="{{SITE_URL}}events/dashboard/ViewAnswers/" method="GET">
              <input type="hidden" value="1" name="selected"/>
                     
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="show unread answers " />
                         </a><span></span>
                       </div>
</form> 

</div>
<table>
{% for names in names_list%}
<tr><td>

{%if names.sel%}
{% if is_team_event %}

 <a href="{{SITE_URL}}events/ViewAnswers/Answers/{{names.name_id}}" />{{names.name}}</a>
{%else%}
   <a href="{{SITE_URL}}events/ViewAnswers/Answers/{{names.name_id}}" />{{names.name}}</a>
   {%endif%}
   {%endif%}
</tr></td>

{% endfor%}
</table>
</div>

</div>
{%endblock%}
