{% extends "index.html" %}
{%block event_categories%}{%endblock%}
{%block gradient%}{%include "gradient.html"%}{%endblock%}
{% block body %}
<div id="login">
<div id="user_list">
	<script type="text/javascript"> $("#page1").css({'overflow':'scroll'}); </script>
	
    <h3>List of registered users</h3><br>
    <table id="user_details" border="1">
        <tr>
            <td style="font-family:Tahoma; padding:5px; font-size:18px; border-radius:0px; color:#000;" >Username</td>
<!--             <td>First Name</td> -->
<!--             <td>Last Name</td> -->
            <td style="font-family:Tahoma; padding:5px; font-size:18px; border-radius:0px; color:#000;">College</td>
            <td style="font-family:Tahoma; padding:5px; font-size:18px; border-radius:0px; color:#000;">Mobile number</td>
<!--             <td>Email-id</td> -->
            <td style="font-family:Tahoma; padding:5px; font-size:18px; border-radius:0px; color:#000;">Shaastra ID</td>
			<td style="font-family:Tahoma; padding:5px; font-size:18px; border-radius:0px; color:#000;">Select for Next-Round</td>
			<td style="font-family:Tahoma; padding:5px; font-size:18px; border-radius:0px; color:#000;">Rank</td>
			<td style="font-family:Tahoma; padding:5px; font-size:18px; border-radius:0px; color:#000;">Forward for Accommodation</td>
        </tr>
        {% for u in users_list %}
            <tr>
                <td>{{ u.user.username }}</td>
<!--                 <td>{{ u.user.first_name }}</td> -->
<!--                 <td>{{ u.user.last_name }}</td> -->
                <td>{{ u.college.name }}</td>
                <td>{{ u.mobile_number }}</td>
<!--                 <td>{{ u.email }}</td> -->
                <td>{{ u.shaastra_id }}</td>
				<td> <input type="checkbox" name="" value="" /> </td>
				<td style="padding:2px;"> <input type="text" size="6" style="padding:3px; background-color:#fafafa" /> </td>
				<td> <input type="checkbox" name="" value="" /> </td>
            </tr>
        {% endfor %}
    </table>
	<br>
		<div class="button2">
			<a href="#">
				<input type="submit" value="Save Changes" />
			</a>
			<span></span>
		</div><br>
</div>
</div>
{%endblock%}
