<!--<script type="text/javascript">
	function ValidateSubmission(){
		var i=0,checked = false, len=0, fileExt;
		if(document.getElementById('answer1')){
			for(i=0; i<document.form1.answer1.length; i++)	if(document.form1.answer1[i].checked) checked = true;
			if(!checked){
				alert("No answer to Question 1. Plese check the appropriate radio button.");
				return false;
			}
		}
		
		if(document.getElementById('answer2')){
			if(document.form1.answer2.value.length == 0 ){
				alert("The textarea cannot be left empty.");
				return false;
			}
			if(document.form1.answer3.value.length == 0 ){
				alert("Please select the file to upload.");
				return false;
			}
		}
			
		if(document.getElementById('answer3')){
			len=document.form1.answer3.value.length;
			fileExt = document.form1.answer3.value[len - 3] + document.form1.answer3.value[len - 2] + document.form1.answer3.value[len - 1];
			if(fileExt == "exe" || fileExt == "dll" ){
				alert("Files of the type *.exe, *.dll are not allowed to be uploaded.");
				return false;
			}
		}
		document.form1.submit();		
	}
</script>-->
<p><font size="3" color="red">testing the display..You will be able to submit answers to the questions soon. Please watch this space for more updates.</font></p>

<form action ='' method='POST' enctype="multipart/form-data" name="form1">
{% csrf_token %}
{% for ques in ques_list %}
<div id="Ques{{ques.Q_Number}}">
<!--     <a href="#Question{{ques.Q_Number}}">{{ques.Q_Number|safe}}. {{ques.title|safe}}</a><br/> -->
    <br/>{{ques.Q_Number|safe}}. {{ques.title|safe}}<br/>
    </div>
    
    <input type="hidden" value="{{ques.id}}" name= "question{{ques.Q_Number}}" />
    <div id="Question{{ques.Q_Number}}">
        {% if ques.question_type == "NORMAL" %}
        <div id="normal_question">
        <input type="hidden" value="NORMAL" name="type{{ques.Q_Number}}"/>
        <textarea id = "answer{{ques.Q_Number}}" name = "answer{{ques.Q_Number}}" rows="6" cols="40" > 
            {% if already_submitted %}
                 {{ answers.forloop.counter0 }} 
                
                {% for ans in answers%}
                {{forloop.counter0}}
                {{ans.text}}
                    <!--{% if ans.question == ques %}
                        {{ans.text}}
                    {% endif%}-->
                {% endfor %}
                
            {% endif %}
        </textarea><br/>
        </div>
        {% endif %}
        {% if ques.question_type == "MCQ" %}
        <input type="hidden" value="MCQ" name="type{{ques.Q_Number}}"/>
        <p>This is a multiple choice question. Please select your choice and click on "Submit".</p>
        <p> This will be functional soon.</p>
        <div id="mcq_question">
        <table border="1">
            {% csrf_token %}
            {%for options in options_list %}
                {%if options.question == ques %}
                    {% if already_submitted and option == answers.forloop.counter0.choice %}
                        <tr><td>{{options.option}}</td><td><input type="radio" id = "answer{{ques.Q_Number}}" name = "answer{{ques.Q_Number}}" checked = "checked" value="{{options.id}}"/></td><td>{{options.text}}</td></tr>          
                    {% else %}
                        <tr><td>{{options.option}}</td><td><input type="radio" id = "answer{{ques.Q_Number}}" name = "answer{{ques.Q_Number}}" value="{{options.id}}"/></td><td>{{options.text}}</td></tr>
                    {% endif %}
                {%endif%}
            {%endfor%}
        </table>
        </div>            
        {% endif %}
        {% if ques.question_type == "FILE" %}
            {% if already_submitted %}
                Previously submitted file: <a href="{{answers.forloop.counter0}}"></a>
            {% endif %}
            <input type="hidden" value="FILE" name="type{{ques.Q_Number}}"/>
            <p> Choose the file you want to upload and click on "Upload".</p>
            <p> <font color = "red">This will be functional soon.</font></p>
            <br/>
            <input type="file" id = "answer{{ques.Q_Number}}" name = "answer{{ques.Q_Number}}" size="30"><br/>
        {% endif %}
    </div>         
{%endfor%}      


{% if user.is_authenticated %}
<!-- <input type="button" value="Submit Answers" onclick="ValidateSubmission();"> -->
<input type="submit" value="Submit Answers" >
{% endif %}

</form>
<br><div style="width:730px; border:solid 0.5mm #999;"></div><br>
