<!--<script type="text/javascript">
	function ValidateSubmission(){
		var i=0,checked = false, len=0, fileExt;
		if(document.getElementById('answer1')){
			for(i=0; i<document.form1.answer1.length; i++)	if(document.form1.answer1[i].checked) checked = true;
			if(!checked){
				alert("No answer to Question 1. Plese check the appropriate radio button.");
				return false;
			}
		}
		
		if(document.getElementById('answer2')){
			if(document.form1.answer2.value.length == 0 ){
				alert("The textarea cannot be left empty.");
				return false;
			}
			if(document.form1.answer3.value.length == 0 ){
				alert("Please select the file to upload.");
				return false;
			}
		}
			
		if(document.getElementById('answer3')){
			len=document.form1.answer3.value.length;
			fileExt = document.form1.answer3.value[len - 3] + document.form1.answer3.value[len - 2] + document.form1.answer3.value[len - 1];
			if(fileExt == "exe" || fileExt == "dll" ){
				alert("Files of the type *.exe, *.dll are not allowed to be uploaded.");
				return false;
			}
		}
		document.form1.submit();		
	}
</script>-->
{% if saved %}
    <p><font size="3" color="green"> Your answers have been saved!</font></p>
{% endif %}

{% if user.is_authenticated %}
    {% if not part_of_a_team %}
        <br />
        <p>Please create a team in order to save answers</p>
        <p><a href="{{ SITE_URL }}myshaastra/teams/create/{{ event.id }}/">Create a team</a></p>
    {% endif %}
{% endif %}

<form action ='' method='POST' enctype="multipart/form-data" name="form1">
{% csrf_token %}
{% for ques in ques_list %}
{{ forloop.counter }}
{ { answers.{{forloop.counter}} } } = {{answers.{{forloop.counter}} }}</br>
{ { answers.forloop.counter.text } } = {{answers.forloop.counter.text}}</br>
{ { answers.forloop.counter.File } } = {{answers.forloop.counter.File}}</br>
{ { answers.forloop.counter.choice.option } } = {{answers.forloop.counter.choice.option}} {{answers.forloop.counter.choice.text}}</br>
{% endfor %}
{% for ans in answers %}
    { { ans } } = {{ans}}</br>
    { { ans.text } } = {{ans.text}}</br>
    { { ans.File } } = {{ans.File}}</br>
    { { ans.choice.option } } = {{ans.choice.option}} {{ans.choice.text}}</br>
{% endfor %}
{% for ques in ques_list %}
<div id="Ques{{ques.Q_Number}}">
<!--     <a href="#Question{{ques.Q_Number}}">{{ques.Q_Number|safe}}. {{ques.title|safe}}</a><br/> -->
    <br/>{{ques.Q_Number|safe}}. {{ques.title|safe}}<br/>
    </div>
    
    <input type="hidden" value="{{ques.id}}" name= "question{{ques.Q_Number}}" />
    <div id="Question{{ques.Q_Number}}">
        {% if ques.question_type == "NORMAL" %}
        <div id="normal_question">
        <input type="hidden" value="NORMAL" name="type{{ques.Q_Number}}"/>
        
            {% if already_submitted %}                
                {% for ans in answers%}
                    {% if ans.question == ques %}
                        <textarea id = "answer{{ques.Q_Number}}" name = "answer{{ques.Q_Number}}" rows="6" cols="40" >{{ans.text}}</textarea>
                    {% endif%}
                {% endfor %}
            {% else %}
                <textarea id = "answer{{ques.Q_Number}}" name = "answer{{ques.Q_Number}}" rows="6" cols="40" ></textarea>
            {% endif %}
        </div>
        {% endif %}
        {% if ques.question_type == "MCQ" %}
        <input type="hidden" value="MCQ" name="type{{ques.Q_Number}}"/>
        <p>This is a multiple choice question. Please select your choice and click on "Submit".</p>
        <p> This will be functional soon.</p>
        <div id="mcq_question">
        <table border="1">
            {% csrf_token %}
            {%for options in options_list %}
                {%if options.question == ques %}
                    {% if already_submitted %} 
                        {% for ans in answers %}
                            {% if ans.question == ques and ans.choice == options %}
                                <tr><td>{{options.option}}</td><td><input type="radio" id = "answer{{ques.Q_Number}}" name = "answer{{ques.Q_Number}}" checked = "checked" value="{{options.id}}"/></td><td>{{options.text}}</td></tr>
                            {% else %}
                                <tr><td>{{options.option}}</td><td><input type="radio" id = "answer{{ques.Q_Number}}" name = "answer{{ques.Q_Number}}" value="{{options.id}}"/></td><td>{{options.text}}</td></tr>          
                            {% endif %}
                        {% endfor%}
                    {% else %}
                        <tr><td>{{options.option}}</td><td><input type="radio" id = "answer{{ques.Q_Number}}" name = "answer{{ques.Q_Number}}" value="{{options.id}}"/></td><td>{{options.text}}</td></tr>
                    {% endif %}
                {%endif%}
            {%endfor%}
        </table>
        </div>            
        {% endif %}
        {% if ques.question_type == "FILE" %}
            {% if already_submitted  %}
                {% for ans in answers %}
                    {% if ans.question == ques and ans != "No file answer" %}
                        Previously submitted file: <a href="{{ans.text}}">{{ans.File}}</a>
                    {% endif%}
                {% endfor %}
            {% endif %}
            <input type="hidden" value="FILE" name="type{{ques.Q_Number}}"/>
            <p> Choose the file you want to upload and click on "Upload".</p>
            <p> <font color = "red">This will be functional soon.</font></p>
            <br/>
            <input type="file" id = "answer{{ques.Q_Number}}" name = "answer{{ques.Q_Number}}" size="30"><br/>
        {% endif %}
    </div>         
{%endfor%}      

{% if event.accommodation %}
<!-- Want accommodation button -->
<div id="hospi_checkbox">
<table>
    <tr>
        <th><label for="hospi">Apply for accommodation in IIT Madras</label></th>
        <td><input type="checkbox" name="want_hospi" /></td>
    </tr>
    <tr>
        <span class="helptext">Checking this option DOES NOT GUARANTEE accommodation inside IIT Madras during Shaastra 2011. The Hospitality Department will get in touch with you or your team if your accommodation is confirmed</span>
    </tr>
</table>
{% endif %}

{% if user.is_authenticated %}
<!-- <input type="button" value="Submit Answers" onclick="ValidateSubmission();"> -->
<input type="submit" value="Submit Answers" >
{% endif %}

</form>
<br><div style="width:730px; border:solid 0.5mm #999;"></div><br>
