{%extends "index.html" %}

{%block body%}


<div id="file_list" style="overflow:auto;height:433px">
<!-- the buttons to view interesting answers-->
<form style="position:absolute; top:10px; left:20px;" action="{{SITE_URL}}events/dashboard/ViewAnswers/" method="GET">
              <input type="hidden" value="3" name="selected"/>
                     
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="show interesting answers " />
                         </a><span></span>
                       </div>
</form> 
<!-- showing selected answers -->
<form style="position:absolute; top:10px; left:270px;" action="{{SITE_URL}}events/dashboard/ViewAnswers/" method="GET">
              <input type="hidden" value="4" name="selected"/>
                     
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="show selected answers " />
                         </a><span></span>
                       </div>
</form> 



<!-- showing read answers -->
<form style="position:absolute; top:10px; left:520px;" action="{{SITE_URL}}events/dashboard/ViewAnswers/" method="GET">
              <input type="hidden" value="2" name="selected"/>
                     
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="show read answers " />
                         </a><span></span>
                       </div>
</form> 

<!-- showing unread answers -->
<form style="position:absolute; top:10px; left:750px;" action="{{SITE_URL}}events/dashboard/ViewAnswers/" method="GET">
              <input type="hidden" value="1" name="selected"/>
                     
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="show unread answers " />
                         </a><span></span>
                       </div>
</form> 





{%if is_team_event%}

<div id="file_team_">
 <b>Answers for questions of FILE type : </b><br/>
  <b><div style="color:red">IF LINK DOES NOT WORK COPY PASTE THE URL ON THE ADRESS BAR.</div> </b>
 </div>
    <div id="file_team">
        <table>
        {% for answer in file_team%}

        <tr>   
            <td>
                {{answer.name}}
            </td>
            <td>
               <a href="{{answer.answers}}"> {{answer.answers}} </a>
            </td>
        </tr>
        <tr>
     <td>
            <form action="{{SITE_URL}}events/dashboard/ViewAnswers/MarkInteresting" method="GET">
              <input type="hidden" value="{{answer.id}}" name="submission_id"/>
                     {%if not answer.interesting%}
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="mark as interesting " /><span></span>
                         </a>
                       </div>
                     {%else%}
                       <div class="button2">
						  <a href="#"><input type="submit" value="unmark as interesting"/><span></span></a>
						</div>
        
                    {%endif%}</form> 
      </td>
      
      <!-- mark as selected -->
      <td>
            <form action="{{SITE_URL}}events/dashboard/ViewAnswers/MarkSelected" method="GET">
              <input type="hidden" value="{{answer.id}}" name="submission_id"/>
                     {%if not answer.sel%}
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="mark as selected " /><span></span>
                         </a>
                       </div>
                     {%else%}
                       <div class="button2">
						  <a href="#"><input type="submit" value="unmark as selected"/><span></span></a>
						</div>
        
                    {%endif%}</form> 
      </td>
      
      
      <!-- mark as read -->
      <td>
            <form action="{{SITE_URL}}events/dashboard/ViewAnswers/MarkRead" method="GET">
              <input type="hidden" value="{{answer.id}}" name="submission_id"/>
                     {%if not answer.read%}
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="mark as read " /><span></span>
                         </a>
                       </div>
                     {%else%}
                       <div class="button2">
						  <a href="#"><input type="submit" value="mark as unread"/><span></span></a>
						</div>
        
                    {%endif%}</form> 
      </td>
      
      
      
      
      
      
      </tr>  
        
        
        
        <tr height="10px"></tr><tr></tr>
        
        {%endfor%}
        </table>
    </div>
     <div id="normal_team_">
      <b>Answers for questions of TEXT type : </b>
     </div>
     <div id="normal_team">
     <table>
        {% for text in normal_team%}
        <tr>
           <td>
            {{text.name}}
            </td>
            <td>
            {{text.question}}
            </td>
            <td width="10px"></td>
            <td>
                {{text.answers}}
            </td>
        </tr>
        
           <tr>
     <td>
            <form action="{{SITE_URL}}events/dashboard/ViewAnswers/MarkInteresting" method="GET">
              <input type="hidden" value="{{answer.id}}" name="submission_id"/>
                     {%if not answer.interesting%}
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="mark as interesting " /><span></span>
                         </a>
                       </div>
                     {%else%}
                       <div class="button2">
						  <a href="#"><input type="submit" value="unmark as interesting"/><span></span></a>
						</div>
        
                    {%endif%}</form> 
      </td>
      
      
      <!-- mark as selected -->
      <td>
            <form action="{{SITE_URL}}events/dashboard/ViewAnswers/MarkSelected" method="GET">
              <input type="hidden" value="{{answer.id}}" name="submission_id"/>
                     {%if not answer.sel%}
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="mark as selected " /><span></span>
                         </a>
                       </div>
                     {%else%}
                       <div class="button2">
						  <a href="#"><input type="submit" value="unmark as selected"/><span></span></a>
						</div>
        
                    {%endif%}</form> 
      </td>
      
      
      <!-- mark as read -->
      <td>
            <form action="{{SITE_URL}}events/dashboard/ViewAnswers/MarkRead" method="GET">
              <input type="hidden" value="{{answer.id}}" name="submission_id"/>
                     {%if not answer.read%}
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="mark as read " /><span></span>
                         </a>
                       </div>
                     {%else%}
                       <div class="button2">
						  <a href="#"><input type="submit" value="mark as unread"/><span></span></a>
						</div>
        
                    {%endif%}</form> 
      </td>
      
      
      
      
      
      </tr>  
        
        
        
        
        
        
        <tr height="10px"></tr><tr></tr>
        {%endfor%}
        </table>
    </div>
    <div id="mcq_team_">
       <b>Answers for questions of MCQ type : </b>
    </div>
    <div id="mcq_team">
    <table>
        {% for choice in mcq_team%}
          <tr>
            <td>
            {{choice.name}}
            </td>    
            <td>
               {{choice.question|safe}}
            </td>
            <td width="10px"></td>
            <td>
                {{choice.answers}}
            </td>
         </tr>
         
                  
         
         <tr height="10px"></tr><tr></tr>
        {%endfor%}
        </table>
    </div>
{%else%}
  <div id="file_individual_">
 <b>Answers for questions of FILE type : </b><br/>
 <b><div style="color:red">IF LINK DOES NOT WORK COPY PASTE THE URL ON THE ADRESS BAR.</div> </b>
  </div>

 <div id="file_individual">
 <table>
 
   {% for answer in file_individual%}
     <tr>
         <td >{{answer.name}}</td>
        <td><a href="{{answer.answers}}"> {{answer.answers}}</a></td>
     </tr>
     
     <tr>
     <td style="width:200px;">
            <form action="{{SITE_URL}}events/dashboard/ViewAnswers/MarkInteresting" method="GET">
              <input type="hidden" value="{{answer.id}}" name="submission_id"/>
                     {%if not answer.interesting%}
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="mark as interesting " /><span></span>
                         </a>
                       </div>
                     {%else%}
                       <div class="button2">
						  <a href="#"><input type="submit" value="unmark as interesting"/><span></span></a>
						</div>
        
                    {%endif%}</form> 
      </td>
      
          <!-- mark as selected -->
      <td style="width:600px;">
            <form action="{{SITE_URL}}events/dashboard/ViewAnswers/MarkSelected" method="GET">
              <input type="hidden" value="{{answer.id}}" name="submission_id"/>
                     {%if not answer.sel%}
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="mark as selected " />
                         </a><span></span>
                       </div>
                     {%else%}
                       <div class="button2">
						  <a href="#"><input type="submit" value="unmark as selected"/></a><span></span>
						</div>
        
                    {%endif%}</form> 
      </td>
        
      
      <!-- mark as read -->
      <td style="width:200px;">
            <form action="{{SITE_URL}}events/dashboard/ViewAnswers/MarkRead" method="GET">
              <input type="hidden" value="{{answer.id}}" name="submission_id"/>
                     {%if not answer.read%}
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="mark as read " />
                         </a><span></span>
                       </div>
                     {%else%}
                       <div class="button2">
						  <a href="#"><input type="submit" value="mark as unread"/><span></span></a>
						</div>
        
                    {%endif%}</form> 
      </td>
      
      
      
      </tr>  
    <tr height="10px"></tr><tr></tr>
  {%endfor%}
  </table>
 </div>
       <div id="normal_individual_">
 <b>Answers for questions of TEXT type : </b>
 </div>
   <div id="normal_individual">
   <table>
    {% for text in normal_individual%}
      <tr>
       <td>
        {{text.name}}
        </td>
        <td>
            {{text.question}}
        </td>
        <td width="10px"></td>
        <td>
            {{text.answers}}
        </td>
     </tr>
     
        <tr>
     <td>
            <form action="{{SITE_URL}}events/dashboard/ViewAnswers/MarkInteresting" method="GET">
              <input type="hidden" value="{{answer.id}}" name="submission_id"/>
                     {%if not answer.interesting%}
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="mark as interesting " /><span></span>
                         </a>
                       </div>
                     {%else%}
                       <div class="button2">
						  <a href="#"><input type="submit" value="unmark as interesting"/><span></span></a>
						</div>
        
                    {%endif%}</form> 
      </td>
      
      <!-- mark as selected -->
      <td>
            <form action="{{SITE_URL}}events/dashboard/ViewAnswers/MarkSelected" method="GET">
              <input type="hidden" value="{{answer.id}}" name="submission_id"/>
                     {%if not answer.sel%}
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="mark as selected " /><span></span>
                         </a>
                       </div>
                     {%else%}
                       <div class="button2">
						  <a href="#"><input type="submit" value="unmark as selected"/><span></span></a>
						</div>
        
                    {%endif%}</form> 
      </td>
      
      
      <!-- mark as read -->
      <td>
            <form action="{{SITE_URL}}events/dashboard/ViewAnswers/MarkRead" method="GET">
              <input type="hidden" value="{{answer.id}}" name="submission_id"/>
                     {%if not answer.read%}
                       <div class="button">
						  <a href="#">
                         <input type="submit" value="mark as read " /><span></span>
                         </a>
                       </div>
                     {%else%}
                       <div class="button2">
						  <a href="#"><input type="submit" value="mark as unread"/><span></span></a>
						</div>
        
                    {%endif%}</form> 
      </td>
      
      
      
      </tr>  
     
     
     
     
     <tr height="10px"></tr><tr></tr>
   {%endfor%}
    </table>
    </div>
       <div id="mcq_individual_">
 <b>Answers for questions of MCQ type : </b>
 </div>
    <div id="mcq_individual">
    <table>
    {% for choice in mcq_individual%}
      <tr>
        <td>
            {{choice.name}}
        </td>
        <td>
            {{choice.question|safe}}
        </td>
        <td width="10px"></td>
        <td>
            {{choice.answers}}
        </td>
   
        </tr><tr height="10px"></tr><tr></tr>
    {%endfor%}
    </table>
   </div> 
    


{%endif%}



</div>
</div>
{%endblock%}
