{%extends "index.html" %}

{%block body%}

<div id="file_list" style="overflow:auto;height:433px">




{%if is_team_event%}

<div id="file_team_">
 <b>Answers for questions of FILE type : </b><br/>
  <b><div style="color:red">IF LINK DOES NOT WORK COPY PASTE THE URL ON THE ADRESS BAR.</div> </b>
 </div>
    <div id="file_team">
        <table>
        {% for answer in file_team%}

        <tr>   
            <td>
                {{answer.name}}
            </td>
            <td>
                {{answer.answers|urlize}}
            </td>
        </tr><tr height="10px"></tr><tr></tr>

    
        {%endfor%}
        </table>
    </div>
     <div id="normal_team_">
      <b>Answers for questions of TEXT type : </b>
     </div>
     <div id="normal_team">
     <table>
        {% for text in normal_team%}
        <tr>
           <td>
            {{text.name}}
            </td>
            <td>
            {{text.question}}
            </td>
            <td width="10px"></td>
            <td>
                {{text.answers}}
            </td>
        </tr><tr height="10px"></tr><tr></tr>
        {%endfor%}
        </table>
    </div>
    <div id="mcq_team_">
       <b>Answers for questions of MCQ type : </b>
    </div>
    <div id="mcq_team">
    <table>
        {% for choice in mcq_team%}
          <tr>
            <td>
            {{choice.name}}
            </td>    
            <td>
               {{choice.question|safe}}
            </td>
            <td width="10px"></td>
            <td>
                {{choice.answers}}
            </td>
         </tr><tr height="10px"></tr><tr></tr>
        {%endfor%}
        </table>
    </div>
{%else%}
  <div id="file_individual_">
 <b>Answers for questions of FILE type : </b><br/>
 <b><div style="color:red">IF LINK DOES NOT WORK COPY PASTE THE URL ON THE ADRESS BAR.</div> </b>
  </div>

 <div id="file_individual">
 <table>
   {% for answer in file_individual%}
     <tr>
       <td>
            {{answer.name}}
        </td>
        <td>
            {{answer.answers|urlize}}
        </td>
    </tr><tr height="10px"></tr><tr></tr>
  {%endfor%}
  </table>
 </div>
       <div id="normal_individual_">
 <b>Answers for questions of TEXT type : </b>
 </div>
   <div id="normal_individual">
   <table>
    {% for text in normal_individual%}
      <tr>
       <td>
        {{text.name}}
        </td>
        <td>
            {{text.question}}
        </td>
        <td width="10px"></td>
        <td>
            {{text.answers}}
        </td>
     </tr><tr height="10px"></tr><tr></tr>
   {%endfor%}
    </table>
    </div>
       <div id="mcq_individual_">
 <b>Answers for questions of MCQ type : </b>
 </div>
    <div id="mcq_individual">
    <table>
    {% for choice in mcq_individual%}
      <tr>
        <td>
            {{choice.name}}
        </td>
        <td>
            {{choice.question|safe}}
        </td>
        <td width="10px"></td>
        <td>
            {{choice.answers}}
        </td>
   
        </tr><tr height="10px"></tr><tr></tr>
    {%endfor%}
    </table>
   </div> 
    


{%endif%}



</div>
</div>
{%endblock%}
