{%extends "index.html" %}

{%block body%}

<div id="file_list" style="overflow:auto;height:433px">


<table>
{%if is_team_event%}
{% for answer in team_name%}


<tr>
   
   <td>
   {{answer|urlize}}
   
   </td>
   
   </tr>
{%endfor%}

{% for choice in mcq_team%}


<tr>
   
   <td>
   {{choice}}
   
   </td>
   
   </tr>
{%endfor%}

{%else%}
{% for answer in person_name%}


<tr>
   
   <td>
   {{answer|urlize|slugify}}
   
   </td>
   
   </tr>
{%endfor%}


{% for choice in mcq_individual%}


<tr>
   
   <td>
   {{choice}}
   
   </td>
   
   </tr>
{%endfor%}


{%endif%}


</table>
</div>
</div>
{%endblock%}
