* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family : "Century Gothic";
	font-size :14px;
	color : #183C5A;
min-width : 1200px;
min-height : 100%;
    
    width : 100%;
    height : 100%;
}

#container {
	min-width : 1200px;
    width: 100%;
    height: 100%;
    
}

#header {
	background : url("http://shaastra.org/2011/media/main/js2/Media/Images/header_bg_repeatable.jpg");
	background-repeat :repeat-x;
    height : 160px;
    width : 100%;
    
}

/* ----- HEADER CONTAINERS ---- */

#logos_container {
    width : 26.25%;
    height : 115px;
    
    text-align : center;
    float: left;
}

#navbar_container {
    width : 57.5%;
    height : 115px;
    
    text-align : center;
    float: left;
}

#spons_container {
    width : 15.25%;
    height : 115px;
    
    text-align: center;
    float: left;
}

#updates_container {
    width : 62.5%;
    height : 50px;
    position:relative;
    top :-2px;
    float: left;
    
    text-align: center;
}
 
#social_container {
    width : 36%;
    height : 40px;
    
    float: left;
    text-align: center;
}

.clearfloat {
	clear: both;
}

/* ----- END OF HEADER CONTAINERS ---- */

#logos {
    width : 300px;
    height : 115px;
  
    margin: auto;
}
#social>img{
	margin-top:6px;
}
#navbar  {
    width : 90%;
    height : 100%;
    
    margin: auto;
}

#spons {
    width : 100%;
    height : 115px;
    float:left;
    margin: auto;
}

#updates {
	width: 100%;
	height: 46px;
	text-align :left;
	background : url('http://www.shaastra.org/2011/media/main/js2/Media/Images/updates_bar_repeatable.jpg');
	background-repeat : repeat-x;
	margin: auto;
}

#social {
	padding-left : 30px;
	width: 80%;
	height: 40px;
	position:relative;
	top :5px;
	text-align:left;
	margin: auto;
}
#logandsearch{
	
	margin-left : auto;
	margin-right : auto;
	float:left;
	width : 49.34%;

}
#login{
	position:relative;
	top :35px;
	left: -20px;
}
#sgnup{
	position:relative;
	top :32px;
	left : -5px;
}
#srimg{
	position:relative;
	left : 30px;
	top:26px;
}
#search{
	position:relative;
	left : 270px;
	top :3px;
	color : #183F5A;
	letter-spacing : 1px;
	border-top : 2px solid #CCC;
	border-right : 1px solid #DDD;
}
.nclass{
	position:relative;
	top:8px;
}
.navig{
	color : #183F5A;
	border-bottom : 1px solid #CCC;
	display:block;
	float:left;
	margin-right:auto;
	margin-left:auto;
	width : 119px;
	height : 41px;
	vertical-align : middle;
	letter-spacing:0px;
	font-family :"Century Gothic";
	
	text-decoration:none;
	background-position : 0;
	background-repeat:no-repeat;
	background : url('http://www.shaastra.org/2011/media/main/js2/Media/Images/nav_bar_sprite.jpg');
}
.navig:hover{
		background-position : 0px 43px ;
		color : #FFF;

}

/* ----- END OF HEADER ---- */

#content {
    width : 100%; 
    height : auto;
    overflow:hidden;
    min-width : 1200px;
    min-height : 400px;
	position:relative;
	top:0;
	left:0;
}

#content_top{
    width : 100%;
    height : 185px;
    padding-top : 2px;
    
}

#content_bottom{
	position:relative;
	top : -15px;
    width : 100%;
    padding-bottom : 1px;
    height : 245px;
    
}

.content_container {
	float: left;
	text-align: center;
	width: 50%;
	height: 175px;
}
.content_container_2 {
	float: left;
	text-align: center;
	width: 50%;
	height: 245px;
}

#lefttop{
	
    width : 80%;
    height : 100%;
	text-align : left;
	padding-left : 15px;
    margin-left: auto;
    margin-right: auto;
}
#img_contaner{
	float:left;
	width : 30%;
	height:100%;

	margin-left:auto;
	margin-right:auto;
}
#righttopcontent{
	padding-left : 15px;
	float:left;
	width : 70%;
	height:80%;
	margin-top : 10px;
	margin-left:-60px;
	margin-right:auto;
}
#righttop{
	
    width : 100%;
    height : 100%;
    text-align:left;
    margin-left: auto;
    margin-right: auto;
}

#leftbottom{
    width : 90%;
    height : 100%;

    margin-left: auto;
    margin-right: auto;
}
#rightbottomcontent{
	width : 70%;
	height : 80%;
}
#rightbottom{
    width : 95%;
    height : 100%;
    background : url('http://www.shaastra.org/2011/media/main/js2/Media/Images/border.png');
    background-repeat :no-repeat;
    margin-left: auto;
    text-align : left;
    padding-left : 25px;
    margin-right: auto;
}
.flinks{
	cursor:pointer;
	position:relative;
	top:7px;
	display:block;
	float:left;
	margin-left : auto;
	margin-right : auto;
	padding-left : 15px;
	padding-right : 15px;
}
.flinks:hover{
	top : 0px;
}
#pp{
	width : 110px;
	height : 16px;
	margin-left : auto;
	margin-right : auto;
	
	background : url('http://www.shaastra.org/2011/media/main/js2/Media/Images/pp_spr.png');
	background-position : 0px bottom;
	background-repeat : no-repeat;
}
#pp:hover{
	height : 28px;
	background-position : 0px 0px;
}
#con{
	
width : 65px;
	height : 12px;
	margin-left : auto;
	margin-right : auto;
	
	background : url('http://www.shaastra.org/2011/media/main/js2/Media/Images/con_spr.png');
	background-position : 0px bottom;
	background-repeat : no-repeat;
	
}
#con:hover{
	height : 23px;
	background-position : 0px 0px;
}
#mys{
	width : 80px;
	height : 16px;
	margin-left : auto;
	margin-right : auto;
	
	background : url('http://www.shaastra.org/2011/media/main/js2/Media/Images/mys_spr.png');
	background-position : 0px bottom;
	background-repeat : no-repeat;

}
#mys:hover{
	height : 26px;
	background-position : 0px -3px;
}

#cre
{
width : 110px;
	height : 12px;
	margin-left : auto;
	margin-right : auto;
	
	background : url('http://www.shaastra.org/2011/media/main/js2/Media/Images/cre_spr.png');
	background-position : 0px bottom;
	background-repeat : no-repeat;
	
}
#cre:hover
{
	height : 23px;
	background-position : 0px 0px;
}
#blo{
	
width : 35px;
	height : 15px;
	margin-left : auto;
	margin-right : auto;
	
	background : url('http://www.shaastra.org/2011/media/main/js2/Media/Images/blo_spr.png');
	background-position : 0px bottom;
	background-repeat : no-repeat;

}
#blo:hover{
	height : 26px;
	background-position:0px -3px;
}
#med{
width : 45px;
	height : 12px;
	margin-left : auto;
	margin-right : auto;
	
	background : url('http://www.shaastra.org/2011/media/main/js2/Media/Images/med_spr.png');
	background-position : 0px bottom;
	background-repeat : no-repeat;
	
}
#med:hover{
	height : 24px;
	background-position : 0px 0px;
}
#footer_container{
min-width : 1200px;
    width : 100%;
    background : url('http://www.shaastra.org/2011/media/main/js2/Media/Images/footer_bg.png');    
    height : 40px;
    z-index:48;
    text-align: center;
    
}

#footerlinks{    
    width : 700px;
    height : 90%;
position:relative;
top:10px;
    margin-left: auto;
    margin-right: auto;
}
#eve{
	height:32px;
	width : 45px;

	position:relative;
	top : -2px;
	background: url('http://www.shaastra.org/2011/media/main/js2/Media/Images/footer_events.png');
		background-repeat:no-repeat;
}

#fb{
  background:url("Media/Images/social_sprites.png") 0 0;
  width:37px;
  height:34px;
  display:block;
}
#fb:hover{background:url("http://www.shaastra.org/2011/media/main/js2/Media/Images/social_sprites.png") 0 -34px;}

#youtube{
  background:url("http://www.shaastra.org/2011/media/main/js2/Media/Images/social_sprites.png") -37px 0;
  width:32px;
  height:34px;
  display:block;
  position:relative;
  left:15%;
  top:-85%;
}
#youtube:hover{background:url("http://www.shaastra.org/2011/media/main/js2/Media/Images/social_sprites.png") -37px -34px;}

#blogger{
  background:url("http://www.shaastra.org/2011/media/main/js2/Media/Images/social_sprites.png") -69px 0;
  width:33px;
  height:34px;
  display:block;
  position:relative;
  left:29%;
  top:-171%;
}
#blogger:hover{background:url("http://www.shaastra.org/2011/media/main/js2/Media/Images/social_sprites.png") -69px -34px;}

#twitter{
  background:url("http://www.shaastra.org/2011/media/main/js2/Media/Images/social_sprites.png") -102px 0;
  width:35px;
  height:34px;
  display:block;
  position:relative;
  top:-254%;
  left:43%;
}
#twitter:hover{background:url("http://www.shaastra.org/2011/media/main/js2/Media/Images/social_sprites.png") -102px -34px;}

#spons_{
    position:absolute;
    top:2%;
    left:140%;
    height:180px;
    width:217px;
    background-image:url('http://www.shaastra.org/2011/media/main/media/images/nokia.png');
    background-position:0px 30px;
    background-repeat:no-repeat;
}
#bottomrighttext {
    background-image: url("http://www.shaastra.org/2011/media/main/media/images/bg_stuff.png");
    background-repeat: no-repeat;
    position:absolute;
    height: 193px;
    left: 110%;
    min-width: 519px;
    padding: 2px;
    position: absolute;
    top: 45%;
    width: 33%;
}

#container1 {
    width : 96%;
    height : auto;
    overflow:hidden;
    min-height : 400px;
}

#right_arrow{
  position:absolute;
  width:25px;
  height:70px;
  background:url("http://www.shaastra.org/2011/media/main/img/download.gif") 0 -70px;
  right:10px;
  top:300px;
  display:block;
}
#right_arrow:hover{background:url("http://www.shaastra.org/2011/media/main/img/download.gif") -25px -70px;}

#left_arrow{
  position:absolute;
  width:25px;
  height:70px;
  background:url("http://www.shaastra.org/2011/media/main/img/download.gif") 0 0px;
  left:10px;
  top:300px;
  display:none;
}
#left_arrow:hover{background:url("http://www.shaastra.org/2011/media/main/img/download.gif") -25px 0px;}
