{% extends "base_default.html" %}

{% block body %}

<div class="register">
<h1>Hospitality Registration</h1>
<p>
These are the steps for registering for accommodation.Detailed instructions will be put up soon.

<ul>
<li><a href="{{SITE_URL}}/profile/"><b><U>Register for accommodation for yourself only</U</b></a>.</li>
<li><a href="{{SITE_URL}}/hospitality/register/"><b><U>Register for accommodation for your team members</U</b></a>.</li>
</ul>
Once you have completed registering for accommodation,register for individual and team events by following the instructions on this page.
</p>
</div>

<div class = "register">
<h1>Notes</h1>
<p>
This time, we have decided to process hospitality requests slightly differently.

<ul>
<li <font color="red">
<b>Firstly,note that Hospitality and Accommodation requests are <U>not</U> on a first come first serve basis.</b></font>So, there is no need to hurry to register yourself.It is sufficient if you register your self within a few days from now,namely August 20 th.
</li>
<li>
This time your answers to the different event questionnaires will be used to determine whether you get accommodation or not.Events for which you have already submitted answers will be processed automatically.
</li>
<li>
You only have to fill in questionnaires for those events in which you would like to participate.
</li>
<li>
Team Leaders, please note that you may supply details and register for your team mates. This requires your teammates to be registered on the userportal. Your team mates will be notified by email about any changes you, the team leader make.
</li>
<li>
Please finalise your preference for accommodation ( ie whether you need accommodation or not) on or before the <b>5th of September</b>.You will not be able to register for accommodation afterwards.
</li>
<li>
Please submit your event/team event questionnaires as soon as possible so that we may approve your requests for accommodation.</li>
<li>
For the events Fire n Ice, Simulation championship, Contraption and IDP the teams will be confirmed of there accommodation by 20th September.</li><li>
For the rest of events on the registration portal teams/individuals will be confirmed of their accommodation by 10th September.

</li>
</ul>

</p>

</div>


<a href="{{ SITE_URL }}/register/instructions/"> <div style="align:right">Back To Instructions Page </div></a>

{% endblock %}