{% extends "base_default.html" %}

{% block body %}
<div class="errors" style="font-size:16px;">
    Team event's coords should create ONLY team questions(NOT questions).<br />
    Individual event's coords should create ONLY questions(NOT team questions).
</div>
<div class="register" style="font-size:14px;">
 <p>
  <h1>
   Coordinator's HowTo
  </h1>
  The UserPortal is split into two parts for the coordinators
  <br />
  The Team Event Coordinators have an Equivalent Module in place
  <ul>
   <li>
    The Portal : Here You check the answers of various entried
   </li>
   <li>
    The Admin : Here You can create and change the Questions
   </li>
  </ul>
  <hr />
  <h2>
   Viewing Entries
  </h2>
  <ol>
   <li>
    Login with the UserName and password provided to you.
   </li>
   <li>
    Click on the view answers link in the side menu.
   </li>
   <li>
    The View Answer page contains the following :
   </li>
  </ol>
  <ul>
   <li>
    All The Registered Entries
   </li>
   <li>
    Besides the Entries there is a Score Assigned
   </li>
   <li>
    And Indicators indicating the entries' status
   </li>
  </ul>
 </p>
</div>
<img src="{{MEDIA_URL}}/images/coord_instructions/firstsight.png" />
<div class="register" style="font-size:14px;">
 <p>
  4. Click on the entry you wish to read. It opens up in a box below.
  <br />
  5. The Page contains information reagarding whether the entry is "Read,Interesting,Selected" and a "Score".
  <br />
  6. Click whichever is applicable and add a score to for the entry if neccessary.
  <br />
  7.
  <b>
   Important : Click The SAVE Button
  </b>
  Your changes will get reflected above.
 </p>
</div>
<img src="{{MEDIA_URL}}/images/coord_instructions/view_answers.png" />
<br />
<br />
<h2>
 The Admin Portal
</h2>
<img src="{{MEDIA_URL}}/images/coord_instructions/admin_firstsight.png" />
<div class="register" style="font-size:14px;">
 1. Click on the +Add link near "Questions" to Add Questions.
 <br />
 2. Add the content in the Box...
 <br />
 3. In the type : Click on MCQ/File if the question type is MCQ/requires a file-answer.
 <br />
 Otherwise click on Normal for an ordinary Question. If you want to display a Message, Click on the message.
</div>
<img src="{{MEDIA_URL}}/images/coord_instructions/add_questions.png" />
<div class="register" style="font-size:14px;">
 <br />
 4. If you want to change the Order in which the questions appear, change the preferred id so that it rearranges itself!!
 <br />
 5. To add choices, go to MCQOptions in the Home Page, and again Click Add.
 <br />
 6. Choose the Quesiton you want to add an option, and add the text to content.
</div>
<img src="{{MEDIA_URL}}/images/coord_instructions/add_choices.png" />
<div class="register" style="font-size:14px;">
 The Same is also Applicable for team events and they need to go to Team_events and Team_MCQOptions for viewing necessary changes.
</div>
<div class="register" style="font-size:14px;">
 <b>
  After creating all your questions, go to the "Events" and "TeamEvents" pages in the admin portal, and check the "Registerable" checkbox.
 </b>
</div>
<a href="{{ SITE_URL }}/register/instructions/">
 <div style="align:right">
  Back To Instructions Page
 </div>
</a>
{% endblock %}
