{% extends "base_default.html" %}

{% block body %}
    {% if event_success %}
<div class="info">
 <b>
  {{event_success}}
 </b>
 : Successfully Updated
</div>
{%endif%}

    {% if invalid_event %}
<div class="errors">
 <b>
  {{invalid_event}}
 </b>
 : Event does not exist. Check spelling.
</div>
{%endif%}
<div class="info">
 <h1>
  Attention!
 </h1>
 Please note that to participate as a team for a team event, it is necessary that all your 
      team members are registered on the Userportal and all of them join the team created by the team leader.
</div>
<div class="register">
 <h1>
  Team Event Registration
 </h1>
 <p>
  Please choose an event:
 </p>
</div>
<div class="info">
 You are currently registering for the Team :
 <b>
  {{ t_name }}
 </b>
 <br />
 Click
 <a href="{{SITE_URL}}/teams/">
  here
 </a>
 to change teams.
</div>
<div class="register">
    {% for event in events %}
       {%if event.2%}
       <div class="register">
       {%else%}
       <div class="errors">
       {%endif%}
       <a href="{{SITE_URL}}/events/register-teams/{{team}}/{{event.0}}">{{event.1}}{%if event.2%} [Registered]{%endif%}</a>
        </div>
    {% endfor %}
</div>

{% endblock %}
{{SITE_URL}}
