{% extends "base_default.html" %}

{% block body %}
    {% if team_joined %}
<div class="info">
 <b>
  {{team_joined}}
 </b>
 : Successfully Joined.
</div>
{%endif%}

    {% if already_joined %}
<div class="info">
 <b>
  {{already_joined}}
 </b>
 : You are already a part of this team.
</div>
{%endif%}

    {% if invalid_team %}
<div class="errors">
 <b>
  {{invalid_team}}
 </b>
 : Team does not exist or You are not part of such a team.
</div>
{%endif%}

    {% if invalid_passwd %}
<div class="errors">
 <b>
  {{invalid_passwd}}
 </b>
 : Team does not exist or incorrect password provided.
</div>
{%endif%}
<div class="register">
 <h1>
  Team Event Registration
 </h1>
 <p>
  You need to choose a team to register for team events. Once you have chosen a team (or have created one in case 
    you were not already in a team), you can register for team events.
  <br />
  You may register a single team for multiple 
    events, provided the size of the team is within the limit for all the events. Otherwise, you should create multiple 
    teams.
 </p>

</div>
<table cellpadding=10 rules="cols" width="100%">
<tr>
<td valign = "top">

<div class="success">
  To create a new team,
 <a href="{{SITE_URL}}/register/team/">
  click here
 </a>
 .
 <br />
 To join an existing team, 
 <a href="{{SITE_URL}}/teams/join/">
   click here
 </a>
 .
 <br />
</div>
</td>

<td width="40%" valign="top">
{% if teams %}
<div class="info">
Please choose a team : 
       <ul>
       {% for team in teams %}
       <div class="register">
       <li><a href="{{SITE_URL}}/teams/view/{{team}}"/a>{{team}}</a></li>
        </div>
        {% endfor %}
        </ul>
    </div>
{% else %}
<div class="info">
  You're not part of any team yet!<br /> Use the links on the left to either join an existing team or to create your own new team.
</div>
    {% endif %}
</td>
</tr>
</table>

 <i>Unsure of what to do?</i><br />For further instructions on Event Registration,
 <a href="{{SITE_URL}}/register/instructions/event">
  click here
 </a>
 .
{% endblock %}</div>