{% extends "base_default.html" %}

{% block body %}
    {% if remove_success %}
<div class="info">
 <b>
  {{remove_success}}
 </b>
 : Removed from team
</div>
{%endif%}

    {% if invalid_member %}
<div class="errors">
 <b>
  {{invalid_member}}
 </b>
 : This user does not exist or does not belong
        to your team
</div>
{%endif%}

    {% if leader_chosen %}
<div class="errors">
 <b>
  {{leader_chosen}}
 </b>
 : You are the leader of your team. You can't
        remove yourself!
</div>
{%endif%}
<script type="text/javascript">
 function notifyUser() {
            return confirm ('Are you sure you want to remove this user?');
        }
</script>
<div class="register">
 <h1>
  Team Management: {{team}}
 </h1>
 To go back to the list of teams you own,
 <a href="{{SITE_URL}}/teams/">
  click here
 </a>
 .
 <br />
 To change password for your team,
 <a href="{{SITE_URL}}/teams/manage/{{team}}/changepwd/">
  click here
 </a>
 <p>
  Please choose a member you would like to remove from the team.
 </p>
 <div class="info">
  <ul>
   {% for member in members %}
   <li>
      <a href="{{ SITE_URL }}/teams/remove/{{ team }}/{{ member }}" onclick="notifyUser()">{{ member }}</a>
   </li>
  {% endfor %}
  </ul>
 </div>
</div>

{% endblock %}