{% extends "base_default.html" %}

{% block body %}
    {% if invalid_team %}
<div class="errors">
 <b>
  {{invalid_team}}
 </b>
 : Team does not exist or You are not part of such a team.
</div>
{%endif%}
<div class="register">
 <h1 align="center">
  Team Management
 </h1>
<table cellpadding="10" rules="cols">
<tr>
<td width="50%">

 <div class="success">
  <p>
   To create a
   <b>
    new
   </b>
   team,
   <a href="{{SITE_URL}}/register/team/">
    click here
   </a>
   .
  </p>
  <p>
   To join an
   <b>
    existing
   </b>
   team,
   <a href="{{SITE_URL}}/teams/join/">
    click here
   </a>
   .
  </p>
 </div>
</td>
<td>
 <h3>
  Remove Team Members :
 </h3>
 <p>
  You can remove members from your team only if you are a team leader.
 </p>
 {% if teams %}
 <p>
  Please choose the team from which you would like to remove a member:
 </p>
 <div class="info">
  <ul>
   {% for team in teams %}
   <div class="register">
       <li><a href="{{SITE_URL}}/teams/manage/{{team}}">{{team}}</a></li>
        </div>
        {% endfor %}
  </ul>
 </div>
{% endif %}
</td>
</tr>
</table>

</div>

{% endblock %}