{% extends "base_default.html" %}

{% block body %}
    <script type="text/javascript">
        function notifyUser() {
            return confirm ('Are you sure you want to lock your answers? Once locked, you will not be able to edit your answers again');
        }
    </script>
    
    {% if too_large or too_small %}
    {% if too_large %}
    <div class="errors">
    <p>Your team has size:{{t_size}}.<br>
    The maximum team size for this event: {{max_size}}.<br>
    Please try with a smaller team.
    </p>
    </div>
    {% else %}
    <div class="errors">
    <p>Your team has size:{{t_size}}.<br>
    The minimum team size for this event: {{eve_min_size}}.<br>
    Please try with a larger team.
    </p>
    </div>
    {% endif %}
    
    {% else %}    {% if is_hospi %}
    {% if show_hospi %}
    <div class ="register">
    <p>This event questionnaire is for hospitality registration purposes only.This is not for pre-registering for the event</p>
    </div>
    
    <div class="register">
    <h1>Team Event Registration</h1>
    To go back to the list of team events, <a href="{{SITE_URL}}/teams/view/{{t_name}}">click here</a>.
    <h2> {{event}} </h2>
    {% if event.logo %} <img src="{{MEDIA_URL}}{{event.logo}}" /> {%endif %}
    </div>
    
    <div class="register">
    {% if end_time %}
    <p>Event registration closes at {{ end_time }}.<br>
    {% endif %}
    All teams for this event should have a minimum of {{min_size}} {% endif %} and a maximum of {{ max_size }} {% if min_size %}  members.
    </p>
    </div>
    
    <div class="register">
    
    <p>Please fill in the following details. Note that your answers will not be
    submitted to the respective Coordinators unless you lock your event's
    answers. However, once you have locked your answers, you cannot make any
    changes to your answers. Please take your time and ensure that all your
    answers are complete. </p>
    <div class="register">
    <ul>
    {% for m in event_form.3 %}
    <li>{{ m|safe }}</li>
    {% endfor %}
    </ul>
    </div>
    <form enctype="multipart/form-data" action="{{SITE_URL}}/events/register-teams/{{t_name}}/{{e_name}}/" method="POST">

        {% for form in event_form.1 %}
        <b> {{form.question|safe}} </b>
        {% if form.errors %}
           <div class="errors">
           {{form.errors}}
           </div>
        {% endif %}

         {{form.content}}
        {% endfor %}

        {% for form in event_form.2 %}
        <b> {{form.question|safe}} </b>
        {% if form.errors %}
           <div class="errors">
           {{form.errors}}
           </div>
        {% endif %}
        {{form.as_table_improved}}
        {% endfor %}
        <br /> <br />
       <div class="register">
        {% if event_form.0 %}
       <p> Your answers have been locked. Any changes you make now can not be
       saved. 
       </p>
       {% else %}
       <p> Your answers have not been locked yet.  </p>
       <input type="submit" name="save" value="Save Answers" /> 
       <input onClick="return notifyUser();" type="submit" name="lock" value="Lock Answers" />
       {% endif %}
        </div>

    </form>
    </div>
    {% else %}
    <div class="errors">
    <p>This event questionnaire is for hospitality purposes only.It seems that none of you or your team members have completed one or both steps of your hospitality registrations.Please do so <a href="{{SITE_URL}}/hospitality/">here</a> or ask your team mates who require hospitality to register for it.
    </p>
    </div>
    {% endif %}
    {% else %}
    
    <div class="register">
    <h1>Team Event Registration</h1>
    To go back to the list of team events, <a href="{{SITE_URL}}/teams/view/{{t_name}}">click here</a>.
    <h2> {{event}} </h2>
    {% if event.logo %} <img src="{{MEDIA_URL}}{{event.logo}}" /> {%endif %}
    </div>

    <div class="register">
    {% if end_time %}
    <p>Event registration closes at {{ end_time }}.<br>
    {% endif %}
    All teams for this event should have a minimum of {{min_size}} {% endif %} and a maximum of {{ max_size }} {% if min_size %}  members.
    </p>
    </div>
    

    <div class="register">
    <h3> Register</h3>

    <p>Please fill in the following details. Note that your answers will not be
    submitted to the respective Coordinators unless you lock your event's
    answers. However, once you have locked your answers, you cannot make any
    changes to your answers. Please take your time and ensure that all your
    answers are complete. </p>
    <div class="register">
    <ul>
    {% for m in event_form.3 %}
    <li>{{ m|safe }}</li>
    {% endfor %}
    </ul>
    </div>
    <form enctype="multipart/form-data" action="{{SITE_URL}}/events/register-teams/{{t_name}}/{{e_name}}/" method="POST">
        {% for form in event_form.1 %}
        {% if form.errors %}
           <div class="errors">
           {{form.errors}}
           </div>
        {% endif %}
        <b><div class="answer"> {{form.question|safe}} </div></b>
         {{form.content}}
        {% endfor %}

        {% for form in event_form.2 %}
        {% if form.errors %}
           <div class="errors">
           {{form.errors}}
           </div>
        {% endif %}
        <b><div class="answer"> {{form.question|safe}} </div></b>
        {{form.as_table_improved}}
        {% endfor %}
        <br /> <br />
       <div class="register">
        {% if event_form.0 %}
       <p> Your answers have been locked. Any changes you make now can not be
       saved. 
       </p>
       {% else %}
       <p> Your answers have not been locked yet.  </p>
       <input type="submit" name="save" value="Save Answers" /> 
       <input onClick="return notifyUser();" type="submit" name="lock" value="Lock Answers" />
       {% endif %}
        </div>

    </form>
    </div>
    {% endif %}
    {% endif %}

{% endblock %}

