{% extends "base_default.html" %}

{% block body %}
    
    {% if success %}
<div class="register">
 The Colleges you selected has been renamed.
</div>
{%endif%}
<div class="errors">
 <p>
  <b>
   WARNING:
  </b>
  <br />
  The changes made through this page are permanent.Please be careful when making changes.
 </p>
</div>
<div class="register">
 <p>
  <b>
   USAGE:
  </b>
  <br />
  Select the college you wish to rename,and fill in the corresponding fields for the name and city
    .
 </p>
</div>
<div class="register">
 <h1>
  Rename College
 </h1>
 <p>
  Please make thee appropriate choices:
 </p>
 <form action="{{SITE_URL}}/clean/rename/" method="POST">
  <table name="register">
   {{ form.as_table }}
  </table>
  <input type="submit" value="Rename!" />
  <br />
 </form>
</div>
{% endblock %}
