{% extends "base_default.html" %}

{% block body %}
<script type="text/javascript">
 function notifyUser() {
            return confirm ('Are you sure you want to change the password?');
        }
</script>
<div class="register">
 <h1>
  Team Management: {{team}}
 </h1>
 <h3>
  Change Password
 </h3>
 To go back to the list of teams you own,
 <a href="{{SITE_URL}}/teams/">
  click here
 </a>
 .
   {% if incorrect_password %}
 <div class="errors">
  The passwords that you entered did not match.
        Please re-enter the passwords.
 </div>
 {% endif %}
 <form action="" method="POST">
  <div class="info">
   <table>
    <tr>
     <th>
      Enter New Password :
     </th>
     <td>
      <input type="password" name="password1" />
     </td>
    </tr>
    <tr>
     <th>
      Enter Password again :
     </th>
     <td>
      <input type="password" name="password2" />
     </td>
    </tr>
    <tr>
     <td>
      <input type="submit" value="Change Password" />
     </td>
    </tr>
   </table>
  </div>
 </form>
</div>
{% endblock %}
