{% extends "base_default.html" %}
{% block body %}


<div class="register">
<h1>Instructions Page</h1>

<p> This page tells you how to use the userportal for Shaastra 2010.So before you actually start, please take some time read the instructions given below.
</p>
</div>

<div class="register">
<h1>Events Registration</h1>
<p>There are two types of events you can register for, Inidividual events and Team events. <br><br>

<b>For Individual Events</b><br>

1.Click on Individual Event Registration in the Navigation menu.<br>

2. Choose an event from the list.
<br>
<i> If you do not need accomodation, there are still some events you can pre-register for</i><br>

3. Answer the questions. Click on 'Save answers' to save your answers. You can come back and change them later.
<br>
<i>Click on 'Submit' for liocking your answers and submitting them. Your answers will not be evaluated if you do not submit before the deadline(which is atleast 2 weeks away) </i>
<br><br>
<b>For Team Events</b>
<br>
1. Click on Team Event Registration in the navigation menu.<br>
<i>You need to be a member of team before you can register for a team event. You can form teams by clicking on the 'create' team link. </i>
<br>
<i>Once you have formed a team, you can register for any number of team events with that team.<br>
You can create, or be part of any number of teams.
</i>
<br>

2. Once you have created a team or joined an existing team, when you click on 'Team Event Registration', you will be shown a list of teams you are part of, with which you can register for the event.<br>
Click on a team name.This will lead you to a page with the list of events for which you can register.
<br>

3.Choose a team event from this list.Fill up the questionnaire.The rest of the details are the same as for individual event registration.
<br>
</div>

<div class="register">
<h1>Hospitality Registration</h1>
<p>
These are the steps for registering for accommodation.Detailed instructions will be put up soon.

<ul>
<li><a href="{{SITE_URL}}/profile/"><b><U>Register for accommodation for yourself only</U</b></a>.</li>
<li><a href="{{SITE_URL}}/hospitality/register/"><b><U>Register for accommodation for your team members</U</b></a>.</li>
</ul>
Once you have completed registering for accommodation,register for individual and team events by following the instructions on this page.
</p>
</div>

<div class = "register">
<h1>Notes</h1>
<p>
This time, we have decided to process hospitality requests slightly differently.

<ul>
<li <font color="red">
<b>Firstly,note that Hospitality and Accommodation requests are <U>not</U> on a first come first serve basis.</b></font>So, there is no need to hurry to register yourself.It is sufficient if you register your self within a few days from now,namely August 20 th.
</li>
<li>
This time your answers to the different event questionnaires will be used to determine whether you get accommodation or not.Events for which you have already submitted answers will be processed automatically.
</li>
<li>
You only have to fill in questionnaires for those events in which you would like to participate.
</li>
<li>
Team Leaders, please note that you may supply details and register for your team mates. This requires your teammates to be registered on the userportal. Your team mates will be notified by email about any changes you, the team leader make.
</li>
<li>
Please finalise your preference for accommodation ( ie whether you need accommodation or not) on or before the <b>5th of September</b>.You will not be able to register for accommodation afterwards.
</li>
<li>
Please submit your event/team event questionnaires as soon as possible so that we may approve your requests for accommodation.</li>
<li>
For the events Fire n Ice, Simulation championship, Contraption and IDP the teams will be confirmed of there accommodation by 20th September.</li><li>
For the rest of events on the registration portal teams/individuals will be confirmed of their accommodation by 10th September.

</li>
</ul>

</p>
</div>








{% endblock %}

