{% extends "base_default.html" %}

{% block body %}
<div class="register">
 <h1>
  {{event.name}}
 </h1>
 <p>
  Please pick the Users you want to grant accommodation to:
 </p>
</div>
<div class="register">
 <form action="{{SITE_URL}}/hospitality/individual_events/{{e_id}}/" method="POST">
  <table name="register">
   {% for f in forms %}
   <tr>
    <th>
     User Name:
    </th>
    <td id="user_name">
     {{f.0.first_name}} {{f.0.last_name}}
    </td>
   </tr>
   <tr>
    <th>
     Details:
    </th>
    <td id="details">
     <ul>
      <li>
       Gender:{{f.0.gender}}
      </li>
      <li>
       College:{{f.0.college}}
      </li>
     </ul>
    </td>
   </tr>
   {{ f.1.as_table }}
        {% endfor %}
  </table>
  <input type="submit" value="Update" />
 </form>
</div>
{% endblock %}
