{% extends "base_default.html" %}
{% block body %}
<h1>Hospi Mail Form</h1>

{% if mailed %}
<div class="register">
Mails have been sent succesfully.
</div>
{% endif %}

<div class="register">
<p> This application allows you to send mails to <b><i>all contingents</i></b>
who have been selected for accomadation. Please check the content carefully before you send the message. <br />
<b>Note</b>:If you'd like to contact individual users,please use your web mail account instead.</p>

<form action="{{SITE_URL}}/hospitality/mail/" method="POST">
   <div class="register">
       {{msg_list.0.body}}
       {%for msg in msg_list %}
       {{msg.to}} <br \>
       {%endfor%}
    <input type="submit" value="Submit" />
    </div>
</form>
</div>
{% endblock %}

