<html>
 <head>
  <title>
   Print Shaastra ID
  </title>
  <style>
   body {
         width:80%; margin:auto
       }
  </style>
 </head>
 <head>
  <body style="width:70%; margin:auto;">
   <center>
    <img src="/includes/2010/images/Shaastra_Header.jpg" />
   </center>
   <div>
    <h1>
     Online Registration Details
    </h1>
    <h3>
     {{shaastra_id}}
    </h3>
    <table>
     <tr>
      <td>
       <b>
        Name:
       </b>
      </td>
      <td>
       {{userprof.first_name}} {{userprof.last_name}}
      </td>
     </tr>
     <tr>
      <td>
       <b>
        Gender:
       </b>
      </td>
      <td>
       {{userprof.gender}}
      </td>
     </tr>
     <tr>
      <td>
       <b>
        Mobile No.:
       </b>
      </td>
      <td>
       {{userprof.mobile_number}}
      </td>
     </tr>
     <tr>
      <td>
       <b>
        College Roll No.:
       </b>
      </td>
      <td>
       {{userprof.college_roll}}
      </td>
     </tr>
     <tr>
      <td>
       <b>
        College:
       </b>
      </td>
      <td>
       {{userprof.college}}
      </td>
     </tr>
     <tr>
      <td>
       <b>
        Branch:
       </b>
      </td>
      <td>
       {{userprof.branch}}
      </td>
     </tr>
     <tr>
      <td>
       <b>
        Email:
       </b>
      </td>
      <td>
       {{user.email}}
      </td>
     </tr>
    </table>
   </div>
   <div>
    <h3>
     Rules and Regulations
    </h3>
    <ol>
     <li>
      This document is
      <b>
       not
      </b>
      your Shaastra ID card. You need to produce a printout of this document at the Registration desk during Shaastra to receive your Shaastra ID card.
     </li>
     <li>
      This document is not transferable
     </li>
     <li>
      Possession and consumption of alcohol and narcotics in any form inside institute is strictly prohibited. If reported,participant status of the person will be ipso facto null and void and the case will be severely dealt with.
     </li>
    </ol>
   </div>
  </body>
 </head>
</html>