{% extends "base_default.html" %}

{% block body %}
    {%if success %}
<div class="register">
 Team added
</div>
{% endif %}
    {%if failed %}
<div class="register">
 Team Does not exist
</div>
{% endif %}
<div class="register">
 <h1>
  Special Team registration
 </h1>
 <form action="{{SITE_URL}}/hospitality/special/team/" method="POST">
  <div class="register">
   <table name="register">
    {{ form.as_table }}
   </table>
   <input type="submit" value="Select" />
  </div>
 </form>
</div>
{% endblock %}
