{% extends "index.html" %}

{%block event_categories%}
{%endblock%}

{%block gradient%}
    {%include "gradient.html"%}
{%endblock%}

{% block media_location %}

    <style>
	    #registered_events{
		    width:33%;
	    }
	    #member_teams{
		    position:absolute;
		    width:33%;
		    left:33%;
		    top:-10px;
	    }
	    #leader_teams{
		    position:absolute;
		    width:33%;
		    left:66%;
		    top:-10px;
	    }
	    ul{list-style:none;}
	    li a{text-decoration:none; color:black}
	    h3 {text-decoration:none; font-family: Arial, Helvetica, sans-serif;}
    </style>

{% endblock %}

{% block body %}
    <div id="registered_events">
        <p>Events you have registered for:</p>
        <ul>
            {% for event in events_list %}
                <li>
                    <a href="{{ event.url }}">{{ event.display_name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div><br><br>
    
    {% if teams %}
        <div id="member_teams">
            <p>You are a member (and not leader) of the following teams: (Click to see team details)</p>
            <ul>
                {% for team in member_teams %}
                    <li>
                        <a href="{{ SITE_URL }}myshaastra/teams/{{ team.id }}/">
                            {{ team.name }} - {{ team.event }}
                        </a>
                    </li>
                {% empty %}
                    <p>Not a non-leading member of any team</p>
                {% endfor %}
            </ul>
        </div>
		<br><br>
		
        <div id="leader_teams">
            <p>You are the leader of the following teams: (Click to see and change team details)</p>
            <ul>
                {% for team in leader_teams %}
                    <li>
                        <a href="{{ SITE_URL }}myshaastra/teams/{{ team.id }}/">
                            {{ team.name }} - {{ team.event }}
                        </a>
                    </li>
                {% empty %}
                    <p>Not the leader of any team<p>
                {% endfor %}
            </ul>
        </div>
		<br><br>
    {% endif %}

<!--    <div id="edit_profile">
        <div class="button">
            <a href="#">
                <form action="edit/profile/" method="GET">
                    <input type="submit" value="Edit Profile" />
                </form>
            </a>
            <span></span>
        </div>  
    </div>
-->    

<!--    <a href="{{ SITE_URL }}myshaastra/teams/create/">Create a new team</a>  -->

{% endblock %}
