{% extends "index.html" %}

{%block event_categories%}
{%endblock%}

{%block gradient%}
    {%include "gradient.html"%}
{%endblock%}

{% block body %}
    <div id="registered_events">
        <p>Events you have registered for:</p>
        <ul>
            {% for event in events_list %}
                <li>
                    <a href="{{ event.url }}">{{ event.display_name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    {% if teams %}
        <div id="teams">
            <p>You are a part of the following teams:</p>
            <ul>
                {% for team in teams %}
                    <li>{{ team.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="join_requests">
            <p>The following people want to join in your team:</p>
            <ul>
                {% for request in team_join_requests %}
                    <li>{{ request.get_full_name }}</li>
                {% empty %}
                    No one has asked yet... Tell your team name to your friends!
                {% endfor %}
            </ul>
        </div>
    {% endif %}

<!--    <div id="edit_profile">
        <div class="button">
            <a href="#">
                <form action="edit/profile/" method="GET">
                    <input type="submit" value="Edit Profile" />
                </form>
            </a>
            <span></span>
        </div>  
    </div>
-->    

{% endblock %}
