{%extends "index.html"%}

{%block media_location%}
<style type="text/css">
 body{
				background-color:#e3e7ea;
			}

			#policyContainer{
				position:relative;
				width:100%;
				height:433px;
				background-image:url('{{MEDIA_URL}}policy/images/hospiGradient.png');
				background-repeat:repeat-x;
			}
			#policyContent{
				position:absolute;
				width:100%;
				height:390px;
				background-image:url('{{MEDIA_URL}}policy/images/policyBG.png');
				top:50px;
				font-family:"Lucida Sans";
				font-size:16px;
				color:#183c5a;
				text-align:justify;
			}
			#policy{
				position:absolute;
				top:5px;
				left:179px;
				width:827px;
				height:315px;
				padding:5px;
				}
			#policyMainTab{
				cursor:default;
				position:absolute;
				width:219px;
				height:81px;
				background-image:url('{{MEDIA_URL}}policy/images/policyTabBg.png');
				top:10px;
				left:178px;	
			}
				#policyMainTab img{
					cursor:default;
					margin-top:10px;
					margin-left:30px;
				}
				#policyUnderline{
					position:absolute;
					top:52px;
					left:179px;
					z-index:1;
				}
</style>
{%endblock%}
	
	{%block body%}
<div id="policyContainer" stylee="visibility:hidden;">
 <script type="text/javascript">
  $("#page1").css({'width':'100%','left':'0px'});
 </script>
 <img id="policyUnderline" src="{{MEDIA_URL}}policy/images/underline.png" />
 <div id="policyMainTab">
  <img src="{{MEDIA_URL}}policy/images/policyText.png" />
 </div>
 <div id="policyContent">
  <div id="policy">
   <p>
    IIT Madras respects your right to privacy. When you visit the Shaastra Web site, the following information may be collected from you, either voluntarily or involuntarily : Your computer or network&#39;s IP address, which must be validated in order for you to access the Shaastra Web site; Information about your visit etc. is gathered in an aggregate manner for quality control, security and improvement of our site. Your information is kept confidential, unaltered, and used only by the Shaastra organizing team to administer your request. IIT Madras does not disclose or sell any personally identifiable information collected at this site to other companies or organizations. Shaastra reserves the right to make changes to this privacy policy. Any changes to this policy will be posted on the same space.
   </p>
  </div>
 </div>
</div>
{%endblock%}
