{% extends "index_techslam.html" %}
{%block body%}
<center><h3>About Techslam</h3></center>
<p>Ever been obsessed with science to the point that you believed that you have “an eye
for technology” if something like that exists? Ever wished you could put up on display
    something so everyday but something you find incredibly, mind-bogglingly tech quotient
    filled? Well, here is your chance to slam your way to fame!

    Cause, we bring to you Techslam, an online photo contest that showcases the brilliance
    of technology from normal, day-to-day sightings and ideas. Here, what counts is not how

    wonderful the photo is or how talented the photographer is but just the idea that is being lifted
    out of its mundane, ordinary setting for everyone to notice (and rate, of course, what’s more
    fun than that?) what you have tried to translate.

    So all that you need to be a part of this event is an idea and some creativity, just enough
    to make it sell. Think you have the super-spotting-tech-concepts-and-clicking/drawing/
    sketching power? Well, you know what to do.
    Oh yes, we know, this one is going to be some slam!
</p>
<center><h3>Theme of Techslam</h3></center>
<p>
The concept of Techslam is to provide a platform for science and technology enthusiasts to
showcase their talent in an unconventional manner. The contestants are expected to capture
their imagination and innovation in just a ‘click’. It is vital for all the photographs/designs to
have a technological connect. Pictures with aspects of green/ground-breaking/cutting edge
technology are encouraged. So, post your image and see if it goes vintage!
</p>
{%endblock%}
   
