{% extends "index_techslam.html" %}
{%block media_location%}
{%endblock%}
{% block body %}
<script>
function funct()
{
document.getElementById('f2').submit();
$("#Select2").fadeOut();
}
function func()
{
document.getElementById('f1').submit();
$("#Select1").fadeOut();
}
//$(document).mousemove(
function adj1(id){
var jid = "#"+id;
$(jid).fadeIn();
var phot = document.getElementById(id);
//alert(phot.height +">="+ phot.width)
if(phot.height >= phot.width)
{
phot.style.height = "350px";
phot.style.width = "auto";
}
else
{
phot.style.height = "auto";
phot.style.width = "400px";
var newhei = phot.height;
var bottomtobring = (350-newhei)/2;
phot.style.position = "relative";
var t = bottomtobring + "px";
phot.style.top = t;
}
}
function adj2(){
var phot = document.getElementById("Select2").style;
if(phot.height.split("px")[0] >= phot.width.split("px")[0])
{
phot.height = "350px";
phot.width = "auto";
}
else
{
phot.height = "auto";
phot.width = "380px";
var newhei = phot.height.split('px')[0];
var bottomtobring = (400-newhi)/2;
phot.position = "relative";
phot.top = bottomtobring + "px";
}
}
</script>
<style>
#Select1
{
cursor:pointer;
display:none;
}
#Select1:hover
{
opacity : .85;
filter :alpha("opacity = 85");
cursor:pointer;
}
#Select2
{

display:none;
}
#Select2:hover
{
opacity : .85;
filter :alpha("opacity = 85");
cursor:pointer;
}
</style>
<div id = "container_compare" style = "margin : 30px auto 0 auto;min-width:1200px;width:100%;height:400px">
<div id = "photosbox" style = "margin : 0 auto 0 auto;text-align:center">
<div id  = "photocont" style = "margin : 0 auto 0 auto;text-align:center;width:1000px;">
<div id = photo1 style = "float:left;width:400px;height:350px;margin: 0 auto 0 auto;float:left;-webkit-border-radius : 5px;border-radius : 5px; text-align:center">
<form enctype="multipart/form-data" method="post" action="{{SITE_URL}}techslam/mashphotos/" id = "f1">
<input type="hidden" name="selectedid" value={{photo1.photoid}} id="selectedid" />
<input type="hidden" name="photoid1" value={{photo1.photoid1}} id="photoid1" />
<input type="hidden" name="photoid2" value={{photo2.photoid2}} id="photoid2" />
<!--  --> 
<img src= "http://www.shaastra.org/2011/media/main/techslam/images/{{photo1.title}}" value="Select" id="Select1" onclick = "func()" onload = "adj1(this.id)"/>
<p>{{photo1.caption}}<br/>Uploaded by <a href= {{SITE_URL}}techslam/{{photo1.user}}/showprofile/>{{photo1.user}}</a><br/></p>
</form>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;<span style = "font-size:25px;color:#183f5a;position:relative;top:150px;left:10px">OR</span>&nbsp;&nbsp;&nbsp;&nbsp;
<div id = photo2 style = "float:right;width:400px;height:350px;margin: 0 auto 0 auto;-webkit-border-radius : 5px;border-radius : 5px;text-align:center">
<form enctype="multipart/form-data" method="post" action="" id = "f2">
<input type="hidden" name="selectedid" value={{photo1.photoid}} id="selectedid" />
<input type="hidden" name="photoid1" value={{photo1.photoid1}} id="photoid1" />
<input type="hidden" name="photoid2" value={{photo2.photoid2}} id="photoid2" />
 <!-- -->
<img src="http://www.shaastra.org/2011/media/main/techslam/images/{{photo2.title}}" value="Select" id="Select2" onclick = "funct()" onload = "adj1(this.id)"/>
<p>{{photo2.caption}}<br/>Uploaded by <a href= {{SITE_URL}}techslam/{{photo2.user}}/showprofile/>{{photo2.user}}</a><br/></p>
</form>
</div>
</div>
</div>
</div>
{%endblock%}

