{% extends "index_techslam.html" %}
{%block media_location%}
{%endblock%}
{% block body %}
<script>
$("#photo1").ready(
function()
{
var phot = $("#select");
if(phot.height() >= phot.width())
{
phot.css("{height:400px;width:auto;}");
}
else
{
phot.css("{height:auto;width:400px;}");
var newhei = phot.height();
var bottomtobring = (400-newhi)/2;
phot.css("{position:relative;top:"+bottomtobring+"px}");
}
}




);
$("#photo2").ready(
function()
{
var phot = $("#select");
if(phot.height() >= phot.width())
{
phot.css("{height:350px;width:auto;}");
}
else
{
phot.css("{height:auto;width:400px;}");
var newhei = phot.height();
var bottomtobring = (400-newhi)/2;
phot.css("{position:relative;top:"+bottomtobring+"px}");
}
}

);
</script>
<style>

#photo1
{
background : -webkit-gradient(linear, left top, left bottom, from(#67a3de), to(#4573b1));
position:relative;
left : 20px;
}
#photo2
{
background : -webkit-gradient(linear, left top, left bottom, from(#67a3de), to(#4573b1));
position:relative;
left : -20px;
}

</style>
<div id = "container_compare" style = "margin : 30px auto 0 auto;min-width:1200px;width:100%;height:400px">
<div id = "photosbox" style = "margin : 0 auto 0 auto;text-align:center">
<div id  = "photocont" style = "margin : 0 auto 0 auto;text-align:center;width:1000px;">
<div id = photo1 style = "float:left;width:400px;height:350px;margin: 0 auto 0 auto;float:left;-webkit-border-radius : 5px;border-radius : 5px; text-align:center">
<form enctype="multipart/form-data" method="post" action="{{SITE_URL}}techslam/mashphotos/">
<input type="hidden" name="selectedid" value={{photo1.photoid}} id="selectedid" />
<input type="hidden" name="photoid1" value={{photo1.photoid1}} id="photoid1" />
<input type="hidden" name="photoid2" value={{photo2.photoid2}} id="photoid2" />
<input type="image" src="http://www.shaastra.org/2011/media/main/techslam/images/{{photo1.title}}" value="Select" id="Select"/>
<p>{{photo1.caption}}<br/>Uploaded by <a href= {{SITE_URL}}techslam/{{photo1.user}}/showprofile/>{{photo1.user}}</a><br/></p>
</form>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;<span style = "font-size:25px;color:#183f5a;position:relative;top:150px;left:20px">OR</span>&nbsp;&nbsp;&nbsp;&nbsp;
<div id = photo2 style = "float:right;width:400px;height:350px;margin: 0 auto 0 auto;-webkit-border-radius : 5px;border-radius : 5px;text-align:center">
<form enctype="multipart/form-data" method="post" action="">
<input type="hidden" name="selectedid" value={{photo1.photoid}} id="selectedid" />
<input type="hidden" name="photoid1" value={{photo1.photoid1}} id="photoid1" />
<input type="hidden" name="photoid2" value={{photo2.photoid2}} id="photoid2" />
<input type="image" src="http://www.shaastra.org/2011/media/main/techslam/images/{{photo2.title}}" value="Select" id="Select"/>
<p>{{photo2.caption}}<br/>Uploaded by <a href= {{SITE_URL}}techslam/{{photo2.user}}/showprofile/>{{photo2.user}}</a><br/></p>
</form>
</div>
</div>
</div>
</div>
{%endblock%}

