{% extends "index_techslam.html" %}
{% block body %}
<center style="height:400px; overflow:auto; margin-right:20px;">
  <h1 align="center">
    Techslam Registration
  </h1>
  <br>
  <form action = "" method = "POST">
  <table id = "maintable" cellpadding = "10" rules = "cols" border="0">
    {{form.as_table}}
	<td colspan="2" style="padding-left:290px">
		<div class="button2">
			<a href="#">
			<input type="submit" value="Submit"/>
			</a>
			<span></span>
		</div>
	</td>
  </table>
 <!-- <div class = "button" style = "margin : 0 auto 0 auto;text-align:center" >
	<input type="submit" value="Submit">
  </div> -->
  </form>  

{% endblock %}
