{%extends "index_techslam.html"%}
{%block body%}
<div id = "coverslam" style = "width : 1000px; height : 400px;border-right : 5px solid #000;border-left:5px solid #000;padding: 0 30px 0 30px;margin : 0 auto 0 auto;">
<center><h2>Rules</h2></center>
<p>
<ul>
<li>In order to participate in Techslam, a participant must register him/herself at the shaastra website.
<li>Every participant is expected to upload at least one photograph, design or picture as his/her entry <br/>
for Techslam. There is no limit on the number of entries.
<li>It is imperative that every entry has a scientific and/or technological connect to it. Any
entry deemed noncompliant with this clause, will not be considered for the competition.
The rights to accept or reject a particular entry lie solely with the Organizing Team of
Shaastra 2011, IIT Madras.It is imperative that every entry has a scientific and/or technological connect to it. Any
entry deemed noncompliant with this clause, will not be considered for the competition.
The rights to accept or reject a particular entry lie solely with the Organizing Team of
Shaastra 2011, IIT Madras.
<li>At the end of the voting period, the entry with the most number of votes will be declared
the winner. For more details regarding the voting and grading procedure, please refer to
the <a href= {{SITE_URL}}techslam/elo/>Rating System</a>
<li>Editing and processing of photographic entries is permitted.
<li>Any photograph/design/picture if found to have been stolen or copied will instantly be
deleted and the participant in question shall be disqualified from the competition. This
also implies that all other entries uploaded by the same participant will be immediately
removed from the contest.
<li>Shaastra and Techslam assume no responsibility for image misuse and shall not be
liable for the same. 
<li>The deadline for the submission of entries for Techslam is 27th September.
<li>The voting period starts from 17th September 2011.
</ul>
</p>
</div>
{%endblock%}   
