<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Shaastra TechSlam!</title>
<link rel = "stylesheet" type = "text/css" href="http://www.shaastra.org/2011/media/main/techmash/Styles/techstyle.css">
</head>
<body>
<div id = "tech_container">
<div id = "tech_header">
<img src="{{MEDIA_URL}}/techmash/images/title.png">
</div>
<script>
function link()
{
 self.location = 'http://www.shaastra.org/2011/techslam/landing';
}
</script>
<div id = "tech_landing_image" onclick = "self.location = 'http://www.shaastra.org/2011/techslam/landing'" style = "cursor:pointer">
</div>
<div id = "tech_footer">

  <a href ="#" class = "tech_flinks" id = "about">
  <img src = "{{MEDIA_URL}}/techmash/images/about.jpg">
  </a>
    <a href ="#" class = "tech_flinks" id = "rules"><img src = "{{MEDIA_URL}}/techmash/images/rules.jpg"></a>
      <a href ="#" class = "tech_flinks" id = "prizes"><img src = "{{MEDIA_URL}}/techmash/images/prizes.jpg"></a>
        <a href ="#" class = "tech_flinks" id = "profile"><img src = "{{MEDIA_URL}}/techmash/images/profile.jpg"></a>

               <!-- <a href ="#" class = "tech_flinks" id = "disc"><img src = "{{MEDIA_URL}}/techmash/images/discovery.png"></a> -->
</div>
</div>
</body>
</html>
