{% extends "index_techslam.html" %}
{%block media_location%}
<title>
TechSlam!
</title>
<!--<script type="text/javascript" src="{{MEDIA_URL}}js/prototype.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/scriptaculous.js?load=effects,builder"></script>-->
<script type="text/javascript" src="{{MEDIA_URL}}js/shadowbox.js"></script>
	<link rel="stylesheet" href="{{MEDIA_URL}}js/shadowbox.css" type="text/css" media="screen" />


    

<script>
Shadowbox.init();
function add(elem)
{
var imgs =$("#topimg");
var sdivs =  document.getElementById("slamImage").style;
var inh = imgs.height();
var inw = imgs.width();
if(inh>inw && inh >150)
{
imgs.css("{height : 150px;width:auto}"); 
//imgs.width = "auto";
sdivs.height = "150px"; 
sdivs.width = "auto";

}

if(inh<inw && inw >200)
{
imgs.css("{height : auto;width:200}"); 
sdivs.height = "auto"; 
sdivs.width = "200px";

}
}
function adjust(elem)
{
var es = elem.style;
var phot = $(".profimg");
if(es.height > es.width && es.height > 168)
{
//phot.css("{height:168px;width:auto;}");
es.height = "168px";
es.width = "auto";
}
if(es.height < es.width && es.width > 186)
{
//phot.css("{height:auto;width:186px;}");
//var newhei = phot.height();
//var bottomtobring = (400-newhi)/2;
es.height = "auto";
es.width = "186px";
//phot.css("{position:relative;top:"+bottomtobring+"px}");
}
}
</script>
<link rel="stylesheet" type = "text/css" href="http://www.shaastra.org/2011/media/main/techslam/Styles/slamStyle.css">
{%endblock%}
{% block body %}

<div id = "slamContainer" >
	<div id = "slamCover">
		<div id = "slamOver">
			<div id = "SlamLeft">
               <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=227359657312070&amp;xfbml=1"></script><fb:like href="{{SITE_URL}}techslam/{{username}}/showprofile/" send="true" width="450" show_faces="true" action="recommend" font="arial"></fb:like>
				<div id = "slamID">
					<div id = "slamImage" class = "floatleft">
                        <img src = "{{MEDIA_URL}}techslam/images/{{image_list.0.title}}" id = "topimg" onload = "add(this)">
					</div>
					<div id = "slamUser" class = "floatleft">
                    This is your techslam profile
					</div>
				</div>
                {%if show_buttons  %}		
			<div class="button3" style = "position:relative; top : -150px" >
			<form action = "{{SITE_URL}}techslam/upload/" method = GET >
			<input type="submit" value="" style = "position:relative; left : 30px;background:url({{MEDIA_URL}}techslam/images/submit.png);width : 174px;" />
			</form>
		
			</div>
            {% endif %}
<!--<div class="button2" style = "position:relative; top : -150px">
<form action = "{{SITE_URL}}techslam/mashphotos/" method = GET>
<input type="submit" value="Mash photos">
</form>

</div>-->
			</div>
			<div id = "slamRight">
	
			<br>
			<div id = "ImageWrappers">
			<!-- This MUST be auto rendered -->
			{% for image in image_list %}
			<div class = "imageContainer">
			<div class = "imageHolder">
			<a href = "{{MEDIA_URL}}techslam/images/{{image.title}}" rel = "shadowbox[profile]" title = "{{image.caption}}  <br/>Rating = {{image.rating}}">
			<img src = "{{MEDIA_URL}}techslam/images/{{image.title}}" style="height:186px;width:auto;" onload = "adjust(this)" class = "profimg">
			</a>
			<br>
			{% if show_buttons %}
			<center>
			<a href = "{{SITE_URL}}techslam/delete/{{image.title}}/" style = "color : #183f5a;text-decoration:none">Delete</a>
			</center>
			{% endif %}
			</div>
			</div>
            {% endfor %}
			</div>
			
			</div>
		</div>
	</div>
<!--	<div id = "slamClick">
      <div id = "slamcoveranother">
		<div id = "slamclickCover">
			<div id = "slamleftcover">
				<div id = "slamclickleft">
				</div>
				<div id = "slamclickcenter">
					<div id = "actimg">
					<img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic4.png">
					</div>
		
				</div>
				<div id = "slamclickright">
				</div>

	
			</div>
	
		</div>
       
            <div id = "bottomscene">
            </div>
       </div>
				<div id = "slamrightclick">
				</div>
	<div id = xbutton>X</div>
    <!--</div>

</div>-->

</div>
{%endblock%}
