{% extends "index_techslam.html" %}
{%block media_location%}
{%endblock%}
{% block body %}
<div id = "someform">
<form enctype="multipart/form-data" method="post" action="">
<table>
{{form.as_table}}
</table>
<div class="button3" style = "position:relative; top : 0px" >
			<form action = "{{SITE_URL}}techslam/upload/" method = GET >
			<input type="submit" value="" style = "position:relative; left : 30px;background:url({{MEDIA_URL}}techslam/images/submit.png);width : 174px;" />
			</form>
</form>
<p><a href={{SITE_URL}}techslam/myprofile/showprofile/>Back to profile</a></p>
</div>
{% endblock %}
