{% extends "index.html" %}
{%block media_location%}
 <style>
  h1{
   display:inline;
  }
 </style>

{%endblock%}
{% block body %}
<script type="text/javascript"> $("#content").css({'height','433px'}); </script>
<div class="errors" style="min-width:1200px;width:100%;height : 200px;">
 <div id = "messagecont" style="min-width:1200px;width:100%;height : 200px;">
<div id = "message" style="float:right;position:relative;left:-400px;top:100px;height:400px;width:500px;">
  <p style="font-family:sans-serif;font-size:36px;">
 Don't Panic.
  </p>
 <p style="font-family:sans-serif;font-size:24px;">
  We're sorry for the inconvenience.
 </p>
 <br>
  <br>
 <p>
 Wait....
 </p>
 <hr>
  <p>
   <b style = "color:#000;font-size:17px;">404</b>&nbsp&nbsp;<span style="color:#AAA";font-size:15px">Error.</span>
  </p>
  <p style="color:#AAA">
   Page Not Found.<br>
   Click <a href = "javascript:history.go(-1)" style="color:#777">Here</a> to go back.
  </p>
</div>
<div id = "marvin" style="position:absolute;right :0;height:500px;width:400px;">
 <img src = "http://www.shaastra.org/2011/media/main/img/404.jpg">
</div>
 </div>
</div>
{% endblock %}
