{%extends "index.html"%}
{%block media_location%}
		<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}credits/style/css/credits.css" />   
		<script type="text/javascript" src="{{MEDIA_URL}}credits/scripts/js/credits.js"></script>
		<script type="text/javascript">
			
		</script>
               <script type="text/javascript"> $("#page1").css({'width':'100%','left':'0px'}); </script>
	{%endblock%}
	{%block body%}
		<div id="creditsContainer" style="">
			 
			
			<div id="creditsContent">
				<br />
				<img id="coreTeam11" src="{{MEDIA_URL}}credits/images/coreTeam11.png" />
				<div id="creditsMainContent">
					<div id="team" style="z-index:10;">
                                             <div id="centerline" style="position:relative;left:40px">
						<img id="centreLine" src="{{MEDIA_URL}}credits/images/centreLine.png" />
						</div>
						<div id="CoCAS">
							<div class="dept">
								Co-Curricular Affairs Secretary
							</div>
							<div class="cores">
								I.V.S Sandeep
							</div>
							<div class="email">
								sandeep@shaastra.org
							</div>
							
							<img src="{{MEDIA_URL}}credits/images/leftLine.png" class="lLine" />
							<img src="{{MEDIA_URL}}credits/images/rightLine.png" class="rLine" />
						</div>
						
						
						<div id="ConceptDesign">
							<div class="dept">
								Concept And Design
							</div>
							<div class="cores">
								Saptarshi Prakash <br>
								Sreenath Paleri
							</div>
							<div class="email">
								saptarshi@shaastra.org <br>
								sreenath.paleri@shaastra.org
							</div>
							
							<img src="{{MEDIA_URL}}credits/images/leftLine.png" class="lLine" />
							<img src="{{MEDIA_URL}}credits/images/rightLine.png" class="rLine" />
						</div>
												<div id="Spons">
							<div class="dept">
								Sponsorship
							</div>
							<div class="cores">
								Kaushik S Mohan <br>
								Vinay K Sridhar
							</div>
							<div class="email">
								kaushik@shaastra.org<br>
								vinay.sridhar@shaastra.org
							</div>
							
							<img src="{{MEDIA_URL}}credits/images/leftLine.png" class="lLine" />
							<img src="{{MEDIA_URL}}credits/images/rightLine.png" class="rLine" />
						</div>
						<div id="Webops">
							<div class="dept">
								Web Operations
							</div>
							<div class="cores">
								Siddharth Swaminathan <br>
								Sudharshan Viswanathan
							</div>
							<div class="email">
								siddharth.s@shaastra.org<br>
								sudharshan.v@shaastra.org
							</div>
							
							<img src="{{MEDIA_URL}}credits/images/leftLine.png" class="lLine" />
							<img src="{{MEDIA_URL}}credits/images/rightLine.png" class="rLine" />
						</div>
												<div id="Evolve">
							<div class="dept">
								Evolve
							</div>
							<div class="cores">
								Pranay Rebala <br>
								Siddeshwar B Patri
							</div>
							<div class="email">
								pranay@shaastra.org<br>
								siddeshwar.patri@shaastra.org
							</div>
							
							<img src="{{MEDIA_URL}}credits/images/leftLine.png" class="lLine" />
							<img src="{{MEDIA_URL}}credits/images/rightLine.png" class="rLine" />
						</div>
											<div id="Event">
							<div class="dept">
								Events
							</div>
							<div class="cores">
								Rajan Gupta <br>
								Koustuv Roy<br>
								Swostik Sourav Dash
							</div>
							<div class="email">
								rajan@shaastra.org<br>
								koustuv@shaastra.org<br>
								swostik@shaastra.org
							</div>
							
							<img src="{{MEDIA_URL}}credits/images/leftLine.png" class="lLine" />
							<img src="{{MEDIA_URL}}credits/images/rightLine.png" class="rLine" />
						</div>
											<div id="Qms">
							<div class="dept">
								Quality Management System
							</div>
							<div class="cores">
								Saubhagya Awaneesh
							</div>
							<div class="email">
								saubhagya@shaastra.org
							</div>
							
							<img src="{{MEDIA_URL}}credits/images/leftLine.png" class="lLine" />
							<img src="{{MEDIA_URL}}credits/images/rightLine.png" class="rLine" />
						</div>
							<div id="Pub">
							<div class="dept">
								Publicity
							</div>
							<div class="cores">
								Sagar Laygude
							</div>
							<div class="email">
								sagar@shaastra.org
							</div>
							
							<img src="{{MEDIA_URL}}credits/images/leftLine.png" class="lLine" />
							<img src="{{MEDIA_URL}}credits/images/rightLine.png" class="rLine" />
						</div>
	                        <div id="Hospi">
							<div class="dept">
								Hospitality
							</div>
							<div class="cores">
								Sarang Mundhada
							</div>
							<div class="email">
								sarangmundhada@shaastra.org
							</div>
							
							<img src="{{MEDIA_URL}}credits/images/leftLine.png" class="lLine" />
							<img src="{{MEDIA_URL}}credits/images/rightLine.png" class="rLine" />
						</div>
											<div id="Fac">
							<div class="dept">
								Facilities
							</div>
							<div class="cores">
								Aditya Velichala <br>
								Ayush Nalotia
							</div>
							<div class="email">
								aditya.velichala@shaastra.org<br>
								ayush@shaastra.org
							</div>
							
							<img src="{{MEDIA_URL}}credits/images/leftLine.png" class="lLine" />
							<img src="{{MEDIA_URL}}credits/images/rightLine.png" class="rLine" />
						</div>
					</div>				
				</div>

				<div id="creditsMainTab"><img src="{{MEDIA_URL}}credits/images/creditsText.png" /></div>
                                   
			</div>
			<div id="webops_names" style="position:relative;bottom:-4px;"><a style="font-family:Tahoma;text-decoration:none;color:#183c5a;border:solid 0.1mm;border-radius:3px;padding:2px;background-color:#e3e7ea;" href="{{SITE_URL}}Developers"> MAINTAINED & DEVELOPED BY  </a></div>

		</div>
	
{%endblock%}
