{% extends "index.html"%}
{% block media_location %}
<style>
  #cores_content{
     padding-left:10px;
     margin-left:10px;
     overflow:auto;
     height:800 px;
     
 }

</style>
{% endblock %}

{% block body %}
   
   <div id="cores_content">
       
       {{event_cores_content|safe }}
       
   </div>
   {%if is_core%}	
	<div id="edit_cores_page">

         <div class="button2">
		<a href="#">
		  <form action= "{{SITE_URL}}events/cores/EventCoresEditPage" method="GET">
		  {% csrf_token %}
		  <input type="hidden" value="1" name=tab_id >						
	          <input type="submit" value="edit event cores page">
	          </form>
	   	</a>
	<span></span>
	</div>
 
          
    </div>

	{%endif%}
   
{% endblock%}
