<html>
	<head>
		<title>
			New header
		</title>
		<link rel = "stylesheet" type = "text/css" href = "http://www.shaastra.org/2011/media/main/css2/style_copy_new.css">
	</head>
	<body>
	<div id = "fullcontainer">
		<div id = "head_container">
			<div id = "head_left_container">
				<div id = "logo_container">
				</div>
			</div>
			<div id = "head_middle_container">
				<div id = "navcontainer">
				 <a href = "{{SITE_URL}}home" class="navig" id = "home"><span class = "nclass">Home</span></a>
	      <a href = "#" class="navig" id = "events" onclick = "javascript:setTimeout(function(){popup(1)},00);"><span class = "nclass">Events</span></a>
              <input type="hidden" value="2" name="static_id">
	      <a href = "{{SITE_URL}}hospitality" class="navig" id = "hospi" ><span class = "nclass">Hospitality</span></a>
             
	      <a  href="{{SITE_URL}}sponsorship/" class="navig" id = "sponsor"><span class = "nclass">Sponsorship</span></a>
				</div>
				<div id = "log">
				<a href="{{SITE_URL}}logout/"><img src = "http://www.shaastra.org/2011/media/main/img/newhead/Header/Login.png" id = "login_"  style="position:relative; left:240px; top:0px;" ></a>
               
                <a href="{{SITE_URL}}login/"><img src = "http://www.shaastra.org/2011/media/main/img/newhead/Header/Sign-Up.png" id = "login_" style="position:relative; left:0px; top:0px;"></a>
				</div>
			</div>
			<div id = "head_right_container">
				<div id = "right_contain">
					<div id = "itlogo">
					</div>
					<div id = "sponslogo">
					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>
