<html>
	<head>
		<title>
			New header
		</title>
		<link rel = "stylesheet" type = "text/css" href = "http://www.shaastra.org/2011/media/main/css2/style_copy_new.css">
		<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
	
	</head>
	<body>
	<div id = "fullcontainer">
		<div id = "head_container">
			<div id = "head_left_container">
				<div id = "logo_container">
				</div>
			</div>
			<div id = "head_middle_container">
				<div id = "navcontainer">
				 <a href = "{{SITE_URL}}home" class="navig" id = "home"><span class = "nclass">Home</span></a>
	      <a href = "#" class="navig" id = "events" onclick = "javascript:setTimeout(function(){popup(1)},00);"><span class = "nclass">Events</span></a>
              <input type="hidden" value="2" name="static_id">
	      <a href = "{{SITE_URL}}hospitality" class="navig" id = "hospi" ><span class = "nclass">Hospitality</span></a>
             
	      <a  href="{{SITE_URL}}sponsorship/" class="navig" id = "sponsor"><span class = "nclass">Sponsorship</span></a>
				</div>
				<div id = "log">
				<a href="{{SITE_URL}}logout/"><img src = "http://www.shaastra.org/2011/media/main/img/newhead/Header/Login.png" id = "login_"  style="position:relative; left:240px; top:0px;" ></a>
               
                <a href="{{SITE_URL}}login/"><img src = "http://www.shaastra.org/2011/media/main/img/newhead/Header/Sign-Up.png" id = "login_" style="position:relative; left:0px; top:0px;"></a>
				</div>
				<div id="fb-root" style = "position:relative;padding-left:40px;"></div><script src="http://connect.facebook.net/en_US/all.js#appId=236519179715949&amp;xfbml=1"></script><center><fb:like href="http://www.facebook.com/Shaastra" send="false" layout="button_count" width="50" show_faces="false" font="arial"></fb:like><!-- Place this tag where you want the +1 button to render -->
<g:plusone size="medium"></g:plusone>
<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="shaastra">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</center>
		</div>
			<div id = "head_right_container">
				<div id = "right_contain">
					<div id = "itlogo">
					</div>
					<div id = "sponslogo">
					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>
