{%extends "index.html"%}
{%block media_location%}
<script type="text/javascript"> $("#page1").css({'width':'100%','left':'0px'}); </script>
{%endblock%}

{%block body%}



<div id="hospiContainer" style="visibility:hidden; width:100%;">
	
  <img id="underline" src="{{MEDIA_URL}}hospi/images/underline.png" />
  <div id="hospiMainTab"><img src="{{MEDIA_URL}}hospi/images/hospiText.png" /></div>
  <div id="hospiTabs">
    <div id="contactsHeading">Contacts</div>

    <div id="faqHeading">FAQ</div>
    <div id="hdeskHeading">Hospi Desk</div>
    <div id="reachHeading">Reaching IITM</div>
    <div id="aacomHeading">Alt. Accomodation</div>
    <div id="accomHeading">Accomodation</div>

  </div>

  
  <div id="hospiContent">
    <div id="hospiTabsContent">

      <div id="contactsHeading_c"><p>
	  <p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">For Hospitality related queries, contact<o:p></o:p></span></p>
		<a href="mailto:hospitality@shaastra.org">hospitality@shaastra.org</a></p>
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">For additional queries, contact <o:p></o:p></span></p>

<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Sarang Mundhada <o:p></o:p></span></p>
	  
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Core Member<o:p></o:p></span></p>	  
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Hospitality Team<o:p></o:p></span></p>
		<a href="mailto:sarangmundhada@shaastra.org">sarangmundhada@shaastra.org</a></p>
<p>
		&nbsp;</p>
		</div>
      <div id="faqHeading_c"><p><span class="Apple-style-span" style="border-collapse: separate; color: rgb(0, 0, 0); font-family: Verdana,Arial,helvetica,sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 16px; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px;">
	  <span class="Apple-style-span" style="text-align: justify;">Q.1 What should I do after coming to the campus?</span></span></p>
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Outstation participants who have registered for accommodation are 
requested to report to the control room where the required formalities 
involving checking of documents, allotment of rooms and mess 
registration will be finished. We shall not be providing accommodation 
for local participants. All the participants who are accommodated at 
IITM are supposed to collect their Shaastra ID Cards from the 
Hospitality team.<o:p></o:p></span></p>
<p><span class="Apple-style-span" style="border-collapse: separate; color: rgb(0, 0, 0); font-family: Verdana,Arial,helvetica,sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 16px; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px;">
	  <span class="Apple-style-span" style="text-align: justify;">Q.2 What should I bring with me?</span></span></p>
	  <p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">1.It is mandatory for all participants or company representatives to carry college IDs or Company IDs<o:p></o:p></span></p>	  

	  <p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">2.If your accommodation is confirmed, you are required to bring a hard copy of the SAAR which will be mailed to you.<o:p></o:p></span></p>	  

	  <p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">3.Each participant is also supposed to carry bonafide certificates issued by their respective colleges.<o:p></o:p></span></p>	  
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">4.Mattresses and pillows shall be provided to you if your accommodation 
is confirmed. Participants will have to bring their own things which 
they require for the events in which they are participating in.<o:p></o:p></span></p>	  
<p><span class="Apple-style-span" style="border-collapse: separate; color: rgb(0, 0, 0); font-family: Verdana,Arial,helvetica,sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 16px; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px;">
	  <span class="Apple-style-span" style="text-align: justify;">Q.3 What about the eating facilities?</span></span></p>
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">A variety of food stalls shall be set up in the heart of the festive 
area which will cater to all your food requirements. Apart from that, 
there are numerous other eating outlets in and around the campus like 
Cafe Coffee Day, Tiffany's Tiffin centre, Campus Cafe, Basera 
restaurant, Gurunath canteen to name a few.<o:p></o:p></span></p>	  
<p><span class="Apple-style-span" style="border-collapse: separate; color: rgb(0, 0, 0); font-family: Verdana,Arial,helvetica,sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 16px; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px;">
	  <span class="Apple-style-span" style="text-align: justify;">Q.4 What about the hospital facility?</span></span></p>
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">There is an institute Hospital located close to Gajendra Circle. In 
case you fall ill, you are advised to report to us at control room. We 
shall make appropriate arrangements for you to be treated at the 
Institute hospital.<o:p></o:p></span></p>	  
<p><span class="Apple-style-span" style="border-collapse: separate; color: rgb(0, 0, 0); font-family: Verdana,Arial,helvetica,sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 16px; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px;">
	  <span class="Apple-style-span" style="text-align: justify;">Q.5 What about the security facilities?</span></span></p>
	  
	  <p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">IITM campus has a vigilant and round-the-clock security service. To 
ensure the safety of the participants, there will be additional security
 guards in hostels in order to avoid thefts and other mishaps.<o:p></o:p></span></p>	  
<p><span class="Apple-style-span" style="border-collapse: separate; color: rgb(0, 0, 0); font-family: Verdana,Arial,helvetica,sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 16px; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px;">
	  <span class="Apple-style-span" style="text-align: justify;">Q.6 What about certificates and prize money?</span></span></p>
	  <p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">For competitive events, certificates will be given only to the teams 
coming first, second and third. For major events all participants 
qualifying to the final round will be issued certificates. Participation
 Certificates will not be given. Instead, a general letter of 
participation will be given to the participants. For more information, 
visit the certificate policy tab in the Shaastra website. The cash prize
 amount is event-specific and details can be found out by visiting the 
events page on the Shaastra website.<o:p></o:p></span></p>

	  <p><span class="Apple-style-span" style="border-collapse: separate; color: rgb(0, 0, 0); font-family: Verdana,Arial,helvetica,sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 16px; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px;">
	  <span class="Apple-style-span" style="text-align: justify;">Q.7 I still have unanswered queries, what should I do?</span></span></p>
	  <p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">You can make use the helpdesk facility in the User-portal and any 
queries related to hospitality can be directed to the hospitality 
queries section. In addition to that, you can contact us by mailing to<o:p></o:p></span></p>
<p><a href="mailto:hospitality@shaastra.org">hospitality@shaastra.org</a></p>
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">That's all we have at the moment from the Hospitality team @ Shaastra
 2011! We look forward to having you at Shaastra 2011 and hope that you 
have a marvelous time!<o:p></o:p></span></p>
</div>
      <div id="hdeskHeading_c"><p></p>

	  <p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">hospitality team at Shaastra will be at your service 24 hours a day 
during Shaastra. Apart from our Control room, the Hospitality Desk - 
which forms an indispensable part of Shaastra – will be set up just 
outside the main venue. Event registration and attending to queries 
about events are among the important tasks performed here. <o:p></o:p></span></p>
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">For additional queries, contact <o:p></o:p></span></p>
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;"> will not be providing accommodation for local participants and they 
will have to make their own arrangements. We would be issuing Shaastra 
ID cards to all the outstation participants<o:p></o:p></span></p>
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">For event registration at the Hospitality Desk, production of the Shaastra ID card is mandatory for any interested person<o:p></o:p></span></p>
</div>
     
	 <div id="reachHeading_c">
	  <p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Outstation participants can reach the IIT Madras campus via bus, auto or call-taxi which is available just outside the station.<o:p></o:p></span></p>

	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Is located adjacent to the Sardar Patel Road. <o:p></o:p></span></p>
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Is midway between the Raj Bhavan and Adyar bus terminus <o:p></o:p></span></p>
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Is 12 kilometers from Chennai Central. <o:p></o:p></span></p>
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Landmarks - Guindy Snake Park adjacent to the IIT Main Gate<o:p></o:p></span></p>
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Central Leather Research Institute campus opposite to ours. <o:p></o:p></span></p>
A.&nbsp; From <strong>Chennai Central</strong><br>
<p>
    <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">We will also provide free bus service from Chennai Central to IITM. <o:p></o:p></span></p>
    A.&nbsp; From <strong>Chennai Central</strong><br>
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Hire an auto/taxi to IIT Madras. You can catch institute busses from the IIT Madras main gate to control room<o:p></o:p></span></p>
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">You can catch a bus just outside the Chennai Central. 18B and 
19S are the direct busses to IITM (Get down at Gandhi Mandapam/IITM). 
From the gate there are IITM busses to the hostels, every 20 minutes<o:p></o:p></span></p>

	  <p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">The fare from Chennai Central will cost you approximately 
Rs.120 for auto and Rs. 200 for a taxi till the Main Gate. For your 
convenience, fix the rate before boarding the auto.<o:p></o:p></span></p>
<p>B.&nbsp;&nbsp;&nbsp;From <strong>Egmore Station</strong>:</p>
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Catch 23C which heads directly to IITM. From the main gate there are IITM busses to the hostels, every 20 minutes<o:p></o:p></span></p>

	  <p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">The auto and taxi fares from Egmore are approximately Rs.100 and Rs.150 respectively.<o:p></o:p></span></p>
	  
<p>C.&nbsp;From <strong>Airport</strong>:<br></p>

<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Hire an auto/taxi to IIT Madras. Inside the campus, get down at the Hospitality Control Room<o:p></o:p></span></p>

<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Or catch PP21 directly to institute or 21G to Gandhi Mandapam 
which is at a stone throw’s distance from out gate. From the main gate 
there are IITM busses to the hostels, every 20 minutes.<o:p></o:p></span></p>
D.&nbsp;From <strong>CMBT</strong>:<br>

<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Catch Bus number 23M or 5E which come directly to institute. 
From the main gate there are IITM busses to the hostels, every 20 
minutes.<o:p></o:p></span></p>
</div>
      <div id="aacomHeading_c">
<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;"> List of hotels will be put up soon<o:p></o:p></span></p>
      </div>
      <div id="accomHeading_c">
	<p>
	  <span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Upon reaching IIT<o:p></o:p></span></p>
	<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Look out for the directions, which we shall position at appropriate locations within the campus. <o:p></o:p></span></p>
	<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">The hospitality team would be based out of a <strong>Control Room</strong>. You are required to report here as soon as you arrive.<o:p></o:p></span></p>
	<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">If you are not coming by taxi/auto, board the IIT bus at the Main gate, which plies every 20 mins, and disembark in front of our control room.<o:p></o:p></span></p>
	<p>

	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Nominal charges for accommodation facility will be collected here depending on the number of days you wish to avail this facility. <o:p></o:p></span></p>
	<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Kindly note that you will be required to share the accommodation. <o:p></o:p></span></p>
	<p>
	  <span lang="EN-US" style="font-family: Symbol; font-size: 9pt;"><span>&middot;<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span lang="EN-US" style="font-family: 'Arial','sans-serif'; font-size: 9pt;">Requests for individual rooms or any other complaints in this regard will not be entertained. Also, there are a variety of canteens inside the campus which provide food at reasonable rates.</span></p>

      </div>
    </div>
  </div>
  
</div>

{%endblock%}

