{%extends "index.html"%}
{%block media_location%}
<script type="text/javascript" src="{{MEDIA_URL}}hospi/scripts/js/hospiTabs.js"></script>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}hospi/style/css/hospiTabs.css" />
<link rel="stylesheet" type="text/css" href="http://www.shaastra.org/2011/media/main/hospi/style.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}hospi/jquery.simplyscroll-1.0.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}hospi/style.css" />
<script type="text/javascript" src="Media/js/jquery.js"></script>
<script>
$(document).mousemove(
function(){
var newch = ($(document).height() - 210);
//if(newch > 500){
newch = newch - 433;
//}
newch = 160 + (newch/2);
var newpxch = newch+"px";

if($(document).height() > 650){
//alert($('body').height());
$("#footer_container").css({'position':'absolute','bottom':'15px'});
$(".page").css({'position':'absolute','top':newpxch});
var posarr = newch+(300 -160);
var posarrpx = posarr+"px";
$('#right_arrow').css({'top':posarrpx});
$('#left_arrow').css({'top':posarrpx});
}
else{
$("#footer_container").css({'position':'absolute','top':'593px'});
}
}
);
$(document).ready(function(){
//alert($(document).height());
$(document).mousemove(
function(){
if($(document).height() > 650){
//alert($('body').height());
$("#footer_container").css({'position':'absolute','bottom':'15px'});
}

}


);
}
);
</script>
<script type="text/javascript">
$(document).ready(function(){
$('#myGallery').spacegallery({loadingClass: 'loading', perspective:'25', });
/*var noelem = $('#myGallery > img').size();
//alert($('#myGallery > img').eq(1));
$('#myGallery > img').hide();
var track = 0;

setInterval(function(){
if(track == noelem) track = 0;
var curimg = $('#myGallery > img').eq(track);
curimg.show("slide",{direction:"left"},750);
setTimeout(function(){
curimg.hide("slide",{direction:"right"},750);
},1750);
track++;
},2500);*/
});
</script>


{%endblock%}

{%block body%}

<center>
<img src = http://shaastra@shaastra.org/2011/media/main/img/h.jpg style = "width:1000px;height:auto;">
	</center>
	<script type="text/javascript">
	
		setHeights();
		document.getElementById(elem[0]).style.backgroundPosition="0px -35px";
		document.getElementById(elem[0]).style.color="#ffffff";
		hospiTabsMain(elem[0]);
		
		$("#scroller").simplyScroll({
			autoMode:'loop'
		});
		$("#page1").css({'position':'absolute','top':'164px'});
	</script>

{%endblock%}

