<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<!--index.html -->
  <head>
    <title>
      Template Test
    </title>
    
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css2/style_copy.css">
         <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css2/events_scroll.css">
	<script type="text/javascript" src="{{MEDIA_URL}}js2/Media/js/ticker.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js2/Media/js/jquery.js"></script>

	<link rel="stylesheet" href="{{MEDIA_URL}}css2/main.css"/>
       <script type="text/javascript" src="{{MEDIA_URL}}js2/js/main.js"></script>
        <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css2/style_copy.css">
        <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}js2/Media/css/ticker.css">
      





    <link rel="stylesheet" href="css/main.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css/style_copy.css">
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css/ticker.css">
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css/events-tab.css" />
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css/style_copy.css">
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css/events_scroll.css">
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css/event.css">
    
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/ticker.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/jquery.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/jquery-ui-1.8.12.custom.min.js"></script>
    
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/ticker2.js"></script>
<!--    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/events-tab.js"></script>    -->
   <script>
	    
	    if(window.innerHeight > 650)
						{
						var tp = window.innerHeight;
						//alert(tp);
						//alert(window.innerHeight);
						var newtp = tp-46;
						//alert(newtp);
						document.getElementById("footer_container").style.position = "absolute";
						//alert(document.getElementById("footer_container").style.position);
						document.getElementById("footer_container").style.top = newtp+"px";
						//alert(document.getElementById("footer_container").style.top);// = tp;
						}

						</script>
    <!--[if lte IE 8]>
        <script type="text/javascript">
          width=78;
        </script>
        <![endif]-->
    <!--[if IE 7]>
        <style type="text/css">
          #eventsTab{ position:relative; left:0%; }
        </style>
        <![endif]-->
    <!--[if IE 6]>
        <style type="text/css">
          #eventsTab{ top:0%; }
          body {width:1200px; }                
          img, div { behavior: url('iepngfix.htc') }
          /*    #social_container {border: solid 0.2mm black; width:160px; height:40px; }*/
          #youtube { background-position-x:-37px; background-position-y:0px; }
          #blogger {}
          #twitter {}
        </style>
        <![endif]-->

		
    <script>
      $(document).ready(function() {

      $('#ticker-img-right').click(function() {
      clearTimeout(t);
      untypeNext()
      });
      $('#ticker-img-left').click(function() {
      clearTimeout(t);
      untypePrev()
      });
      getTickerData();


      $(document).ready(function() {
      $('#ticker-img-right2').click(function() {
      clearTimeout(t2);
      untypeNext2()
      });
      $('#ticker-img-left2').click(function() {
      clearTimeout(t2);
      untypePrev2()
      });
      getTickerData2();
      
      });
      
      });
      
    </script>




    <script type="text/javascript">
      

      $(document).ready(function () {
      
      
      $('#ticker-img-right').click(function() {
      clearTimeout(t);		
      untypeNext()
      });
      $('#ticker-img-left').click(function() { 
      clearTimeout(t);
      untypePrev()
      });
      getTickerData();
      });

    </script>
    <script src = "{{MEDIA_URL}}js/js/script/script.js"></script>
{% block media_location%}{%endblock%}
  </head>
  <body>

<div id = "container">  
    <!-- HEADER BEGINS --> 
    <div id = "header">
        <div id = "header_top">
          <div id = "logos_container">
            <div id = "logos">
              <img src = "{{MEDIA_URL}}img/all_logos.png" style = "width : 247px;height:115px">
            </div>
          </div>
          <div id ="navbar_container">
            <div id = "navbar">
              <a href = "#" class="navig" id = "home"><span class = "nclass">Home</span></a>
	      <a href = "#" class="navig" id = "events"><span class = "nclass">Events</span></a>
	      <a href = "#" class="navig" id = "hospi"><span class = "nclass">Hospitality</span></a>
	      <a href = "#" class="navig" id = "sponsor"><span class = "nclass">Sponsorship</span></a>
	      <a href = "#" class="navig" id = "gallery"><span class = "nclass">Gallery</span></a>

              
              <div id = "logandsearch">
                {% if user.is_authenticated %}
                <a href="{{SITE_URL}}logout/"><img src = "{{MEDIA_URL}}img/logout.png" id = "login"></a>
                {% else %}
                <a href="{{SITE_URL}}login/"><img src = "{{MEDIA_URL}}img/login.png" id = "login"></a>
                <a href="{{SITE_URL}}register/user/"><img src = "{{MEDIA_URL}}img/sign_up.png" id = "sgnup"></a>
                {% endif %}
                <span id ="srch"><img src = "{{MEDIA_URL}}img/search.png" id = "srimg"><input type = "text" id = "search" name = "search"></span>
              </div>            
            </div>
          </div>
          <div id = "spons_container">
            <div id = "spons">
              <img src = "{{MEDIA_URL}}img/spons_box.png" style = "width : 176px;height:100%">
            </div>
          </div>
          <div class = "clearfloat"></div>
        </div>
        <div id = "header_bottom">
          <div id = "updates_container">

	    <div id="ticker" style="" class="iefix">
	      <div id="ticker-img-left" class="iefix"></div>
	      <a id="ticker-link-updates" style="font-size:18px;">Updates: </a>

	      <a id="ticker-link-text">Shaastra 10 Updates Ticker!</a>
	      <div id="ticker-img-right" class="iefix"></div>
	    </div>

          </div>
          <div id = "social_container">
            <div id = "social">
              <div id="fb"></div>
	      <div id="youtube"></div>
	      <div id="blogger"></div>
	      <div id="twitter"></div>
            </div>
          </div>
          <div class = "clearfloat"></div>
        </div>
      </div>   
      <!-- HEADER ENDS -->
    <div id = "content" style = "overflow:hidden; position:relative;">

 <!--  ==================================================================================================== -->                  
{%block body%}
      <div id = "content_top">
                	<div class = "content_container">
                    <div id = "lefttop">
                        Top left content stays here. This is a brilliant piece of work.
                    </div>

                    </div>
                    <div class = "content_container">
                    <div id = "righttop">
			<div id = "img_contaner">
                        <img src = "{{MEDIA_URL}}js2/Media/Images/einstien.jpg" style = "padding-left : 5px;">
			</div>
			<div id = "righttopcontent">
			    This is Random Content Here. Please respect THE MAN! And this is how long this will go. This is a test for the back end
			    guys to figure out where each thing goes. thank you.
			</div>

                    </div>
                    </div>
                    <div class = "clearfloat"></div>
                </div>
                <div id = "content_bottom">
                	<div class = "content_container_2">
                    <div id = "leftbottom">
                        <img src = "{{MEDIA_URL}}js2/Media/Images/video_box.png" style = "padding-left : 5px;">
                    </div>

                    </div>
                    <div class = "content_container_2">
                    <div id = "rightbottom">
			<div id = "rightbottomcontent">
                        RIGHT BOTTOM Content Lies here. Not nice to say the least. But this is a decent template, which the backend
			guys can work with i hope :P
			</div>
                    </div>
                    </div>
                    <div class = "clearfloat"></div>

                    
                </div>


{%endblock%}

<!-- ==================================================================================================== -->
<!--
        <div id = "video" style="width:560px; position:absolute; top:20px; left:30px;">
		<iframe width="560" height="349" src="http://www.youtube.com/embed/YH-frgafQuU" frameborder="0" allowfullscreen></iframe>
		</div>
		
        <div id = "verticlleft">
        <div id="events_heading" style="position:relative;  text-align: left; padding-left:20px;padding-bottom:20px; font-size:28px; font-weight:bold; color:#333;margin-left :auto;margin-right :auto; ">{{event_name}}</div>
            
        </div>
    
            
    <div id = "verticlright">
		  {% block event_spons%}
        <div id = "rtvtop">
            
            <div>
            Sponsored By:
            </div>
            <img src = "{{MEDIA_URL}}img/Nokia.png">
             
        </div>
        {% endblock %}
			{% block my_shaastra %}
        <div id = "rtvbottom">
            MY SHAASTRA HERE             
        </div>
        {% endblock %}
-->
    </div>
</div>

		
	    <div id = "footer_container">
	      <div id = "footerlinks">
		<a href = "#" class = "flinks" id = "con"></a>
		<a href = "#" class = "flinks" id = "pp"></a>
		<a href = "#footerlinks" class = "flinks" id = "blo"></a>
		<a href = "#" class = "flinks" id = "eve"></a>
		<a href = "#" class = "flinks" id = "med"></a>
		<a href = "#" class = "flinks" id = "mys"></a>
		<a href = "#" class = "flinks" id = "cre"></a>
		
	      </div>
	    </div>
	 </div>  
	



	  
    <div id = "scrollcontainer">
      <div id = "scroll">
        <div id = "1" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "2" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "3" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "4" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "5" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "6" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "7" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "8" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "9" class = "thumb"><div class = "thumbc"></div></div>
      </div>
    </div>
 {%block event_categories%}
     <div id="categories">
	<div id="container1" style="display:none; position:absolute; left:1200px; top:176px; width:1035px;">
	<div id="impact" onClick='openPopUp("impact",0,0)' onMouseOver='slide("impact",0,0)'></div>
	<div id="design_and_build" onClick='openPopUp("design_and_build",0,100)' onMouseOver='slide("design_and_build",0,100)'></div>
	<div id="coding" onClick='openPopUp("coding",0,150)' onMouseOver='slide("coding",0,150)'></div>

	<div id="involve" onClick='openPopUp("involve",0,200)'  onMouseOver='slide("involve",0,200)'></div>
	<div id="online" onClick='openPopUp("online",0,265)' onMouseOver='slide("online",0,265)'></div>
	<div id="spotlights" onClick='openPopUp("spotlights",76,0)' onMouseOver='slide("spotlights",76,0)'></div>
	<div id="flagship" onClick='openPopUp("flagship",76,25)' onMouseOver='slide("flagship",76,25)'></div>
	<div id="exhibition" onClick='openPopUp("exhibition",50,100)' onMouseOver='slide("exhibition",50,100)'></div>
	<div id="quizzes" onClick='openPopUp("quizzes",76,100)' onMouseOver='slide("quizzes",76,100)'></div>
	<div id="copter" onClick='openPopUp("copter",50,150)' onMouseOver='slide("copter",50,150)'></div>
	<div id="random_robo" onClick='openPopUp("random_robo",76,150)' onMouseOver='slide("random_robo",76,150)'></div>
	<div id="aerofest" onClick='openPopUp("aerofest",76,200)' onMouseOver='slide("aerofest",76,200)'></div>

	<div id="workshops" onClick='openPopUp("workshops",50,265)'  onMouseOver='slide("workshops",50,265)'></div>
	<div id="gen_robo" onClick='openPopUp("gen_robo",76,265)'  onMouseOver='slide("gen_robo",76,265)'></div>
  </div>
  <div id="popup_container" onclick="closePopUp()">
  <div id="close" style="position:absolute;color:#AAA; top:5px; right:10px;">X</div>
    
  <div>
  {%for category in categories%}
 {{category.title}}
    <!--<div id="{{category.title}}_contents" class="popup_contents">
	<div id="image"><img src="{{MEDIA_URL}}js2/Media/img/{{category.title}}_copy.jpg"/></div>
	<div id="contents"></div>

  </div>-->
 

 
  <div id="impact_contents" class="popup_contents">
	<div id="image"><img src="{{MEDIA_URL}}js2/Media/img/impact_copy.jpg"/></div>
	{%if category.title|stringformat:"s" == "impact"%}<div id="contents"></div>{%endif%}

  </div>
 

 
  <div id="design_and_build_contents" class="popup_contents">
	<div id="image"><img src="{{MEDIA_URL}}js2/Media/img/design_and_build_copy.jpg"/></div>
	{%if category.title|stringformat:"s" == "design and build"%}<div id="contents"></div>{%endif%}
  </div>

 {%if category.title|stringformat:"s" == "coding"%}
  <div id="coding_contents" class="popup_contents">
	<div id="image"><img src="{{MEDIA_URL}}js2/Media/img/coding_copy.jpg"/></div>
	<div id="contents"></div>
  </div>
{%endif%}
 {%if category.title|stringformat:"s" == "invovle"%}
  <div id="involve_contents" class="popup_contents">
	<div id="image"><img src="{{MEDIA_URL}}js2/Media/img/involve_copy.jpg"/></div>
	<div id="contents"></div>
  </div>
{%endif%}
{%if category.title|stringformat:"s" == "online"%}
   <div id="online_contents" class="popup_contents">
	<div id="image"><img src="{{MEDIA_URL}}js2/Media/img/online_copy.jpg"/></div>
	<div id="contents"></div>
  </div>
{%endif%}
{%if category.title|stringformat:"s" == "spotlights"%}
   <div id="spotlights_contents" class="popup_contents">

	<div id="image"><img src="{{MEDIA_URL}}js2/Media/img/spotlights_copy.jpg"/></div>
	<div id="contents"></div>
  </div>
{%endif%}
{%if category.title|stringformat:"s" == "flagship"%}
   <div id="flagship_contents" class="popup_contents">
	<div id="image"><img src="{{MEDIA_URL}}js2/Media/img/flagship_copy.jpg"/></div>
	<div id="contents"></div>
  </div>
{%endif%}
{%if category.title|stringformat:"s" == "exhibition"%}
   <div id="exhibition_contents" class="popup_contents">
	<div id="image"><img src="{{MEDIA_URL}}js2/Media/img/exhibition_copy.jpg"/></div>

	<div id="contents"></div>
  </div>
{%endif%}
{%if category.title|stringformat:"s" == "quizzes"%}
   <div id="quizzes_contents" class="popup_contents">
	<div id="image"><img src="{{MEDIA_URL}}js2/Media/img/quizzes_copy.jpg"/></div>
	<div id="contents"></div>
  </div>
{%endif%}
{%if category.title|stringformat:"s" == "aerofest"%}
   <div id="aerofest_contents" class="popup_contents">
	<div id="image"><img src="{{MEDIA_URL}}js2/Media/img/aerofest_copy.jpg"/></div>
	<div id="contents"></div>

  </div>
{%endif%}
{%if category.title|stringformat:"s" == "workshops"%}
   <div id="workshops_contents" class="popup_contents">
	<div id="image"><img src="{{MEDIA_URL}}js2/Media/img/workshops_copy.jpg"/></div>
	<div id="contents"></div>
  </div>
{%endif%}
{%if category.title|stringformat:"s" == "copter"%}
   <div id="copter_contents" class="popup_contents">
	<div id="image"><img src="{{MEDIA_URL}}js2/Media/img/copter_copy.jpg"/></div>
	<div id="contents"></div>
  </div>

{%endif%}  
{%if category.title|stringformat:"s" == "gen robo"%}
   <div id="gen_robo_contents" class="popup_contents">
	<div id="image"><img src="{{MEDIA_URL}}js2/Media/img/gen_robo_copy.jpg"/></div>
	<div id="contents"></div>
  </div>
{%endif%}
{%if category.title|stringformat:"s" == "random robo"%}
   <div id="random_robo_contents" class="popup_contents">
	<div id="image"><img src="{{MEDIA_URL}}js2/Media/img/random_robo_copy.jpg"/></div>
	<div id="contents"></div>
  </div>
{%endif%}
{%endfor%}</div>
  </div>

	</div>
</div>
<div id="right_arrow"  onclick="load_popup()"></div>
<div id="left_arrow" onclick="close_popup()"></div>

{%endblock%}





    <div id = "eventscontainer">
      
      <div id = "escroll">
	
      </div>
    </div>
    <div id = "temporary"></div>
</body>
</html>
