<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<!--__ index.html -->
  <body id="page" style="width:100%;">
	
<div id = "container">  
    <!-- HEADER BEGINS -->
    <head>
    <title>
     {%block title%}
       
      Shaastra 2011 - The
annual technical festival of IIT Madras
     {%endblock%}
    </title>

   	
 
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css2/style_copy.css">
         <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css2/events_scroll.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js2/Media/js/ticker.js"></script>

	<link rel="stylesheet" href="{{MEDIA_URL}}css2/main.css">
       <script type="text/javascript" src="{{MEDIA_URL}}js2/js/main.js"></script>
        <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}js2/Media/css/ticker.css">
      
   <script src="{{MEDIA_URL}}js2/js/main-slide.js" type="text/javascript"></script>
<!--	<script type="text/javascript" src="{{MEDIA_URL}}js2/js/jquery-1.3.2.min.js"></script> -->
<!--    <script type="text/javascript" src="{{MEDIA_URL}}js2/js/jquery-1.5.2-min.js"></script> -->

    
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css/ticker.css">
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css/events-tab.css" > 
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css/style_copy.css">
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css/events_scroll.css">
    <link rel="stylesheet" type="text/css" href= "{{MEDIA_URL}}css/event.css">
   <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}hospi/style/css/hospiTabs.css" />  
	
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script src="{{MEDIA_URL}}js2/js/easing.js" type="text/javascript"></script>

    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/ticker.js"></script>
 		<script type="text/javascript" src="{{MEDIA_URL}}js/js/script/jquery-ui-1.8.12.custom.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}hospi/scripts/js/hospiTabs.js"></script>
        <script type="text/javascript">
    function footeradjust(){
	   					
    }
  
	</script>
<link rel="stylesheet" media="screen" type="text/css" href="{{MEDIA_URL}}spacegallery/css/spacegallery.css" />
<!--	<script type="text/javascript" src="Media/js/jquery.js"></script>-->
<script type="text/javascript" src="{{MEDIA_URL}}spacegallery/js/eye.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}spacegallery/js/utils.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}spacegallery/js/spacegallery1.js"></script>

<script type="text/javascript">
$(document).ready(function(){
$('#myGallery').spacegallery({loadingClass: 'loading', perspective:'25', });
});
</script>

        

        
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/ticker2.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/js/script/action.js"></script>  
    <link rel="shortcut icon" href="{{MEDIA_URL}}fav.ico" >  
     

  <style type="text/css">
#listticker{
        position:relative;
        float:left;
        height:48px;
        width:85%;
        overflow:hidden;
        border:0;
        padding:0px 0px 14px 10x;
		}
#listticker li{
    border:0; margin:0; padding:0; list-style:none;
}

    #listticker li{
        height:30px;
        padding:6px;
        list-style:none;
    }
        #listticker a{
            color:#000000;
        }
        #listticker .news-title{
        font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
            display:block;
            font-weight:bold;
            margin-bottom:4px;
            font-size:14px;
        }
        #listticker .news-text{
        font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
            display:block;
            font-size:14px;
            color:#183c5a;
        }
        #listticker img{
            float:left;
            margin-left:40px;
            padding-top:3px;
			padding-bottom:3px;
            }
	.arro{
    position:relative;
	float:right;
	margin-right:40px;
	overflow:hidden;
    height:48px;
    width:27px;
	}
	.up{
overflow:hidden;
position:absolute;
left:0px;
top:4px;
height:16px;
width:27px;
background:url("http://www.shaastra.org/2011/Templates_test/up1.jpg");
}
.tick{
height:48px;
}
.down{
overflow:hidden;
position:absolute;
left:0px;
top:28px;
height:16px;
width:27px;
background:url("http://www.shaastra.org/2011/Templates_test/dow1.jpg");
}		 
</style>
<script type="text/javascript">        
$(document).ready(function(){
    interval = setInterval(move_all_down_circularly, pause);
});
var speed = 200;
var pause = 3500;
// Say, there are 4 elements is the list.
// The idea is to have all of them visible
// at all the time except the short sliding peroid
// (ie, during the circular function execution.)
// So, each of our functions start with all the elements
// of the list visible, and by the time they finish,
// all of them are still visible.

function move_all_down_circularly ()
{
    // hide and delete the last one,
    // put it at the start,
    // slide down (for this, first one has to be hidden),
    // the jquery slide down makes the first element visible.
    last = $('ul#listticker li:last').hide().remove();
    $('ul#listticker').prepend(last);
    $('ul#listticker li:first').slideDown("slow");
}

function move_all_up_circularly ()
{
    // slide up and after the animation is complete...
    // now the first one is hidden
    // delete the first one
    // add it to the end
    // make it visible
    first = $('ul#listticker li:first').slideUp("slow",  function() {
        $('ul#listticker').append(first);
        $('ul#listticker li:last').show();
    });
}

function clear_interval_evaluate_set_interval (function_to_eval)
{
    clearInterval (interval);
    function_to_eval ();
    interval = setInterval (move_all_down_circularly , pause);
}

function up ()
{
    // This is triggered when we press the up arrow.
    clear_interval_evaluate_set_interval (move_all_up_circularly);
}

function dow()
{
    // This is triggered when we press the down arrow.
    clear_interval_evaluate_set_interval (move_all_down_circularly);
}           
</script>
 
		
    <script type="text/javascript">
      var pops = 0;
      
      function popup(page){
	var detectclick = 0;
        if(detectclick == 0){
		  detectclick++;
		  callrec(page);
		  //pop=1;
		  setTimeout(function(){detectclick = 0},1000);
		  return;
	    }
}
      
    


	$(document).ready(function() {
			    
			  $('#ticker-img-right').click(function() {
			  clearTimeout(t);
			  untypeNext()
			  });
			  $('#ticker-img-left').click(function() {
			  clearTimeout(t);
			  untypePrev()
			  });
			  getTickerData();


			  $(document).ready(function() {
			  $('#ticker-img-right2').click(function() {
			  clearTimeout(t2);
			  untypeNext2()
			  });
			  $('#ticker-img-left2').click(function() {
			  clearTimeout(t2);
			  untypePrev2()
			  });
			  getTickerData2();
			  
			  });
      
    });
      
    </script>




    <script type="text/javascript">
      

      $(document).ready(function () {      
			  $('#ticker-img-right').click(function() {
			  clearTimeout(t);		
			  untypeNext()
			  });
			  $('#ticker-img-left').click(function() { 
			  clearTimeout(t);
			  untypePrev()
			  });
			  getTickerData();
      });
	  
	  
	  
	  
	  
				
				
    </script>

<style>

 .page{
		  
		  left:25px;
		  position:absolute;
		  
		  }
		  *{padding:0; margin:0}
		  
		  

		  #right_arrow{
  position:absolute;
  width:25px;
  height:70px;
  background:url("http://www.shaastra.org/2011/media/main/img/download.gif") 0 -70px;
  right:10px;
  top:300px;
  display:block;
}
#right_arrow:hover{background:url("http://www.shaastra.org/2011/media/main/img/download.gif") -25px -70px;}

#left_arrow{
  position:absolute;
  width:25px;
  height:70px;
  background:url("http://www.shaastra.org/2011/media/main/img/download.gif") 0 0px;
  left:10px;
  top:300px;
  display:none;
}
#left_arrow:hover{background:url("http://www.shaastra.org/2011/media/main/img/download.gif") -25px 0px;}
	</style>

   
{% block media_location%}{%endblock%}
  </head>

    <div id = "header" style="overflow:hidden;">
        <div id = "header_top">
          <div id = "logos_container">
            <div id = "logos">
              <img src = "{{MEDIA_URL}}img/all_logos.png" style = "width : 247px;height:115px">
            </div>
          </div>
          <div id ="navbar_container">
            <div id = "navbar" style="position:relative;">
               {%block top_navigation%}
              <a href = "{{SITE_URL}}home" class="navig" id = "home"><span class = "nclass">Home</span></a>
	      <a href = "#" class="navig" id = "events" onclick = "javascript:setTimeout(function(){popup(1)},00);"><span class = "nclass">Events</span></a>
	      <a href = "{{SITE_URL}}hospitality" class="navig" id = "hospi" ><span class = "nclass">Hospitality</span></a>
	      <a href = "{{SITE_URL}}sponsorship" class="navig" id = "sponsor"><span class = "nclass">Sponsorship</span></a>
 <!-- gallery button commented for time being. have to put it back once we get it-->
	     <!-- <a href = "#" class="navig" id = "gallery" onclick = "javascript:setTimeout(function(){popup(2)},00);"><span class = "nclass">Gallery</span></a>-->
               {%endblock%}
              
              <div id = "logandsearch">
              {%block log_and_search%}
               {% if user.is_authenticated and user.is_active%}	
                		    
                <div id="welcome" style="position:absolute; left:0px; top:85px; color:#183c5a; font-size:20px; font-weight:normal; font-family:'helvetica'">Welcome {{user}}</div>{%block welcome%}{%endblock%}
                <a href="{{SITE_URL}}logout/"><img src = "{{MEDIA_URL}}img/logout.png" id = "login_"  style="position:absolute; left:240px; top:85px;" ></a>
                {% else %}
                <a href="{{SITE_URL}}login/"><img src = "{{MEDIA_URL}}img/login.png" id = "login_" style="position:absolute; left:0px; top:85px;"></a>
                <a href="{{SITE_URL}}register/user/" ><img src = "{{MEDIA_URL}}img/sign_up.png" id = "sgnup_" style="position:absolute; left:120px; top:85px;"></a>
                {% endif %}
<!--                <div id ="srch"  style="position:absolute; left:362px; top:88px;"><img src = "{{MEDIA_URL}}img/search.png" id = "srimg_">&nbsp;&nbsp;<input type = "text" id = "search" name = "search"></div>
-->
             {%endblock%}
              </div>            
            </div>
          </div>
          <div id = "spons_container">
            <div id = "spons">
           {%block main_sponsor%}
              <img src = "{{MEDIA_URL}}img/spons_box.png" style = "width : 176px;height:100%">
           {%endblock%}
            </div>
          </div>
          <div class = "clearfloat"></div>
        </div>
        <div id = "header_bottom">
          <div id = "updates_container">
			<div id="ucLeft"></div>
			<div id="ucMid"></div>
			<div id="ucRight"></div>
        <script type="text/javascript"> if(IE_) $("#updates_container").css('top','-3px');</script>
          {%block updates%}
	    <div class="tick" style="">
	     <ul id="listticker"> 
       <li>
	 <img src="http://www.shaastra.org/2011/Templates_test/index.jpg" />
		<a href="" class="news-title">Welcome</a>
		<a href="" class="news-text">IIT MADRAS welcomes you to Shaastra</a>
	</li>
	<li>
        <img src="http://www.shaastra.org/2011/Templates_test/spon.jpg" />
		<a href="" class="news-title">Sponsors</a>
		<a href="" class="news-text">We thank all our sponsors and the spons team</a>
	</li>
	<li>
	<img src="http://www.shaastra.org/2011/Templates_test/car1.jpg" />
		<a href="" class="news-title">Events</a>
         <a href="" class="news-text">A whole new range of events to take part in come and explore shaastra 2k11</a>
	</li>
       <li>
         <img src="http://www.shaastra.org/2011/Templates_test/hospi1.jpg" />
		<a href="" class="news-title">Hospitality</a>
        <a href="" class="news-text">Atithi devo bhava:Our motto</a>
	</li>
 <li>
         <img src="http://www.shaastra.org/2011/Templates_test/dic.png" />
		<a href="" class="news-title">Website</a>
	    <a href="" class="news-text">Shaastra 2011 website is up</a>
	</li>
</ul>
<div class="arro">
<a href="#"upp" class='up' onClick='up();'></a>
<a href="#" id="do" class='down' onClick='dow();'></a>
</div>     
</div>
     {%endblock%}
	    </div>

          </div>

          <div id = "social_container">
            <div id = "social">
           {%block social%}
				<a href="http://www.facebook.com/Shaastra" target="_blank" ><div id="fb"></div></a>
				<a href="http://www.youtube.com/iitmshaastra" target="_blank" ><div id="youtube"></div></a>
				<a href="http://www.shaastra.org/blog/" target="_blank"><div id="blogger"></div></a>
				<a href="http://www.twitter.com/shaastra_2011" target="_blank" ><div id="twitter"></div></a>
				
          {%endblock%}
            </div>
	    <g:plusone href = "www.shaastra.org"></g:plusone>
          </div>

          <div class = "clearfloat"></div>
        </div>
      </div>   
      <!-- HEADER ENDS -->


<div id="page1" class="page" style = "overflow:hidden; position:relative;height:433px;width:90%">
    <div id = "content" >

                   
{%block body%}
      <div id = "content_top">
                	<div class = "content_container">
                    <div id = "lefttop">
			<img id="qOpen" src="http://www.shaastra.org/2011/media/main/img/quote_open.png"/>

                        <div id="shString">
			     
			</div>
						<img id="qClose_main" src="http://www.shaastra.org/2011/media/main/img/quote_close.png" style="float:right;margin-top :120px;  margin-right:25px"/> 			
                    </div>

                    </div>
<script>function fadein(){
document.write("<style type='text/css'>#myGallery{visibility:hidden;} </style>");

$("#myGallery").fadeIn("slow");} </script>
                    <div class = "content_container">
                    <div id = "righttop">
 <div id="myGallery" class="spacegallery" style="width:529px; height:160px;" onload="fadein()">
	<img src="{{MEDIA_URL}}spacegallery/img/einstien.png"/>
	<img src="{{MEDIA_URL}}spacegallery/img/iitm_sym.jpg"/>
	<img src="{{MEDIA_URL}}spacegallery/img/research_expo.png"/>
  </div>

                    </div>


                    </div>
                    <div class = "clearfloat"></div>
                </div>
                <div id = "content_bottom">
                	<div class = "content_container_2">
                    <div id = "leftbottom">
						<iframe style="position:absolute; top:8px; left:107px;" width="409" height="224" src="http://www.youtube.com/embed/YH-frgafQuU" frameborder="0" allowfullscreen></iframe>
                        
                    </div>

                    </div>
                    <div class = "content_container_2">
                    <div id = "rightbottom">
			<div id = "rightbottomcontent">
                       The long wait for IIT Madras’ exalted technical festival will soon end. The 13th edition of Shaastra, to be held between September 28th and October 2nd, is set to amaze and enthrall audiences everywhere! Shaastra will extend its focus on challenging new boundaries and will be a platform of ingenuity and innovation. A dedicated show with spectacular displays of technology and science will stretch the limits of your imagination. Continuing the philosophy of promoting creativity and showcasing innovation, Shaastra 2011 is all set to truly Inspire the Future. 
			</div>
                    </div>
                    </div>
                    <div class = "clearfloat"></div>

                    
                </div>


{%endblock%}

    </div>

 </div>

{%block event_categories%}

   <div id="page2" class="page" style="display:none; position:absolute; left:1200px; top:176px; width:99%;" >{% include "event_categories.html" %}</div>

<!-- commneting out gallery for time being -->
       <!-- <div id="page3" class="page" style="display:none; left:1200px; top:176px; height:300px;">{% include "gallery.html" %}</div>-->

<div id="right_arrow" onclick="slide1()"></div>
	<div id="left_arrow" onclick="slide_back()"></div>

{%endblock%}   


           {%block footer%}
            		
	    <div id = "footer_container">
	      <div id = "footerlinks">
           
		
		<a href = "{{SITE_URL}}policy/" class = "flinks" id = "pp"></a>
		<a href = "#footerlinks" class = "flinks" id = "blo"></a>
		<a href = "#" class = "flinks" id = "eve" onclick = "javascript:setTimeout(function(){popup(1)},00);"></a>
		<!--<a href = "#" class = "flinks" id = "med"></a>
		<a href = "#" class = "flinks" id = "mys"></a>-->
		<a href = "{{SITE_URL}}credits" class = "flinks" id = "cre"></a>
		<a href = "#" class = "flinks" id = "con"></a>
	      </div>
	    </div>
 {%block gradient%}
  
{%endblock%}


	 </div>  
	



	  
    <div id = "scrollcontainer">
      <div id = "scroll">
        <div id = "1" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "2" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "3" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "4" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "5" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "6" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "7" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "8" class = "thumb"><div class = "thumbc"></div></div>
        <div id = "9" class = "thumb"><div class = "thumbc"></div></div>
      </div>
    </div>
 {%endblock%}

 {%block menu_popup%}
    <div id = "eventscontainer">
      
      <div id = "escroll">
	
      </div>
    </div>
    <div id = "temporary"></div>
    <div id = "closeonclick"></div>
 {%endblock%}
</body>
</html>
