{{username}} 
Thank You for registering for Shaastra 2010!
We noticed that you had faced some problems in the past registering for the
userportal, and we deeply regret the inconvinence. We have added you to the
userportal, but we do not know from which college you are. Please send us a
reply and we will fix the same.

You can now access the different services available to registered users by
logging into the Shaastra UserPortal.

Login here: http://www.shaastra.org/2010/userportal/login/

We hope you have a great Shaastra.

Cheers,
The Shaastra WebOps Team
