{%extends "index.html"%}
{%block media_location%}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}spons/style/css/sponsTabs.css" />   
<script type="text/javascript" src="{{MEDIA_URL}}spons/scripts/js/sponsTabs.js"></script>
<script type="text/javascript">
</script>
<script type="text/javascript"> $("#page1").css({'width':'100%','left':'0px'}); </script>
{%endblock%}

{%block body%}
	
		<div id="sponsContainer" style="width:100%; visibility:hidden;">
	    
			{%if is_core%}	
	<div id="edit_spons">

         <div class="button2">
		<a href="#">
		  <form action= "{{SITE_URL}}events/UpdateSponsPage" method="GET">
		  {% csrf_token %}
		  <input type="hidden" value="1" name=tab_id >						
	          <input type="submit" value="edit 2011 spons">
	          </form>
	   	</a>
	<span></span>
	</div>
 
          
    </div>

	{%endif%}
			<div id="sponsContent">
				<div id="sponsTabs">
					<div id="spons2007">2011</div>
					<div id="spons2010">2010</div>
					<div id="spons2009">2009</div>
					<div id="spons2008">2008</div>
					<div id="sponsContact">Contact</div>
					<div id="sponsMedia">Media</div>
				</div>
				<div id="sponsTabsContent">
					<div id="spons2011_">
						<img src="{{MEDIA_URL}}spons/images/prevSpons.jpg" />
					</div>
					<div id="spons2010_">
							<div class="content"><table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
	<tbody>
		<tr>
			<td class="rtecenter" colspan="2">
				<font size="3"><strong>Main sponsor:</strong></font></td>
		</tr>

		<tr>
			<td class="rtecenter" colspan="2">
				<a href="http://www.vmware.com/" target="_blank"><img alt="VMware" src="http://www.shaastra.org/2010/main/sites/default/files/images/VMWare_black.png" style="width: 373px; height: 62px;" /></a></td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center; width: 50%;">
				&nbsp;</td>
			<td style="vertical-align: middle; text-align: center; width: 50%;">
				&nbsp;</td>

		</tr>
		<tr>
			<td colspan="2" style="vertical-align: middle; text-align: center; width: 50%;">
				<font size="3"><strong>Associate</strong></font><font size="3"><strong> sponsor</strong></font></td>
		</tr>
		<tr>
			<td colspan="2" style="vertical-align: middle; text-align: center; width: 50%;">

				<a href="http://www.vestas.com/" target="_blank"><img alt="Vestas" src="http://www.shaastra.org/2010/main/sites/default/files/images/vestaslogo.png" style="width: 286px; height: 56px;" /></a></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">
				&nbsp;</td>
			<td style="vertical-align: top;">
				&nbsp;</td>
		</tr>
		<tr>

			<td class="rtecenter" colspan="2">
				<font size="3"><strong>Co sponsor:</strong></font></td>
		</tr>
		<tr>
			<td class="rtecenter">
				<a href="http://www.ge.com/in/" target="_blank"><img alt="GE" src="http://www.shaastra.org/2010/main/sites/default/files/images/ge.png" style="width: 226px; height: 69px;" /></a></td>
			<td class="rtecenter">
				<a href="http://www.boeing.co.in/" target="_blank"><img alt="Boeing" src="http://www.shaastra.org/2010/main/sites/default/files/images/boeing.png" style="width: 226px; height: 90px;" /></a></td>

		</tr>
		<tr>
			<td class="rtecenter">
				<a href="http://www.boschindia.com/" target="_blank"><img alt="Bosch" src="http://www.shaastra.org/2010/main/sites/default/files/images/bosch.png" style="height: 60px; width: 166px;" /></a></td>
			<td class="rtecenter">
				<a href="http://www.wipro.com/" target="_blank"><img alt="Wipro" src="http://www.shaastra.org/2010/main/sites/default/files/images/Wipro_Logo_1.png" style="height: 125px; width: 117px;" /></a></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">

				&nbsp;</td>
			<td style="vertical-align: top;">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 50%;">
				<font size="3"><strong>Hospitality sponsor:</strong></font></td>
		</tr>

		<tr>
			<td style="text-align: center; vertical-align: top; width: 50%;">
				<a href="http://www.boschindia.com/" target="_blank"><img alt="SBI" src="http://www.shaastra.org/2010/main/sites/default/files/images/Sbi.png" style="height: 60px; width: 188px;" /></a></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">
				&nbsp;</td>
			<td style="vertical-align: top;">
				&nbsp;</td>

		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 50%;">
				<font size="3"><strong>Print Media Sponsor</strong></font></td>
			<td style="text-align: center; vertical-align: top; width: 50%;">
				<font size="3"><strong>Television Media Sponsor</strong></font></td>
		</tr>
		<tr>

			<td style="vertical-align: middle; text-align: center; width: 50%;">
				<a href="http://www.thehindu.com/" target="_blank"><img alt="Hindu" src="http://www.shaastra.org/2010/main/sites/default/files/images/Hindu.png" style="height: 30px; width: 238px;" /></a></td>
			<td style="vertical-align: middle; text-align: center; width: 50%;">
				<a href="http://www.ndtv.com/" target="_blank"><img alt="NDTV" src="http://www.shaastra.org/2010/main/sites/default/files/images/NDTV.png" style="width: 140px; height: 70px;" /></a></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">
				&nbsp;</td>
			<td style="vertical-align: top;">

				&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2" style="vertical-align: middle; text-align: center; width: 50%;">
				<font size="3"><strong>Radio Partner</strong></font></td>
		</tr>
		<tr>
			<td colspan="2" style="vertical-align: middle; text-align: center; width: 50%;">

				<img alt="BigFM" src="http://www.shaastra.org/2010/main/sites/default/files/images/bigfm.jpg" style="width: 204px; height: 72px;" /></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">
				&nbsp;</td>
			<td style="vertical-align: top;">
				&nbsp;</td>
		</tr>
		<tr>

			<td style="text-align: center; vertical-align: top; width: 50%;">
				<font size="3"><strong>Teleco</strong></font><font size="3"><strong>m Partner</strong></font></td>
			<td style="text-align: center; vertical-align: top; width: 50%;">
				<font size="3"><strong>Outreach </strong></font><font size="3"><strong>Partner</strong></font></td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 50%;">

				<a href="http://www.ericsson.com/" target="_blank"><img alt="Telecom Partner" src="http://www.shaastra.org/2010/main/sites/default/files/images/ericson.png" style="width: 103px; height: 90px;" title="Ericsson" /></a></td>
			<td style="text-align: center; vertical-align: top; width: 50%;">
				<a href="http://www.canarabank.com/" target="_blank"><img alt="canara bank" jpg="" src="http://www.shaastra.org/2010/main/sites/default/files/images/CanaraBank.jpg" style="width: 209px; height: 50px;" /></a></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">
				&nbsp;</td>
			<td style="vertical-align: top;">
				&nbsp;</td>

		</tr>
		<tr>
			<td colspan="2" style="text-align: center; vertical-align: top; width: 50%;">
				<font size="3"><strong>Event Sponsor</strong></font></td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 50%;">
				<a href="http://www.google.co.in/" target="_blank"><img alt="Google" src="http://www.shaastra.org/2010/main/sites/default/files/images/google1.png" style="width: 200px; height: 80px;" /></a></td>

			<td style="text-align: center; vertical-align: top; width: 50%;">
				<a href="http://www.durr.com/worldwide2/india.html" target="_blank"><img alt="Durr" src="http://www.shaastra.org/2010/main/sites/default/files/images/durr.png" style="width: 140px; height: 70px;" /></a></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">
				&nbsp;</td>
			<td style="vertical-align: top;">
				&nbsp;</td>
		</tr>

		<tr>
			<td style="text-align: center; vertical-align: top; width: 50%;">
				<a href="http://www.shell.com/" target="_blank"><img alt="shell" src="http://www.shaastra.org/2010/main/sites/default/files/images/Shell1.png" style="height: 90px; width: 162px;" /></a></td>
			<td style="text-align: center; vertical-align: top; width: 50%;">
				<a href="http://www.eaton.com/EatonCom/index.htm" target="_blank"><img alt="Eaton" src="http://www.shaastra.org/2010/main/sites/default/files/images/eaton_logoPBWW.png" style="width: 213px; height: 90px;" /></a></td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 50%;">
				<a href="http://www.tiindia.com/" target="_blank"><img alt="TI" src="http://www.shaastra.org/2010/main/sites/default/files/images/ti-logo.png" style="height: 100px;" /></a></td>

			<td style="text-align: center; vertical-align: top; width: 50%;">
				<a href="http://www.murugappa.com/" target="_blank"><img alt="Murugappa" src="http://www.shaastra.org/2010/main/sites/default/files/images/murugappa-logo.png" style="width: 137px; height: 84px;" /></a></td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center; vertical-align: top; width: 50%;">
				<a href="http://www.airbus.com/" target="_blank"><img alt="Airbus" src="http://www.shaastra.org/2010/main/sites/default/files/images/airbus.png" style="width: 103px; height: 90px;" /></a><br />
				&nbsp;</td>
		</tr>
		<tr>

			<td style="vertical-align: top;">
				&nbsp;</td>
			<td style="vertical-align: top;">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 50%;">
				<font size="3"><strong>Travel Partner</strong></font></td>

			<td style="text-align: center; vertical-align: top; width: 50%;">
				<font size="3"><strong>Knowledge Partner</strong></font></td>
		</tr>
		<tr>
			<td style="text-align: center; vertical-align: top; width: 50%;">
				<a href="http://www.cleartrip.com/" target="_blank"><img alt="" src="http://www.shaastra.org/2010/main/sites/default/files/images/CTlogo.png" style="width: 214px; height: 60px;" /></a></td>
			<td style="text-align: center; vertical-align: top; width: 50%;">
				<a href="http://www.studyinholland.nl/" target="_blank"><img alt="Study in Holland" src="http://www.shaastra.org/2010/main/sites/default/files/images/study_holl_wen_logo1.png" style="width: 110px; height: 110px;" /></a></td>

		</tr>
		<tr>
			<td style="vertical-align: top;">
				&nbsp;</td>
			<td style="vertical-align: top;">
				&nbsp;</td>
		</tr>
		<tr>
			<td style="vertical-align: top; text-align: center; width: 50%;">

				<font size="3"><strong>Publicity Partner</strong></font></td>
			<td style="vertical-align: top; text-align: center; width: 50%;">
				<font size="3"><strong>Global Media Partner</strong></font></td>
		</tr>
		<tr>
			<td style="vertical-align: top; text-align: center; width: 50%;">
				<a href="http://www.contactsingapore.sg/" target="_blank"><img alt="CS-Logo" src="http://www.shaastra.org/2010/main/sites/default/files/images/CS-Logo.png" style="width: 213px; height: 80px;" /></a></td>
			<td style="vertical-align: top; text-align: center; width: 50%;">

				<a href="http://www.studentcompetitions.com/" target="_blank"><img alt="SC Logo" src="http://www.shaastra.org/2010/main/sites/default/files/images/SC_logo_black_highres1.png" style="width: 221px; height: 75px;" /></a></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">
				&nbsp;</td>
			<td style="vertical-align: top;">
				&nbsp;</td>
		</tr>
		<tr>

			<td style="vertical-align: top; text-align: center; width: 50%;">
				<font size="3"><strong>Lecture Sponsor</strong></font></td>
			<td style="vertical-align: top; text-align: center; width: 50%;">
				<font size="3"><strong>University Partner</strong></font></td>
		</tr>
		<tr>
			<td style="vertical-align: top; text-align: center; width: 50%;">
				<a href="http://www.swissnex.org/" target="_blank"><img alt="Swissnex" src="http://www.shaastra.org/2010/main/sites/default/files/images/IND_logo1.jpg" style="width: 250px; height: 68px;" /></a></td>

			<td style="vertical-align: top; text-align: center; width: 50%;">
				<a href="http://www.campusfrance.org/en" target="_blank"><img alt="TMB" src="http://www.shaastra.org/2010/main/sites/default/files/images/inde.png" style="width: 250px; height: 77px;" /></a></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">
				&nbsp;</td>
			<td style="vertical-align: top;">
				&nbsp;</td>
		</tr>

		<tr>
			<td colspan="2" style="vertical-align: top; text-align: center; width: 50%;">
				<font size="3"><strong>Event Partners</strong></font></td>
		</tr>
		<tr>
			<td class="rtecenter" style="vertical-align: top;">
				<a href="http://www.iocl.com/" target="_blank"><img alt="IOC" src="http://www.shaastra.org/2010/main/sites/default/files/images/IOC.png" style="width: 74px; height: 90px;" /></a></td>
			<td class="rtecenter" style="vertical-align: top;">

				<a href="http://www.gmrgroup.in/" target="_blank"><img alt="GMR" src="http://www.shaastra.org/2010/main/sites/default/files/images/GMR.png" style="width: 130px; height: 68px;" /></a></td>
		</tr>
		<tr>
			<td class="rtecenter" colspan="2" style="vertical-align: top;">
				<a href="http://www.netapp.com/" target="_blank"><img alt="Netapp" src="http://www.shaastra.org/2010/main/sites/default/files/images/Netapp.png" style="width: 75px; height: 90px;" /></a></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">
				&nbsp;</td>

			<td style="vertical-align: top;">
				&nbsp;</td>
		</tr>
		<tr>
			<td class="rtecenter" colspan="2" style="vertical-align: top;">
				<font size="3"><strong>Symposium Prize Sponsor</strong></font></td>
		</tr>
		<tr>

			<td class="rtecenter" style="vertical-align: top;">
				<a href="http://www.tmb.in/" target="_blank"><img alt="TMB" src="http://www.shaastra.org/2010/main/sites/default/files/images/TMB_Logo.png" style="height: 50px; width: 233px;" /></a></td>
			<td class="rtecenter" style="vertical-align: top;">
				<a href="http://www.zoho.com/" target="_blank"><img alt="Zoho" src="http://www.shaastra.org/2010/main/sites/default/files/images/zoho1.png" style="width: 118px; height: 75px;" /></a></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">
				&nbsp;</td>
			<td style="vertical-align: top;">

				&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2" style="vertical-align: middle; text-align: center; width: 50%;">
				<font size="3"><strong>Hospitality Sponsor: Al Gore Sustainable Technology Venture Competition 2010</strong></font></td>
		</tr>
		<tr>
			<td colspan="2" style="vertical-align: middle; text-align: center; width: 50%;">

				<a href="http://www.marriott.com/default.mi" target="_blank"><img alt="Marriot" src="http://www.shaastra.org/2010/main/sites/default/files/images/Marriott.png" style="width: 115px; height: 90px;" /></a></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">
				&nbsp;</td>
			<td style="vertical-align: top;">
				&nbsp;</td>
		</tr>
		<tr>

			<td class="rtecenter" colspan="2" style="vertical-align: top;">
				<font size="3"><strong>Gift Sponsor</strong></font></td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center; width: 50%;">
				<a href="http://www.quickheal.com/" target="_blank"><img alt="" src="http://www.shaastra.org/2010/main/sites/default/files/qh_logo.jpg" style="width: 150px; height: 41px;" /></a></td>
			<td style="vertical-align: middle; text-align: center; width: 50%;">
				<p class="rtecenter">

					<a href="http://www.bhel.com/home.php" target="_blank"><img alt="BHEL" src="http://www.shaastra.org/2010/main/sites/default/files/images/bhel.png" style="width: 106px; height: 80px;" /></a></p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle; text-align: center; width: 50%;">
				<p>
					<a href="http://pantaloon.futurebazaar.com/indexPantaloon.jsp" target="_blank"><img alt="Pantaloons" src="http://www.shaastra.org/2010/main/sites/default/files/images/pantaloon.png" style="width: 160px; height: 60px;" /></a></p>
			</td>
			<td style="vertical-align: middle; text-align: center; width: 50%;">

				<p>
					<a href="http://www.wildcraft.in/" target="_blank"><img alt="Wildcraft" src="http://www.shaastra.org/2010/main/sites/default/files/images/wildcraft1.png" style="height: 40px; width: 265px;" /></a></p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="vertical-align: middle; text-align: center; width: 50%;">
				<p>
					<a href="http://www.iradiopop.com/index_noflash.html" target="_blank"><img alt="Radiopopp" src="http://www.shaastra.org/2010/main/sites/default/files/images/radiopop.png" style="height: 60px; width: 128px;" /></a></p>
			</td>

		</tr>
	</tbody>
</table>
<br />
</div>  
					</div>
					<div id="spons2009_">
					<div class="content">
<p>

		&nbsp;</p>
<div align="left" class="spons_pics">
		<strong>Co-Sponsors:</strong>
<p>
			<a href="http://www.boeing.com"><img alt="Co-sponsor" src="http://www.shaastra.org/2009/site/images/boeing_latest.jpg" style="width: 270px; height: 98px;" title="Boeing" /> </a> <a href="http://www.kavinengg.com/"><img alt="Co-sponsor" src="http://www.shaastra.org/2009/site/themes/prince_hari/kavin_logo_final.jpg" style="width: 450px; height: 100px; padding-bottom: 0px; padding-right: 0px;" title="Kavin" /> </a></p>
</div>
<p></p>
<hr />
<div align="left" class="spons_pics">
		<strong>Industry Partners </strong>

<p>		<img alt="Industry Sponsor" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/ficci-logo.jpg" style="width: 185px;" title="FICCI" /></p></div>
<p></p>
<hr />
<div align="left" class="spons_pics">
		<strong>Hospitality Partner</strong>
<p>
			<a href="http://www.pnbindia.com"><img alt="Hospitality Partner" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/pnblogo.gif" style="width: 300px; height: 66px;" title="PNB" /></a></p>
</div>
<hr />
<div align="left" class="spons_pics">
		<strong>Telecom Partner</strong>

<p>
			<a href="http://www.ericsson.com"><img alt="Telecom Partner" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/ericsson_logo.jpg" style="width: 208px; height: 182px;" title="Ericsson" /></a></p>
</div>
<hr />
	
<div align="left" class="spons_pics">
		<strong>Endeavour Sponsor</strong>
<p>
			<a href="http://www.sbi.com"><img alt="Endeavour Sponsor" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/Sbi-Logo.jpg" style="width: 250px;" title="SBI" /></a></p>
</div>
<hr />
<div align="left" class="spons_pics">
		<br />

		<strong>Event Sponsors</strong>
<p>
			&nbsp;</p>
<table cellpadding="20" style="padding-left: 20px;">
<tbody>
<tr>
<td>
						<a href="http://www.airbus.com"><img alt="Event partner" src="http://www.shaastra.org/2011/media/main/img/airbus.png" style="width: 135px; height: 65px;" title="Airbus" /></a></td>
<td>
						<a href="http://www.bosch.com"><img alt="Event partner" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/bosch_logo_big.jpg" style="width: 194px; height: 169px;" title="Bosch" /></a></td>
</tr>
<tr>

<td>
						<a href="http://www.durr.com"><img alt="Event partner" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/durrlogocolor.jpg" style="width: 170px; height: 80px; padding-bottom: 40px; padding-left: 30px;" title="Durr" /></a></td>
<td>
						<a href="http://www.tiindia.com"><img alt="TII" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/tii-logo.JPG" title="TII" width="200" /></a></td>
<td>
						&nbsp;</td>
</tr>
<tr>
<td>
						<a href="http://www.ge.com"><img alt="GE" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/ge_logo_small.jpg" title="GE" /></a></td>
<td>
						<a href="http://www.qualcomm.com"><img alt="Qualcomm" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/Qualcomm_colour.gif" style="margin-top: 20px; padding-left: 12px; width: 190px;" title="Qualcomm" /></a></td>

<td>
						&nbsp;</td>
</tr>
</tbody>
</table>
</div>
<hr />
	
<div class="spons_pics">
		<strong>Television Media Partner </strong><br />
		<img src="http://www.shaastra.org/2009/site/themes/prince_hari/images/NDTV_Hindu_logo.jpg" width="250px" /></div>
<hr />
	

<div class="spons_pics">
		<strong>Official Beverage Partner </strong><br />
		<img src="http://www.shaastra.org/2009/site/themes/prince_hari/images/nimbooz_logo.jpg" width="250px" /></div>
<hr />
	
<div class="spons_pics">
		<strong>Technology Partner</strong><br />
		<a href="http://www.apple.com/"><img src="http://www.shaastra.org/2009/site/themes/prince_hari/apple_logo_1.jpg" width="125px" /></a></div>
<hr />
	
<div align="" class="spons_pics" left="">

		<strong>Knowledge Partner</strong>
<p>
			<a href="http://www.nuffic.nl"><img alt="Knowledge Partner" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/study_holl_wen_logo.jpg" style="width: 208px; height: 182px;" title="Study in Holland" /></a></p>
</div>
<hr />
	
<div align="" class="spons_pics" left="">
		<strong>Education Partner</strong>
<p>
			<img alt="Education Partner" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/bocconi%20logo.jpg" title="Bocconi" /></p>
</div>

<hr />
	
<div align="left" class="spons_pics">
		<br />
		<strong>FOSS Partner</strong>
<p>		<a href="http://www.firefox.com"><img alt="Open Source Partner" src="http://www.shaastra.org/2009/site/images/firefox_logo.jpg" style="width: 216px; height: 85px; padding-left: 20px;" title="Firefox" /></a><br />
		&nbsp;</p></div>
<hr />
	
<div align="left" class="spons_pics">
		<br />

		<strong>Radio Partner</strong>
<p>		<a href="http://www.chennailive.fm/"><img alt=" Radio Partner" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/chennai_live_logo.jpg" title="Chennai Live" /></a><br />
		&nbsp;</p></div>
<hr />
	
<div align="left" class="spons_pics">
		<br />
		<strong>Videos and Movies Partner</strong>
<p>		<a href="http://www.discovery.com"><img alt=" Video Partner" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/discovery_logo.jpg" title="Discovery" /></a><br />

		&nbsp;</p></div>
<hr />
	
<div align="left" class="spons_pics">
		<br />
		<strong>Synergy Partner</strong>
<p>		<a href="http://library.britishcouncil.org.in/"><img alt="Synergy Partner" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/british_council_logo.jpg" title="British Council" /></a></p></div>
<hr />
	
<div align="left" class="spons_pics">
		<br />

		<strong>Talent Search Partner</strong>
<p>		<a href="http://www.greedge.com"><img alt="Talent Search Partner" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/gre_edge_logo_small.jpg" title="GREedge" width="250px" /></a></p></div>
<hr />
	
<div align="left" class="spons_pics">
		<br />
		<strong>Official Technical Magazine Partner</strong>
<p>		<a href="http://www.efymag.com"><img alt="Talent Search Partner" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/efy_small.jpg" style="width: 250px;" title="ElectronicsForYou" /></a></p></div>
<hr />
	

<div align="left" class="spons_pics">
		<br />
		<strong>Gifts Sponsor :</strong>
<p>		<a href="http://www.harpercollins.com/"><img alt="Gifts Sponsor" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/harper_logo%20with%20text%20-%20high%20res.jpg" style="width: 80px;" title="HarperCollins" /></a> <a href="http://www.tandooritadakka.com/"><img alt="Gifts Sponsor" src="http://www.shaastra.org/2009/site/themes/prince_hari/images/tandoor_logo.jpg" style="padding-left: 30px; padding-bottom: 10px; width: 200px;" title="Tandoor" /></a></p></div>
<p>
		&nbsp;</p>
<p>
		&nbsp;</p>
</div>


					</div>
					<div id="spons2008_"><div class="content"><div align="center">
	<strong>We would like to thank all of our sponsors for their continued support</strong></div>
<div class="content">
<table border="0" cellspacing="0" class="spons_table" style="table-layout: fixed; width: 100%;">
<tbody>
<tr>
<td align="middle" bgcolor="#eeeeee" valign="center">

					<span style="padding: 0px; font-size: 1em; line-height: 1.5em;"><strong>Principal Sponsor</strong> </span>
<p>
						&nbsp;</p>
</td>
</tr>
<tr>
<td align="middle" style="padding-bottom: 10px;">
					<a href="http://www.lntinfotech.com/" target="_blank" title="L&amp;T Infotech"><img alt="L&amp;T Infotech" class="is " src="http://images.shaastra.org/spons/2008/L&amp;T.jpg" style="padding-bottom: 15px; margin-right: 15px;" /></a></td>
</tr>
<tr>
<td align="middle" bgcolor="#eeeeee" valign="center">
					<span style="font-size: 1em; line-height: 1.5em;"><strong>Associate Title Sponsors</strong> </span>

<p>
						&nbsp;</p>
</td>
</tr>
<tr>
<td align="middle">
<table align="center" border="0" cellspacing="0" style="width: 100%;">
<tbody>
<tr>
<td align="middle">
									<a href="http://www.qualcomm.com/" target="_blank" title="Qualcomm"><img alt="Qualcomm" class="is " src="http://images.shaastra.org/spons/2008/qualcomm.jpg" style="width: 285px; height: 142px;" /></a></td>
<td align="middle">
									<a href="http://www.ril.com/" target="_blank" title="Reliance"><img alt="Reliance" class="is " src="http://images.shaastra.org/spons/2008/reliance_logo.jpg" style="width: 259px; height: 134px;" /></a></td>
</tr>

</tbody>
</table>
</td>
</tr>
<tr>
<td align="middle" bgcolor="#eeeeee" valign="center">
					<span style="font-size: 1em; line-height: 1.5em;"><strong>Synergy Associate </strong> </span>
<p>
						&nbsp;</p>
</td>
</tr>
<tr>
<td align="middle" style="padding-bottom: 10px; width: 50%;">

					<a href="http://www.renault.com/" target="_blank" title="Renault"><img alt="Renault" class="is " src="http://images.shaastra.org/spons/2008/renault.gif" style="padding-top: 10px;" /></a></td>
</tr>
<tr>
<td align="middle" bgcolor="#eeeeee" valign="center">
					<span style="font-size: 1em; line-height: 1.5em;"><strong>Co-Sponsors</strong> </span>
<p>
						&nbsp;</p>
</td>
</tr>
<tr>
<td align="middle">
<table align="center" border="0" cellspacing="0" style="width: 100%;">

<tbody>
<tr>
<td align="middle">
									<a href="http://www.lancogroup.com/" target="_blank" title="Lanco"><img alt="Lanco" class="is " src="http://images.shaastra.org/spons/2008/lanco.gif" /></a></td>
<td align="middle">
									<a href="http://www.ge.com/" target="_blank" title="General_elec"><img alt="GE" class="is " src="http://images.shaastra.org/spons/2008/Ge_logo.jpg" /></a></td>
</tr>
<tr style="padding-bottom: 15px;">
<td align="middle" style="padding-bottom: 10px;">
									<a href="http://www.vestas.com/" target="_blank" title="vestas"><img alt="Vestas" class="is " src="http://images.shaastra.org/spons/2008/vestas.jpg" /></a></td>
<td align="middle" style="padding-bottom: 10px;">
									<a href="http://www.shell.com/careers" target="_blank" title="shell"><img alt="Shell" class="is " src="http://images.shaastra.org/spons/2008/shell.jpg" /></a></td>
</tr>

</tbody>
</table>
</td>
</tr>
<tr>
<td>
					
<table align="center" border="0" cellspacing="0" style="width: 100%;">
<tbody>
<tr>
							</tr>
<tr>
<td align="middle" bgcolor="#eeeeee" style="width: 50%;" valign="center">
									<span style="font-size: 1em; padding-bottom: 0px; line-height: 1.5em;"><strong>Green Technology Partner</strong> </span>

<p>
										&nbsp;</p>
</td>
<td align="middle" bgcolor="#eeeeee" valign="center">
									<span style="font-size: 1em; line-height: 1.5em;"><strong>Technical Media Partner</strong> </span>
<p>
										&nbsp;</p>
</td>
</tr>
<tr>
							</tr>

<tr>
<td align="middle" style="width: 50%; padding-top: 6px;">
									<img alt="HSBC" class="is " src="http://images.shaastra.org/spons/2008/hsbc.jpg" /></td>
<td align="middle" style="padding-bottom: 10px; width: 50%;">
									<a href="http://www.electronicsforu.com/" target="_blank" title="EFY"><img alt="EFY" class="is " src="http://images.shaastra.org/spons/2008/efy.jpg" style="padding-top: 10px;" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td>
<table align="center" border="0" cellspacing="0" style="width: 543px; height: 204px;">
<tbody>
<tr>

<td align="middle" bgcolor="#eeeeee" style="width: 50%;" valign="center">
									<span style="font-size: 1em; padding-bottom: 0px; line-height: 1.5em;"><strong>Print Media Partner</strong> </span>
<p>
										&nbsp;</p>
</td>
<td align="middle" bgcolor="#eeeeee" style="width: 50%;" valign="center">
									<span style="font-size: 1em; padding-bottom: 0px; line-height: 1.5em;"><strong>Talent Search Partner</strong> </span>
<p>
										&nbsp;</p>

</td>
</tr>
<tr>
<td align="middle" style="padding-bottom: 10px; width: 50%;">
									<br />
									<a href="http://www.hinduonnet.com/" target="_blank"><img alt="The Hindu" class="is " src="http://images.shaastra.org/spons/2008/hindu.jpg" style="padding-bottom: 15px; width: 310px; height: 150px;" /></a></td>
<td align="middle" style="width: 50%;">
									<a href="http://www.polaris.co.in/" target="_blank" title="Polaris"><img alt="Polaris" class="is " src="http://images.shaastra.org/spons/2008/polaris.gif" style="padding-bottom: 15px; width: 238px; height: 107px;" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>

<td align="middle" bgcolor="#eeeeee" valign="center">
					<span style="font-size: 1em; line-height: 1.5em;"><strong>Event Sponsors</strong> </span>
<p>
						&nbsp;</p>
</td>
</tr>
<tr>
<td align="middle">
<table align="center" border="0" cellspacing="0" style="width: 100%;">
<tbody>
<tr>
<td align="middle">
									<a href="http://www.cat.com/" target="_blank" title="caterpillar"><img alt="Caterpillar" class="is " src="http://images.shaastra.org/spons/2008/caterpillar.jpg" /></a></td>

<td align="middle">
									<a href="http://www.google.com/" target="_blank" title="google"><img alt="Google" class="is " src="http://images.shaastra.org/spons/2008/google_jpeg.jpg" /><font color="#800080"> </font></a></td>
</tr>
<tr>
<td align="middle">
									<a href="http://www.rinovations.org/" target="_blank" title="RIN"><font color="#800080"><img alt="RIN" class="is " src="http://images.shaastra.org/spons/2008/RIN.jpg" style="width: 306px; height: 74px;" /></font></a></td>
<td align="middle">
									<a href="http://www.ericsson.com/" target="_blank" title="Ericsson"><img alt="Ericsson" class="is " src="http://images.shaastra.org/spons/2008/ericsson.jpg" /></a></td>
</tr>
<tr>
<td align="middle">
									<a href="http://www.netapp.com/" target="_blank" title="NetApp"><img alt="NetApp" class="is " src="http://www.shaastra.org/images/spons/2008/netapp.jpg" style="width: 204px; height: 104px;" /></a></td>

<td align="middle">
									<a href="http://www.jsiwinfra.com/" target="_blank" title="JSIW"><img alt="JSIW" class="is " src="http://www.shaastra.org/images/spons/2008/jsiw.jpg" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td>
<table align="center" border="0" cellspacing="0" style="width: 100%;">
<tbody>
<tr>
<td align="middle" bgcolor="#eeeeee" style="width: 50%;" valign="center">
									<span style="font-size: 1em; padding-bottom: 0px; line-height: 1.5em;"><strong>Main T-Shirt Sponsor</strong> </span>

<p>
										&nbsp;</p>
</td>
<td align="middle" bgcolor="#eeeeee" style="width: 50%;" valign="center">
									<span style="font-size: 1em; padding-bottom: 0px; line-height: 1.5em;"><strong>Team Shaastra Apparel Sponsor</strong> </span>
<p>
										&nbsp;</p>
</td>
</tr>
<tr>
<td align="middle" style="padding-bottom: 10px; width: 50%;">
									<br />

									<a href="http://www.greedge.com/" target="_blank"><img alt="GreEdge" class="is " src="http://images.shaastra.org/spons/2008/greedge.jpg" style="padding-bottom: 15px;" /></a></td>
<td align="middle" style="width: 50%;">
									<a href="http://studyinaustralia.gov.au/Sia/en/Home.htm" target="_blank" title="SIA"><img alt="SIA" class="is " src="http://images.shaastra.org/spons/2008/sia.jpg" style="padding-left: 70px; padding-bottom: 15px;" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
<p></p>
</div>
    </div>

					<div id="spons2007_"><div class="content">{{spons_content|safe}}
<!--<div align="center"><strong>We would like to thank all of our sponsors for their continued support</strong>

<table style="table-layout: fixed; width: 100%;">
<tbody>
<tr>


<td align="middle"> </td>
</tr>
</tbody>
</table>

<div class="content">
<table class="spons_table" style="table-layout: fixed; width: 100%;" border="0" cellspacing="0">
<tbody>
<tr>
<td style="padding-bottom: 10px;" align="middle"></td>
</tr>

<tr>
<td align="middle" bgcolor="#eeeeee" valign="center"><span style="font-size: 1em; line-height: 1.5em;"><strong>Co-Sponsors</strong> 
<p></p></span></td>
</tr> <tr><td>&nbsp;</td></tr>
<tr>
  <td align="middle"><a href="http://www.airbus.com"> <img src="http://www.shaastra.org/2011/media/main/img/airbus.png" > </a> </td>
</tr>

<tr>
<td align="middle" bgcolor="#eeeeee" valign="center"><span style="font-size: 1em; line-height: 1.5em;"><strong>Event-Sponsors</strong> 
<p></p></span></td>
</tr> <tr><td>&nbsp;</td></tr>
<tr>
  <td align="middle"><a href="http://www.durr.com"> <img src="http://www.shaastra.org/2011/media/main/img/durr.png" > </a> </td>
  <td align="middle"><a href="http://www.alstrut.com/index.html"> <img src = "{{MEDIA_URL}}img/alStrut_possibilities_unlimited.png" /> </a></td>
  <td align="middle"><a href="http://www.ericsson.com/"> <img alt="Telecom Parteners" src = "{{MEDIA_URL}}img/ERI_UF_cmyk.png" /> </a></td>
</tr>

<tr>
<td align="middle" bgcolor="#eeeeee" valign="center"><span style="font-size: 1em; line-height: 1.5em;"><strong>Internship Partner</strong> 
<p></p></span></td>
</tr> <tr><td>&nbsp;</td></tr>
<tr>
  <td align="middle"><a href="http://blog.internshala.com/summer-internship-story/"> <img src="http://www.shaastra.org/2011/media/main/img/Internshala-Animated-Logo-1.5seconds_.gif" > </a> </td>
</tr>-->
<!--<tr>-->




<!--</tr>-->


  
</tbody>
</table>
<!--</div>
</div>-->
    </div>
</div>

					<div id="sponsContact_">
						For sponsorship related queries, contact -
							<p>Kaushik Mohan &nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Vinay Sridhar<br>
							kaushik@shaastra.org &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; vinay.sridhar@shaastra.org</p>
					</div>
					<div id="sponsMedia_">
						<center>
						<table>
							<tr><td style="width:100px;">2010</td> <td style="width:500px;"> <a href="http://www.highbeam.com/doc/1G1-238312529.html">Shaastra technical fest opens at IIT.</a></td> <td style="width:250px;">Sept. 30,2010 The New Indian Express,Chennai </td> </tr>					
						</table>
						</center>
					</div>
				<img id="sponsunderline" src="{{MEDIA_URL}}spons/images/underline.png" />
				<div id="sponsMainTab"><img src="{{MEDIA_URL}}spons/images/sponsText.png" />
			</div>
			</div>
		</div>
	
<script type="text/javascript">
		$(function(){
			$('#sponsTabsContent').jScrollPane({showArrows: true,verticalScroll: true});
		});	
		$(document).ready(function(){
				setHeights();	
				$("#sponsContainer").css('visibility','visible');
				$("#sponsTabs").click(function(e){
					var id = e.target.id;
					sponsTabsMain(id);	
				});
				$("#sponsMainTab").click(function(e){
					var id = e.target.id;
					sponsMainTab(e);
				});
				document.getElementById(elem[3]).style.backgroundPosition="0px -35px";
				document.getElementById(elem[3]).style.color="#ffffff";
				sponsTabsMain(elem[3]);
		});
</script>


{%endblock%}
