{% extends "base_default.html" %}

{% block body %}
<script language="javascript" type="text/javascript" src="{{MEDIA_URL}}/js/wz_tooltip.js"></script>
<style type="text/css">
        table { margin: 1em; border-collapse: collapse; margin-right:5; width:auto;}
        td, th { padding: .3em; border: 1px #000000 solid; background:#EAECF3;}
        th { background: #BDE5F8; } 
       </style>

<div class="register">
<h3>Participants who have requested for hospi accommodation:</h3>
<table>
<tr>
  <th>Name</th>
  <th>College</th>
  <th>Contact</th>
  <th>Registered Events</th>
  <th>Teams</th>
<!--   <th>Approved for</th> -->
</tr>
{% for p in participants_list %}

<tr>
  <td><a href="{{SITE_URL}}/profile/view/{{p.0}}" onmouseover="TagToTip('{{p.0}}_tooltip')" onmouseout="UnTip()"> {{p.1.first_name }} {{p.1.last_name}}</a>
    <div id="{{p.0}}_tooltip" class="info" style="display:none">
	      <b>Name</b> : {{p.1.first_name }} {{p.1.last_name}}<br/> 
              <b>College</b> : {{p.1.college}}<br />
	      <b>Mail</b>: {{p.0.email}}<br />
              <br/>Selected events:<br/>
              <ul>
              {% for e in p.2%}
		<li>{{e.event}}</li>
		{% endfor %}	    
	      </ul>
	    </div>
  </td>

  <td>{{p.1.college}}</td>

  <td>{{p.0.email}}<br /><br />{{p.1.mobile_number}}</td>

  <td><ul>{% for e in p.4 %}<li>{% if e.1 %}<div style="color:green" onmouseover="Tip('Approved for this event')" onmouseout="UnTip()">{% endif %}{{ e.0.event }}{% if e.1 %}</div>{% endif %}</li>{% endfor %}</ul></td>
<!--   <img src='{{ MEDIA_URL }}/images/emblem-default.png' onmouseover="Tip('Approved for this event')" onmouseout="UnTip()"/> -->
  <td><ul>
	{% for team in p.3 %}
	  <li>{{ team }}</li>
	{% endfor %}
      </ul>
  </td>
  
  <!--<td><ul>
              {% for e in p.2%}
		<li>{{e.event}}</li>
		{% endfor %}	    
	      </ul></td>-->
</tr>

{% endfor %}
</table>
</div>

{% endblock %}