{% extends "base_default.html" %}

{% block body %}
    

    <div class="info">
        Nuber of total boys accomodated in Individual + Team Events : {{ all_boys }} <br/>
        Nuber of total girls accomodated in Individual + Team Events : {{ all_girls }}
    </div>
    <div class="register">
    <h1>Individual Event List</h1>
    <p>Please select an event:</p>
    </div>


       <style type="text/css">
        table { margin: 1em; border-collapse: collapse; margin-right:5; width:auto;}
        td, th { padding: .3em; border: 1px #000000 solid; background:#EAECF3;}
        th { background: #BDE5F8; } 
       </style> 


       <table class="sortable">
            <tr> 
		<th>Event</th>
		<th>Selected</th><!--
		<th>Accomodated boys</th>
                <th>Accomodated girls</th>-->
	    </tr>
          {% for event in reg_events %}
            <tr> 
		<td><a href="{{SITE_URL}}/hospitality/view/selected/{{event.0}}">{{event.1}}</td>
		<td>{{event.2}}</td><!--
		<td>{{event.3}}</td>
                <td>{{event.4}}</td>-->
	    </tr>
          {% endfor %}
        </table>
    <!--<div class="info">
        Nuber of total boys accomodated in Individual Events : {{ boys }} <br/>
        Nuber of total girls accomodated in Individual Events : {{ girls }}
    </div>-->

{% endblock %}
