{% extends "index.html" %}

{%block event_categories%}{%endblock%}
{%block gradient%}{%include "gradient.html"%}{%endblock%}


{% block body %}
<head>
<meta name="keywords" content="Shaastra 2011,Login" />
</head>   
    {% for error in errors %}
    <li id="lgnerr"> {{error}} </li>
    {% endfor %}

    <!-- the login menu -->
 <div id="login">
 <center>
      <form action="" method="post">
         {% csrf_token %}
         <table>
            {{ form.as_table }}
          <!-- submit button -->
      
            <tr><td colspan="2">
            <div id="submit">
               <div class="button2">
                  <a href="#">
                       <input type="submit" value="&nbsp;&nbsp;Login&nbsp;&nbsp;">
                  </a>
                  <span></span>
               </div>
            </div> 
            </td></tr>
         </table>

       </form>
<br>
</center>
  </div>
{% endblock %}


