{% extends "index.html" %}
{%block event_categories%}{%endblock%}
{% block body %}
  <script src="{{ MEDIA_URL }}js/js/scriptjquery.js"></script>
  <link rel="stylesheet" href="{{ MEDIA_URL }}autocomplete/main.css" type="text/css" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}autocomplete/jquery.autocomplete.css" type="text/css" />
  <script type="text/javascript" src="{{ MEDIA_URL }}autocomplete/jquery.bgiframe.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}autocomplete/jquery.dimensions.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}autocomplete/jquery.autocomplete.js"></script>
  <script>
   var data = {{js_data|safe}};
   function changeBg(){
		$("#content").css({'background-image':'url(http://www.shaastra.org/2011/media/main/img/bg2.png)'});
	};
   $(document).ready(function(){
	
    //alert(data);
$("#coll_input").autocomplete(data);
  });
  $(document).ready(function(){
    var bdata = ["Arts","Accounting","Applied Mechanics / Mechatronics",
      "Aerospace Engineering","Automobile Engineering","Biotech / Biochemical / Biomedical",
      "Biology","Ceramic Engineering","Chemical Engineering",
      "Chemistry","Design / Engineering Design","Civil Engineering","Computer Science and Engineering",
      "Electronics and Communications Engineering","Electrical and Electronics Engineering","Electrical Engineering",
      "Electronics and Instrumentation Engineering","Engineering Physics","Economics","Fashion Technology",
      "Humanities and Social Sciences","Industrial Production    / Production","Information Technology and Information Science(IT/IS)",
      "Management","Manufacturing","Mathematics","Metallurgy and Material Science","Mechanical Engineering",
      "Ocean Engineering and Naval Architecture","Physics","Telecom","Textile Engineering"];
$("#branch_input").autocomplete(bdata);
  });
  </script>
<script language="javascript" type="text/javascript" src="http://www.shaastra.org/includes/2009/userportal/js/wz_tooltip.js">
  </script>
    {% if registered_college %}
<div class="register">
 College successfully registered.
</div>
{% endif %}

    {% if college_already %}
<div class="register">
 A college by this name and location has already been registered. Please check the list again.
</div>
{% endif %}
<div class="register">
 <h1 align = "center">
  User Registration
 </h1>
{% if user.is_authenticated %}
<div class="errors">
  You have already registered, and are logged in.
</div>
{% endif %}
 <p>
  For quick help and format, use the help icons <a onmouseover="Tip('Yep, ones that look like these.')" onmouseout="UnTip()"><img height=20 width=20 src="{{ MEDIA_URL }}img/help_icon.png"></a> near each field.
  </p>
 <p>
  If you have already registered, click
  <a href="{{SITE_URL}}events/login/">
   here
  </a>
  to login. Otherwise, please fill in the following details to register:
 </p>
</div>

<center>
<table id = "maintable" cellpadding = "10" rules = "cols">
<tr>
<td id="maincol1">

  <div class="info">
 <form id="reg_form" action="{{SITE_URL}}register/user/" method="POST" onload="onblurAttribute();changeBg();">
{% csrf_token %}
<table name="register" >
  {% for field in  form  %}
<tr>
	<td id="{{ field.label }}_img">{% if field.errors %}
	<img height=20 width=20 src="{{ MEDIA_URL }}img/error.png">
	    {% endif %}
	</td>
	<th>{{ field.label_tag }}</th>
	<td>{{ field }}
	<div id="{{ field.label }}_div">
	{% if field.errors %}{% for error in field.errors %} {{ error|escape }} </br> {% endfor %}{% endif %}
	</div>
	</td>
	<td><a onmouseover="Tip('{{ field.help_text }}')" onmouseout="UnTip()"><img height=20 width=20 src="{{ MEDIA_URL }}img/help_icon.png"></a></td>
  {% endfor %}
</table>


<script type="text/javascript">
img = '<img height=20 width=20 src="{{ MEDIA_URL }}img/error.png">';
function validateUsername(fld) {   //done

    var error = "";
    var illegalChars = /[^A-Za-z0-9_.]/; // allow letters, numbers, and underscores
 
    if (fld.value == "") error = "This field is required.";
    else if (illegalChars.test(fld.value)) error = "Usernames can only contain letters, numbers and underscores."; 

    document.getElementById('Username_div').innerHTML= error;
    if (error!="") {document.getElementById('Username_img').innerHTML= img;
		    document.getElementById('Username_div').innerHTML= error; return 1;}
    document.getElementById('Username_img').innerHTML= "";
    document.getElementById('Username_div').innerHTML="";
    
    return 0;
}

function validatePassword(fld,fld2) {   //done

    var error = "";
 
    if (fld.value != fld2.value) {error = "The entered passwords do not match.";}
    else if (fld.value.length < 6) {error = "Ensure this value has at least 6 characters.";} 
    else if (fld.value =="") {error = "This field is required.";} 
    if (error!="") {
        document.getElementById('Password_div').innerHTML= error;
        document.getElementById('Password again_div').innerHTML= error;
	document.getElementById('Password_img').innerHTML= img;
	document.getElementById('Password again_img').innerHTML= img;
	return 1;
    } 
    document.getElementById('Password_img').innerHTML= "";
    document.getElementById('Password again_img').innerHTML= ""; 
    document.getElementById('Password_div').innerHTML="";
    document.getElementById('Password again_div').innerHTML="";
    return 0;
}

function isAlpha(xStr){  
    var regEx = /^[a-zA-Z\-\ ]+$/;  
    return xStr.match(regEx);  
}

function isAlphaNumeric(xStr){  
    var regEx = /^[a-zA-Z0-9\-]+$/;  
    return xStr.match(regEx);  
}

function isInteger(s) {
  return (s.toString().search(/^-?[0-9]+$/) == 0);
}
 
function validateCollege(fld) {
    var error = "";
    if (fld.value == "") error = "This field is required.";
    if (error!="") {
        document.getElementById('College_div').innerHTML= error;
	document.getElementById('College_img').innerHTML= img;
	return 1;
    }
    document.getElementById('College_img').innerHTML= "";
    document.getElementById('College_div').innerHTML="";
    return 0;
}


function validateAge(fld) {   //done
    var error = "";
    if (fld.value == "") error = "This field is required.";
    else if (! isInteger(fld.value)) error = "Enter a whole number.";
    else if (parseInt(fld.value)<12||parseInt(fld.value)>80) error = "Please enter an acceptable age (12 to 80)";

    if (error!="") {
        document.getElementById('Age_div').innerHTML= error;
	document.getElementById('Age_img').innerHTML= img;
	return 1;
    } 
    document.getElementById('Age_img').innerHTML= "";
    document.getElementById('Age_div').innerHTML="";
    return 0;
}

function validateMobileNumber(fld) {   //done
    var error = "";
    if (fld.value == "") error = "This field is required.";
    else if ((! isInteger(fld.value))||(fld.value.length!=10)||((fld.value.charAt(0)!=7)&&(fld.value.charAt(0)!=8)&&(fld.value.charAt(0)!=9))) error = "Enter a valid mobile number";

    if (error!="") {
        document.getElementById('Mobile number_div').innerHTML= error;
	document.getElementById('Mobile number_img').innerHTML= img;
	return 1;
    } 
    document.getElementById('Mobile number_img').innerHTML= "";
    document.getElementById('Mobile number_div').innerHTML="";
    return 0;
}


function validateEmail(fld) {   //done
    var error = "";
    if (fld.value == "") error = "This field is required.";
    else if(!((fld.value.lastIndexOf(".") > 2) && (fld.value.indexOf("@") > 0))) error = "Enter a valid e-mail address.";
    if (error!="") {
        document.getElementById('Email_div').innerHTML= error;
	document.getElementById('Email_img').innerHTML= img;
	return 1;
    } 
     document.getElementById('Email_img').innerHTML= "";
    document.getElementById('Email_div').innerHTML="";
    return 0;
}

function validateRollNumber(fld) {   //done
    var error = "";
    if (fld.value == "") error = "This field is required.";
    else if (!isAlphaNumeric(fld.value) || isAlpha(fld.value)) error = "Enter a valid roll number."
    if (error!="") {
        document.getElementById('College roll_div').innerHTML= error;
	document.getElementById('College roll_img').innerHTML= img;
	return 1;
    }
    document.getElementById('College roll_img').innerHTML= "";
    document.getElementById('College roll_div').innerHTML="";
    return 0;
}

function validateBranch(fld) {
    
    var error = "";
    if (fld.value == "") error = "This field is required.";
    if (error!="") {
        document.getElementById('Branch_div').innerHTML= error;
	document.getElementById('Branch_img').innerHTML= img;
	return 1;
    }
    document.getElementById('Branch_img').innerHTML= "";
    document.getElementById('Branch_div').innerHTML="";
    return 0;
}

function validateCaptcha(fld) {   //done
    var error = "";
    if (fld.value == "") error = "This field is required.";
    if (error!="") {
        document.getElementById('Show us that you are not a bot!_div').innerHTML= error;
	document.getElementById('Show us that you are not a bot!_img').innerHTML= img;
	return 1;
    } 
    document.getElementById('Show us that you are not a bot!_img').innerHTML= "";
    document.getElementById('Show us that you are not a bot!_div').innerHTML="";
    return 0;
}


function validateForm() {

    if (
	 validateUsername    (document.getElementById ("id_username")  )
    +validateAge	     (document.getElementById ("id_age")  )
	+validateBranch      (document.getElementById ("branch_input")  )
	+validateEmail	     (document.getElementById ("id_email")  )
	+validatePassword    (document.getElementById ("id_password"), document.getElementById ("id_password_again")  )
	+validateMobileNumber(document.getElementById ("id_mobile_number")  )
	+validateRollNumber  (document.getElementById ("id_college_roll")  )
 	+validateCaptcha     (document.getElementById ("recaptcha_response_field")  )
 	+validateCollege     (document.getElementById ("coll_input")  )
	== 0  ){ 
	document.forms["reg_form"].submit();
	    }
    else {
    window.location.href = '#reg_form';
    
    }
}

function onblurAttribute() {
   document.getElementById ("id_username").setAttribute('onblur' , 'validateUsername(document.getElementById ("id_username"))');
   document.getElementById ("id_password_again").setAttribute('onblur' , 'validatePassword(document.getElementById ("id_password"), document.getElementById ("id_password_again"))');
   document.getElementById ("id_email").setAttribute('onblur' , 'validateEmail(document.getElementById ("id_email"))');
   document.getElementById ("id_age").setAttribute('onblur' , 'validateAge(document.getElementById ("id_age"))');
   document.getElementById ("coll_input").setAttribute('onblur' , 'validateCollege(document.getElementById ("coll_input"))');
   document.getElementById ("id_college_roll").setAttribute('onblur' , 'validateRollNumber(document.getElementById ("id_college_roll"))');
   

   document.getElementById ("id_mobile_number").setAttribute('onblur' , 'validateMobileNumber(document.getElementById ("id_mobile_number"))');
   document.getElementById ("recaptcha_response_field").setAttribute('onblur' , 'validateCaptcha(document.getElementById ("recaptcha_response_field"))');
   document.getElementById ("branch_input").setAttribute('onblur' , 'validateBranch(document.getElementById ("branch_input"))');
   

}
onblurAttribute();

</script>

   <script type="text/javascript">
        var label = document.body.getElementsByTagName("label")[13];
        var string = label.innerHTML;
        label.innerHTML = "<div class='errors'>"+string+"<div style='font-family: verdana; color: black; font-size: 10px; line-height: 1em;'>We will be sending you a conformation mail after 3rd of September if you get shortlisted for accommodation!</div></div>";
   </script>

   <script type="text/javascript">
    function showNewCollegeDiv(){
      document.getElementById("newcollege").style.display="block";
    }
   </script>
   

   <br />
    <input type="button" value="Register Me" onclick="validateForm()">
</form>

</div>
</td>

<td id="maincol2">

<div class = "info">
    <i>
    Can't find your college?
    <a href="#reg_coll" onclick="showNewCollegeDiv()">
     Click Here
    </a>
   </i>
</div>


 <script type="text/javascript">
 $("#content").css({'background-image':'url(http://www.shaastra.org/2011/media/main/img/bg2.png)'});
  var xmlhttp;
 function getXmlHttpObj()
{

if (window.XMLHttpRequest)
  {
  // code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else if (window.ActiveXObject)
  {
  // code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
else
  {
  alert("Your browser does not support XMLHTTP!");
  }
  
}
getXmlHttpObj();
xmlhttp.onreadystatechange=function()
{
if(xmlhttp.readyState==4)
  {
  var response = xmlhttp.responseText;
  if(response=="exists"){
    document.getElementById("reg_fail").style.display="block";
  }
  else if(response=="failed"){
  }
  else{
  //alert("works");
    //alert(response);

    var coll_response = response;
    alert(coll_response);
    
    document.getElementById("reg_success").style.display="block";
    document.getElementById("newcollege").style.display="none";
    if (coll_response != "exists" || coll_response != "failed")
    {
        alert("works");
        alert(data);
       data[data.length]=coll_response;
       alert(data);
       $('input#coll_input').flushCache();
       $("#coll_input").autocomplete(data);


    }
    //actb_add(document.getElementById("id_id2-name").value);
    //alert(data);
    
  }
  
  }
}

function create_coll(){

  var url;
  url ="{{SITE_URL}}register/college/?";
  url=url+"identifier-name="+escape(document.getElementById("id_identifier-name").value);
  url=url+"&identifier-state="+escape(document.getElementById("id_identifier-state").value);
  url=url+"&identifier-city="+escape(document.getElementById("id_identifier-city").value);

  xmlhttp.open("GET",url,true);
  xmlhttp.send(null);
  
}

function hide_college(){
  document.getElementById("newcollege").style.display = "none";
}

//function show_events(){
//    var url;
//   url = "{{SITE_URL}}/events/view/hospitality/";
//    xmlhttp.open("GET",url,true);
//    xmlhttp.send(null);
//    document.getElementById("events_hospi").style.display = "block";
//}

//function close_evHospi(){
//    document.getElementById("events_hospi").style.display="none";
//}
 </script>
 <div id="events_hospi" style="display:none;">
 </div>
 <a name="reg_coll">
  <div id="newcollege" style="display:none">
   <div class="register">
    <h1>
     College Registration
    </h1>
    <p>
     Please follow this guideline when registering:
     <br />
     Kindly use full names for the name of your
     <b>
      College and City
     </b>
     .It would be extremely helpful to us if you did not use "hyd" for "Hyderabad" or "ABC" for "Amber Beryl College" and so on.
    </p>
   </div><!-- closes div register -->
   <div class="register">
    <form id="reg_college" onsubmit="create_coll(); return false;"  onLoad="changeBg();">
    {% csrf_token %}
     <div class="info">
      <p>
       Please fill in the following details:
      </p>
      <table name="register">
      {% for field in coll_form %}
<tr>
  <td>{{ field.label_tag }}</td><td align="left">{{ field }}</td>
<td><a onmouseover="Tip('{{ field.help_text }}')" onmouseout="UnTip()"><img height=20 width=20 src="{{ MEDIA_URL }}img/help_icon.png"></a></td>
    </tr>
      {% endfor %}
      </table>
      <input type="submit" value="Register College" /><input type="button" value = "Cancel" onclick="javascript:hide_college()" />
     </div>
    </form>
   </div> <!-- closes register -->
  </div> <!-- Closes new college -->
 </a>
<div class="success" id="reg_success" style="display:none">
 College successfully registered.
</div>
<div class="errors" id="reg_fail" style="display:none">
 A college by this name and location has already been registered. Please check the list again.
</div>

</td>
</tr>
</table>
</center>
<script>

      
var branches=new Array("Arts","Accounting","Applied Mechanics / Mechatronics",
      "Aerospace Engineering","Automobile Engineering","Biotech / Biochemical / Biomedical",
      "Biology","Ceramic Engineering","Chemical Engineering",
      "Chemistry","Design / Engineering Design","Civil Engineering","Computer Science and Engineering",
      "Electronics and Communications Engineering","Electrical and Electronics Engineering","Electrical Engineering",
      "Electronics and Instrumentation Engineering","Engineering Physics","Economics","Fashion Technology",
      "Humanities and Social Sciences","Industrial Production    / Production","Information Technology and Information Science(IT/IS)",
      "Management","Manufacturing","Mathematics","Metallurgy and Material Science","Mechanical Engineering",
      "Ocean Engineering and Naval Architecture","Physics","Telecom","Textile Engineering");


</script>

<!--<script>
    function function1()
    {
    	var nam = new Array({%for coll in colls%}"{{ coll.name }},{{ coll.city }}",{%endfor%}"");
        var obj = actb(document.getElementById('coll_input'),nam);
    }  
        var branches=new Array("Arts","Accounting","Applied Mechanics / Mechatronics",
      "Aerospace Engineering","Automobile Engineering","Biotech / Biochemical / Biomedical",
      "Biology","Ceramic Engineering","Chemical Engineering",
      "Chemistry","Design / Engineering Design","Civil Engineering","Computer Science and Engineering",
      "Electronics and Communications Engineering","Electrical and Electronics Engineering","Electrical Engineering",
      "Electronics and Instrumentation Engineering","Engineering Physics","Economics","Fashion Technology",
      "Humanities and Social Sciences","Industrial Production    / Production","Information Technology and Information Science(IT/IS)",
      "Management","Manufacturing","Mathematics","Metallurgy and Material Science","Mechanical Engineering",
      "Ocean Engineering and Naval Architecture","Physics","Telecom","Textile Engineering");
      var objBranch = actb(document.getElementById('id_branch'),branches);
      
    function actb_add(name){
        actb_keywords[actb_keywords.length] = name;
      }
    </script>
  -->
{% endblock %}
