{% extends "index.html" %}

{%block event_categories%}
{%endblock%}

{%block gradient%}
    {%include "gradient.html"%}
{%endblock%}

{% block body %}
    <form action="{{ SITE_URL }}myshaastra/reset_password/" method="POST">
		<center>
        {% csrf_token %}
        <table>
            {{ reset_password_form.as_table }}
            <tr><td>
                <div id="someuniqueid">
					<div class="button2">
						<a href="#">
							<input type="submit" value="Reset" />
						</a>
						<span></span>
					</div>
                </div>
            </td></tr>
        </table>
		</center>
    </form>
{% endblock %}
