{% extends "index.html" %}

{%block event_categories%}
{%endblock%}

{%block gradient%}
    {%include "gradient.html"%}
{%endblock%}

{% block body %}
    <div id="update_ticker_pics">
        <p>
            To update the pictures that appear on the top right corner of the web-page, click on this link:
        </p>
        <p>
            <a href="http://www.shaastra.org/2011/main/events/UpdateSpons">Update pictures</a>
        </p>
    </div>
    <br />
    <div id="update_spons_page">
        <p>
            To update the text on the spons page, click on this link:
        </p>
        <p>
            <a href="http://www.shaastra.org/2011/main/sponsorship">Update spons page</a>
        </p>
    </div>
{% endblock %}
