{% extends "index_techslam.html" %}
{%block media_location%}
{%endblock%}
{% block body %}

<div id = "container_compare" style = "margin : 0 auto 0 auto;min-width:1200px;width:100%;height:400px">
<div id = "photosbox" style = "margin : 0 auto 0 auto;text-align:center">
<div id  = "photocont" style = "margin : 0 auto 0 auto;text-align:center;width:900px;">
<div id = photo1 style = "float:left;width:400px;height:400px;border:1px solid #CCC;">
<form enctype="multipart/form-data" method="post" action="{{SITE_URL}}techmash/mashphotos/">
<input type="hidden" name="selectedid" value={{photo1.photoid}} id="selectedid" />
<input type="hidden" name="photoid1" value={{photo1.photoid1}} id="photoid1" />
<input type="hidden" name="photoid2" value={{photo2.photoid2}} id="photoid2" />
<input type="image" src="http://www.shaastra.org/2011/media/main/techmash/images/{{photo1.title}}" value="Select" id="Select"/>
</form>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div id = photo1 style = "float:right;width:400px;height:400px;border:1px solid #CCC;">
<form enctype="multipart/form-data" method="post" action="{{SITE_URL}}techmash/mashphotos/">
<input type="hidden" name="selectedid" value={{photo1.photoid}} id="selectedid" />
<input type="hidden" name="photoid1" value={{photo1.photoid1}} id="photoid1" />
<input type="hidden" name="photoid2" value={{photo2.photoid2}} id="photoid2" />
<input type="image" src="http://www.shaastra.org/2011/media/main/techmash/images/{{photo2.title}}" value="Select" id="Select"/>
</form>
</div>
</div>
</div>
</div>
{%endblock%}

