<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Shaastra TechSlam!</title>
<link rel = "stylesheet" type = "text/css" href="http://www.shaastra.org/2011/media/main/techslam/Styles/techstyle.css">
</head>
<body>
<div id = "tech_container">
<div id = "tech_header">
<img src="http://www.shaastra.org/2011/media/main/techslam/Images/Landing/title.png">
</div>
<div id = "tech_landing_image">
</div>
<div id = "tech_footer">

  <a href ="#" class = "tech_flinks" id = "about">
  <img src = "http://www.shaastra.org/2011/media/main/techslam/Images/Landing/about.jpg">
  </a>
    <a href ="#" class = "tech_flinks" id = "rules"><img src = "http://www.shaastra.org/2011/media/main/techslam/Images/Landing/rules.jpg"></a>
      <a href ="#" class = "tech_flinks" id = "prizes"><img src = "http://www.shaastra.org/2011/media/main/techslam/Images/Landing/prizes.jpg"></a>
        <a href ="#" class = "tech_flinks" id = "profile"><img src = "http://www.shaastra.org/2011/media/main/techslam/Images/Landing/profile.jpg"></a>

                <a href ="#" class = "tech_flinks" id = "disc"><img src = "http://www.shaastra.org/2011/media/main/techslam/Images/Landing/discovery.png"></a>
</div>
</div>
</body>
</html>
