{% extends "base.html" %}

{% block content %}
<p>Hi {{username}} Here is your profile</p>
<p><a href="{{SITE_URL}}techmash/accounts/logout/">Logout</a></p>
<form action = "techmash/upload/" method = GET>
<input type="submit" value="Add photo" />
</form>
<form action = "techmash/mashphotos/" method = GET>
<input type="submit" value="Mash photos" />
</form>

{% for image in image_list %}
<img src="{{MEDIA_URL}}techmash/images/{{image.title}}" style="padding:10px;height:200px;width:200px;">
Rating {{image.rating}}
</br>
{% endfor %}

{% endblock %}
