{% extends "index_techslam.html" %}
{%block media_location%}
{%endblock%}
{% block body %}
<script>
$(".profimg").ready(
function()
{
var phot = $(".profimg");
if(phot.height() > phot.width())
{
phot.css("{height:168px;width:auto;}");
}
else
{
phot.css("{height:auto;width:186px;}");
var newhei = phot.height();
var bottomtobring = (400-newhi)/2;
phot.css("{position:relative;top:"+bottomtobring+"px}");
}
}




);


);
</script>
<div id ="profile">
<p>Hi {{request.user.username}} Here is your profile</p>
<p><a href="{{SITE_URL}}techmash/accounts/logout/">Logout</a></p>
<div class="button2" style = "position:relative; top : -250px">
<form action = "{{SITE_URL}}techmash/upload/" method = GET>
<input type="submit" value="Add photo" />
</form>
</div>
<div class="button2" style = "position:relative; top : -250px">
<form action = "{{SITE_URL}}techmash/mashphotos/" method = GET>
<input type="submit" value="Mash photos" />
</form>
</div>
{% for image in image_list %}
<a href = "{{MEDIA_URL}}techmash/images/{{image.title}}" rel = "lightbox[profile]" title = "Caption Goes HERE!!!">

<img src="{{MEDIA_URL}}techmash/images/{{image.title}}" style="padding:10px;height:200px;width:auto;" class = "profimg">
Rating {{image.rating}}
</a>
</br>
{% endfor %}
</div>
{% endblock %}
