{% extends "base.html" %}
{% block title %}Select the photo you like{% endblock %}

{% block content %}
<h1>Two photos</h1>


  <div id="thumbnails">
   
        <img src="{{ MEDIA_URL }}/images/{{photo1.title}}" />
        
<form enctype="multipart/form-data" method="post" action="{{SITE_URL}}techmash/mashphotos/">
<div align="center">
<input type="hidden" name="selectedid" value={{photo1.photoid}} id="selectedid">
<input type="hidden" name="photoid1" value={{photo1.photoid1}} id="photoid1">
<input type="hidden" name="photoid2" value={{photo2.photoid2}} id="photoid2">
<input type="submit" value="Select" id="Select"/>
</form>

  <div id="thumbnails">
           <img src="{{ MEDIA_URL }}/images/{{photo2.title}}" />
<form enctype="multipart/form-data" method="post" action="{{SITE_URL}}techmash/mashphotos/">
<div align="center">
<input type="hidden" name="selectedid" value={{photo2.photoid}} id="selectedid">
<input type="hidden" name="photoid1" value={{photo1.photoid}} id="photoid1">
<input type="hidden" name="photoid2" value={{photo2.photoid}} id="photoid2">
<input type="submit" value="Select" id="Select"/>
</form>        
{% endblock %}
