{% extends "index.html" %}
{%block media_location%}
<title>
TechSlam!
</title>

<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src = "http://www.shaastra.org/2011/media/main/techslam/Scripts/slamscript.js"></script>
<link rel="stylesheet" type = "text/css" href="http://www.shaastra.org/2011/media/main/techslam/Styles/slamStyle.css">
{%endblock%}
{% block body %}
<div id = "slamContainer">
	<div id = "slamCover">
		<div id = "slamOver">
			<div id = "SlamLeft">
				<div id = "slamID">
					<div id = "slamImage" class = "floatleft">
					<img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic2.png" class = "userImage">
					</div>
					<div id = "slamUser" class = "floatleft">
                    The name is Bond, James Bond. This is the most Useless thing EVER!
					</div>
				</div>
			</div>
			<div id = "slamRight">
			<div id = "ImageWrappers">
			<!-- This MUST be auto rendered -->
			<div class = "imageContainer">
			<div class = "imageHolder"><img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic4.png"></div>
			</div>
			<div class = "imageContainer">
			<div class = "imageHolder"><img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic4.png"></div>
			</div>
			<div class = "imageContainer">
			<div class = "imageHolder"><img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic4.png"></div>
			</div>
			<div class = "imageContainer">
			<div class = "imageHolder"><img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic4.png"></div>
			</div>
			<div class = "imageContainer">
			<div class = "imageHolder"><img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic4.png"></div>
			</div>
			<div class = "imageContainer">
			<div class = "imageHolder"><img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic4.png"></div>
			</div>
			<div class = "imageContainer">
			<div class = "imageHolder"><img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic4.png"></div>
			</div>
	
	<div class = "imageContainer">
			<div class = "imageHolder"><img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic4.png"></div>
			</div>
	<div class = "imageContainer">
			<div class = "imageHolder"><img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic4.png"></div>
			</div>
	<div class = "imageContainer">
			<div class = "imageHolder"><img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic4.png"></div>
			</div>
	<div class = "imageContainer">
			<div class = "imageHolder"><img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic4.png"></div>
			</div>
	<div class = "imageContainer">
			<div class = "imageHolder"><img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic4.png"></div>
			</div>
	<div class = "imageContainer">
			<div class = "imageHolder"><img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic4.png"></div>
			</div>
	
			</div>
			
			</div>
		</div>
	</div>
	<div id = "slamClick">
      <div id = "slamcoveranother">
		<div id = "slamclickCover">
			<div id = "slamleftcover">
				<div id = "slamclickleft">
				</div>
				<div id = "slamclickcenter">
					<div id = "actimg">
					<img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic4.png">
					</div>
		
				</div>
				<div id = "slamclickright">
				</div>

	
			</div>
	
		</div>
       
            <div id = "bottomscene">
            </div>
       </div>
				<div id = "slamrightclick">
				</div>
	<div id = xbutton>X</div>
    	</div>
</div>
{%endblock%}
