{% extends "index_techslam.html" %}
{%block media_location%}
<title>
TechSlam!
</title>
<script type="text/javascript" src="{{MEDIA_URL}}js/prototype.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/lightbox.js"></script>
	<link rel="stylesheet" href="{{MEDIA_URL}}css2/lightbox.css" type="text/css" media="screen" />


    

<script>
function adjust(elem)
{
var es = elem.style;
var phot = $(".profimg");
if(es.height > es.width && es.height > 168)
{
//phot.css("{height:168px;width:auto;}");
es.height = "168px";
es.width = "auto";
}
if(es.height < es.width && es.width > 186)
{
//phot.css("{height:auto;width:186px;}");
//var newhei = phot.height();
//var bottomtobring = (400-newhi)/2;
es.height = "auto";
es.width = "186px";
//phot.css("{position:relative;top:"+bottomtobring+"px}");
}
}
</script>
<link rel="stylesheet" type = "text/css" href="http://www.shaastra.org/2011/media/main/techslam/Styles/slamStyle.css">
{%endblock%}
{% block body %}

<div id = "slamContainer" >
	<div id = "slamCover">
		<div id = "slamOver">
			<div id = "SlamLeft">
				<div id = "slamID">
					<div id = "slamImage" class = "floatleft">
					<img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic2.png" class = "userImage">
					</div>
					<div id = "slamUser" class = "floatleft">
                    The name is Bond, James Bond. This is the most Useless thing EVER!
					</div>
				</div>
						
			<div class="button3" style = "position:relative; top : -150px" >
			<form action = "{{SITE_URL}}techmash/upload/" method = GET >
			<input type="submit" value="" style = "background:url({{MEDIA_URL}}techmash/images/submit.png)" />
			</form>
		
			</div>
<!--<div class="button2" style = "position:relative; top : -150px">
<form action = "{{SITE_URL}}techmash/mashphotos/" method = GET>
<input type="submit" value="Mash photos">
</form>

</div>-->
			</div>
			<div id = "slamRight">
	
			<br>
			<div id = "ImageWrappers">
			<!-- This MUST be auto rendered -->
			{% for image in image_list %}
			<div class = "imageContainer">
			<div class = "imageHolder">
			<a href = "{{MEDIA_URL}}techmash/images/{{image.title}}" rel = "lightbox[profile]" title = "{{image.caption}}">
			<img src = "{{MEDIA_URL}}techmash/images/{{image.title}}" style="height:186px;width:auto;" onload = "adjust(this)" class = "profimg">
			</a>
			<br>
			<center>
			<a href = "/delete?{{image.title}}" style = "color : #183f5a;text-decoration:none">Delete</a>
			</center>
			</div>
			</div>
            {% endfor %}
			</div>
			
			</div>
		</div>
	</div>
<!--	<div id = "slamClick">
      <div id = "slamcoveranother">
		<div id = "slamclickCover">
			<div id = "slamleftcover">
				<div id = "slamclickleft">
				</div>
				<div id = "slamclickcenter">
					<div id = "actimg">
					<img src = "http://www.shaastra.org/2011/media/main/techslam/Images/pic4.png">
					</div>
		
				</div>
				<div id = "slamclickright">
				</div>

	
			</div>
	
		</div>
       
            <div id = "bottomscene">
            </div>
       </div>
				<div id = "slamrightclick">
				</div>
	<div id = xbutton>X</div>
    <!--</div>

</div>-->

</div>
{%endblock%}
