{% extends "base.html" %}

{% block content %}
<form enctype="multipart/form-data" method="post" action="{{SITE_URL}}techmash/upload_file1/">
 {% csrf_token %}
 <table>
  <tr>
   <td>
    <b>
     {{ form.file.label_tag }}
    </b>
    {{ form.file}}
   </td>
  </tr>
  <tr>
   <td>
    <input type="hidden" value="title" name="title" id="title" />
    <input type="submit" value="Save" id="Save" />
   </td>
  </tr>
 </table>
 <p>
  <a href="">
   Go to mainpage
  </a>
 </p>
</form>
{% endblock %}
