<div class="answer">
<div align = "right"><a href="javascript:close_evHospi()">
 Close
</a></div>
 Following Is the List Of events for which Accomodation for the selected participants would be provided
<div align= "left">
 <ul>
  <li>
   Robotics
  </li>
  <li>
   Fire n Ice
  </li>
  <li>
   Da Vinci Machine
  </li>
  <li>
   AeROBOTics
  </li>
  <li>
   The Wright Design
  </li>
  <li>
   Desmod
  </li>
  <li>
   Infrafest
  </li>
  <li>
   Contraptions
  </li>
  <li>
   Shaastra Circuit Design Challenge (SCDC)
  </li>
 </ul>
</div>
<div align = "right">
<a href="javascript:close_evHospi()">
 Close
</a></div>
</div>