{% extends "base_default.html" %}

{% block body %}
    {% if too_large or too_small %}
    <div class="errors">
        <p>
        Your team is either too big or too small. It should be between {{event_min_size}} and {{event_size}}, but currently has {{t_size}} members. You should either add more members or remove some from the Manage Team page.
        </p>
    </div>
    {% else %}
    {% if is_hospi %}
    <div class ="register">
        <p>This event is eligible for hospitality accommodation.</p>
    </div>
    {% endif %}
    
    <div class="register">
        <h1>Team Event Registration</h1>
        Back to the list of events, <a href="{{SITE_URL}}/teams/view/{{t_name}}/">click here.</a>
        <h2> {{event}} </h2>
        {% if event.logo %} <img src="{{MEDIA_URL}}{{event.logo}}" /> {%endif %}
    </div>

    <div class="info">
        You are registering for events for the team: {{t_name}}
    </div>
    
    <!--
    <div class="info">
    <p>Event registration closes at {{ end_time }}.<br>
    All teams for this event should have a maximum of {{ max_size }} {% if min_size %} and a minimum of {{min_size}} {% endif %} members.
    </p>
    </div>
    -->

    {% if already_saved %}
      <div class="errors">
          You have already Locked your answers. Further editing is not allowed.
      </div>
    {% endif %}
    
    <div class="register">
        <p align = "justify">
        Please fill in the following details. Note that your answers will not be
        submitted to the respective Coordinators unless you <b>lock</b> your event's
        answers. However, once you have locked your answers, you can not make any
        changes to your answers. Please take your time and ensure that all your
        answers are complete.
        </p>

    <script type="text/javascript">
        function notifyUser() {
            return confirm ('Are you sure you want to lock your answers? Once locked, you will not be able to edit your answers again');
        }
    </script>

<!-- Check if event has started or not -->
{% if not event_started %}
  <div class="errors">	{{ event.name }} has not yet started. Please check back at {{ event.start_time }}.
  </div>
{% else %}
  {% if event_ended %}
    <div class="errors">{{ event.name }} has now ended.<br /> You can view your submitted answers below, but no further changes are allowed.<br /> Thank you for participating.
      </div>
  {% endif %}



    
    <form enctype="multipart/form-data" action="{{ SITE_URL }}/events/register-teams/{{ t_name }}/{{ e_name }}/" method="POST">

        {% for form in event_form.1 %}
        {% if form.errors %}
           <div class="errors">
           {{ form.errors }}
           </div>
        {% endif %}
        <div  class="answer"><b> {{ form.question|safe }} </b></div>
         {{ form.content }}
        {% endfor %}

        <br /> <br />

       <div class="register">
        {% if event_form.0 %}
       <p> Your answers have been locked. Any changes you make now can not be
       saved. 
       </p>
       {% else %}
       <p> Your answers have not been locked yet.  </p>
       <input type="submit" name="save" value="Save Answers" /> 
       <input onClick="return notifyUser();" type="submit" name="lock" value="Lock Answers" />
       {% endif %}
        </div>

    </form>
    {% endif %}
{% endif %}
    </div>

{% endblock %}

