<a name ="top"/>
   <div class="register">
        <a href="{{SITE_URL}}/events/view/answers/teams/"><h1>View Team Answers</h1></a>
        <!---<p>Please choose a team: </p>
       {% if chosen_teams %}
           <h4> Selected Teams </h4>
           <ul>
           {% for team in chosen_teams %}
           <li><a href="{{SITE_URL}}/events/view/answers/teams/{{team}}">{{team}}</a>
            {% endfor %}
        {% endif %}
        </ul>--->
    </div>

    <div class = "answer" style="float:right;font-size:11px">
    
        <img src="{{MEDIA_URL}}/images/system-lock-screen.png" /> Locked Answer <br/>
	<img src="{{MEDIA_URL}}/images/emblem-default.png" /> Selected Answer <br/>
	<img src="{{MEDIA_URL}}/images/emblem-new.png" /> Interesting Answer <br/>
	<img src="{{MEDIA_URL}}/images/document-new.png" /> Unread Answer <br/>
	<img src="{{MEDIA_URL}}/images/team.png" /> Team registered before 3rd sept. <br/>
	<img src="{{MEDIA_URL}}/images/team_new.png" /> Team registered after 3rd sept. <br/>
	<img src="{{MEDIA_URL}}/images/team_modified.png" /> Team registered before 3rd sept.<br/> who modified answers after 3rd sept. <br/>
	
	</div>
   
    <br />
   
<div class="register">
       <h4> All Teams </h4>
<style type="text/css">
        table.sortable { margin: 1em; border-collapse: collapse; margin-right:5; width:auto;}
        table.sortable td, table.sortable th { padding: .3em; border: 1px #000000 solid; background:#EAECF3;}
        table.sortable th { background: #BDE5F8; } 
</style>
<table rules="rows" cellpadding="5" class="sortable" >
<tr>
    <th> Rank </th>
    <th> Teamname </th>
    <th> Score </th>
    <th>.</th>
    <th>.</th>
    <th>.</th>
    <th>.</th>
    <th>.</th>
</tr>
{% for team in teams %}
<tr>
    <td
      {% ifequal team.6 None %}
        sorttable_customkey="9999" >
      {% else %}
        sorttable_customkey="{{ team.6 }}" >
       {{ team.6 }}
      {% endifequal %}
    </td>
    <td sorttable_customkey="{{team.0}}"> 
      <a href="#answers" onclick = " display_answers('{{team.0}}'); return false;" style="{% if not team.2 %}font-weight:bold;font-size:1.3{% endif %}">
       {{ team.0 }}
      </a>
    </td>
    <td>
      {% if team.5 %}
       {{ team.5 }}
      {% endif %}
    </td>
    <td
      {% if team.7 %} 
        sorttable_customkey="3" >
        <img src="{{MEDIA_URL}}/images/team_new.png" />
      {% else %}
        {% if team.8 %} 
          sorttable_customkey="2" >
          <img src="{{MEDIA_URL}}/images/team_modified.png" />
        {% else %}
          sorttable_customkey="1" >
          <img src="{{MEDIA_URL}}/images/team.png" /> 
        {% endif %}
      {% endif %}
    </td>
    <td 
      {% if team.3 %} 
       sorttable_customkey="1" >
       <img src="{{MEDIA_URL}}/images/emblem-default.png"/>
      {% else %} 
        sorttable_customkey="2" >
      {% endif %}
    </td>
    <td
      {%if team.1 %}
       sorttable_customkey="1" >
       <img src="{{MEDIA_URL}}/images/system-lock-screen.png"/>
      {% else %} 
        sorttable_customkey="2" >
      {% endif %}
    </td>
    <td
      {% if not team.2 %} 
       sorttable_customkey="1" >
       <img src="{{MEDIA_URL}}/images/document-new.png"/>
      {% else %} 
        sorttable_customkey="2" >
      {% endif %}
    </td>
    <td
      {% if team.4 %}
       sorttable_customkey="1" >
       <img src="{{MEDIA_URL}}/images/emblem-new.png"/>
      {% else %} 
        sorttable_customkey="2" >
      {% endif %}
    </td>
</tr>
{% endfor %}
  </table>
    </div>