    <a name ="top"/>
   <div class="register">
        <a href="{{SITE_URL}}/events/view/answers/users/"><h1>View Particpant Answers</h1></a>
        <p>Please choose a participant: </p>
       
        <i><a href="{{SITE_URL}}/mail/selected/">Send</a> a mail to all selected participants</i>
    </div>
    <br />
    <div class="info">Click in the top cell of a column to sort according to that column.
    </div>
    <div class = "answer" style="float:right;font-size:11px">
        <img src="{{MEDIA_URL}}/images/system-lock-screen.png" /> Locked Answer <br/>
	<img src="{{MEDIA_URL}}/images/emblem-default.png" /> Selected Answer <br/>
	<img src="{{MEDIA_URL}}/images/emblem-new.png" /> Interesting Answer <br/>
	<img src="{{MEDIA_URL}}/images/document-new.png" /> Unread Answer <br/>
	<img src="{{MEDIA_URL}}/images/user.png" /> User registered before 3rd sept. <br/>
	<img src="{{MEDIA_URL}}/images/user_new.png" /> User registered after 3rd sept. <br/>
	<img src="{{MEDIA_URL}}/images/user_modified.png" /> User registered before 3rd sept.<br/> who modified answers after 3rd sept. <br/>
	</div>
   <div class="register">
     <h4> All Participants </h4>
<style type="text/css">
        table.sortable { margin: 1em; border-collapse: collapse; margin-right:5; width:auto;}
        table.sortable td, table.sortable th { padding: .3em; border: 1px #000000 solid; background:#EAECF3;}
        table.sortable th { background: #BDE5F8; } 
</style>
<table rules="rows" cellpadding="5" class="sortable">
<tr>
    <th> Rank </th>
    <th> Username </th>
    <th> Score </th>
    <th>.</th>
    <th>.</th>
    <th>.</th>
    <th>.</th>
    <th>.</th>
</tr>
{% for participant in participants %}
<tr>
    <td
      {% ifequal participant.6 0 %}
        sorttable_customkey="9999" >
      {% else %}
        sorttable_customkey="{{ participant.6 }}" >
       {{ participant.6 }}
      {% endifequal %}
    </td>
    <td sorttable_customkey="{{participant.0}}"> 
      <a href="#answers" onclick = " display_answers('{{participant.0}}'); return false;" style="{% if not participant.2 %}font-weight:bold;font-size:1.3{% endif %}">
       {{ participant.0 }}
      </a>
    </td>
    <td>
      {% if participant.5 %}
       {{ participant.5 }}
      {% endif %}
    </td>
    <td
      {% if participant.7 %} 
        sorttable_customkey="3" >
        <img src="{{MEDIA_URL}}/images/user_new.png" />
      {% else %}
        {% if participant.8 %} 
          sorttable_customkey="2" >
          <img src="{{MEDIA_URL}}/images/user_modified.png" />
        {% else %}
          sorttable_customkey="1" >
          <img src="{{MEDIA_URL}}/images/user.png" /> 
        {% endif %}
      {% endif %}
    </td>
    <td 
      {% if participant.3 %} 
       sorttable_customkey="1" >
       <img src="{{MEDIA_URL}}/images/emblem-default.png"/>
      {% else %} 
        sorttable_customkey="2" >
      {% endif %}
    </td>
    <td
      {%if participant.1 %}
       sorttable_customkey="1" >
       <img src="{{MEDIA_URL}}/images/system-lock-screen.png"/>
      {% else %} 
        sorttable_customkey="2" >
      {% endif %}
    </td>
    <td
      {% if not participant.2 %} 
       sorttable_customkey="1" >
       <img src="{{MEDIA_URL}}/images/document-new.png"/>
      {% else %} 
        sorttable_customkey="2" >
      {% endif %}
    </td>
    <td
      {% if participant.4 %}
       sorttable_customkey="1" >
       <img src="{{MEDIA_URL}}/images/emblem-new.png"/>
      {% else %} 
        sorttable_customkey="2" >
      {% endif %}
    </td>
</tr>
{% endfor %}
</table>	
	
    </div>