    <div class="register">
    </div>

    <div class="register">
    <form action="#" onsubmit="post_selected('{{team.name}}');return false;" method="GET" onchange='javascript:document.getElementById("sub_{{team.name}}").style.display="block";document.getElementById("save_{{team.name}}").style.display="none";'>
        {%if selected%}
       <div class="register">
       {%else%}
       <div class="errors">
       {%endif%}
           <table class="team_info">
               <tr>
                   <th> Team Name: </th>
                   <td> {{team.name}} </td>
               </tr>
               <tr>
                   <th> Leader: </th>
                   <td> <a 
href="{{SITE_URL}}/profile/view/{{team.leader}}/">{{team.leader}}</a></td>
               </tr>
               <tr>
                   <th> Leader's email: </th>
                   <td> {{leader.email}}</td>
               </tr>
               <tr>
                   <th> Leader's phone: </th>
                   <td> {{leader_prof.mobile_number}}</td>
               </tr>
               <tr>
                   <th> Leader's college: </th>
                   <td> {{leader_prof.college}}</td>
               </tr>
               <tr>
                   <th> Members: </th>
                   <td> </td>
               </tr>
               {% for member in team_members %}
               <tr>
                   <th></th>
                   <td><a href="{{SITE_URL}}/profile/view/{{member}}/">{{member}}</a></td>
               </tr>
               {% endfor %}
              <tr><th>Read Already</th><td><input type="checkbox" id="id_read" {% if evaluated.sub_read %}checked="checked"{%endif%}></td>
              {{ eval_form.as_table }}
              <td></td>
              <td>
	          <div style="font-family:verdana;color:red;font-size:10px;line-height:1em;vertical-align:top">
	{% if error %}{{ error|escape }} </br>{% endif %}
	          </div>
	          </td>
        </table>
        <input id="sub_{{team.name}}" type="submit" value="Save" style="display:none"/>
    {% if error %}
        <div id="save_{{team.name}}" align="right" style="color:black" style="display:none">Rank has to be unique. Not saved.</div>
    {% else %}
        <div id="save_{{team.name}}" align="right" style="color:black" style="display:none">Saved</div>
    {% endif %}
        </div>
        <br />

       <div class="register">
        
        {% for q_a in answer_list %}
           <div class="answer">  <h4> {{q_a.0}} </h4>
        {{q_a.1}} </div>
        {% endfor %}

        {% for q_a in file_answer_list %}
        <div class="answer"> 
        <h4> {{q_a.0}} </h4>
            <a href="{{MEDIA_URL}}/{{q_a.1}}">Link to File</a>
        </div>
        {% endfor %}
        <br /> <br />
        </div>
    </form>
</div>

