    <div class="register">
    
    </div>

    <div class="register">
    <!--<form action="#" onsubmit="post_selected('{{participant.username}}');return false;" method="GET">-->
    <form action="#" onsubmit="post_selected('{{participant.username}}');return false;" method="GET" onchange='javascript:document.getElementById("sub_{{participant.username}}").style.display="block";document.getElementById("save_{{participant.username}}").style.display="none";'>

        <!--{% if participant.3 %}
       <div class="info">
       {% else %}
       <div class="errors">
       {% endif %}-->
      <div class="{% if participant.3 %}info{% else %}errors{% endif %}">
           <table class="user_info">
               <tr>
                   <th> User Name: </th>
                   <td><a href="{{SITE_URL}}/profile/view/{{participant.username}}/">{{participant.username}}</a></td>
               </tr>
               <tr>
                   <th> Real Name: </th>
                   <td> {{participant_prof.first_name}} {{participant_prof.last_name}} </td>
               </tr>
               <tr>
                   <th> College: </th>
                   <td> {{participant_prof.college}} </td>
               </tr>
               <tr>
                   <th> Email: </th>
                   <td> <a href="mailto:{{participant.email}}">{{participant.email}}</a> </td>
               </tr>
              <tr><th>Read Already</th><td><input type="checkbox" id="id_read" {% if evaluated.sub_read %}checked="checked"{%endif%}></td>
              {{ eval_form.as_table  }}
              <td></td>
              <td>
	          <div id="rank_error" style="font-family:verdana;color:red;font-size:10px;line-height:1em;vertical-align:top">
	{% if error %}{{ error|escape }} </br>{% endif %}
	          </div>
	          </td>
        </table>
	<input id="sub_{{participant.username}}" type="submit" value="Save" style="display:none"/>
    {% if error %}
        <div id="save_{{participant.username}}" align="right" style="color:black" style="display:none">Rank has to be unique. Not saved.</div>
    {% else %}
        <div id="save_{{participant.username}}" align="right" style="color:black" style="display:none">Saved</div>
    {% endif %}

</div>
        <br />

       <div class="register">
        {% for q_a in answer_list %}
        <div class="answer">
        <h4> {{q_a.0}} </h4>
             {{q_a.1}}
        </div>
        {% endfor %}

        {% for q_a in file_answer_list %}
        <div class="answer">
        <h4> {{q_a.0}} </h4>
            <a href="{{MEDIA_URL}}/{{q_a.1}}">Link to File</a>
        </div>
        {% endfor %}
        <br /> <br />
        
        <a href="#top"><span  class="myLink" >Top</span></a>
        <style type="text/css"> .myLink { text-align:right; display:block; } </style> 
        </div>
    </form>
</div>



