<html>
 <body>
  <h2>
   {{event.name}}
  </h2>
  <table border="1">
   <tr>
    <td>
     Name
    </td>
    <td>
     Username
    </td>
    <td>
     Email ID
    </td>
    <td>
     College
    </td>
    {% for x in profile %}
   </tr>
   <tr>
    <td>
     {{x.first_name}} {{x.last_name}}
    </td>
    <td>
     {{x.username}}
    </td>
    <td>
     {{x.email}}
    </td>
    <td>
     {{x.college}}
    </td>
   </tr>
   {% endfor %}
  </table>
 </body>
</html>
<!---delete this if u feel unneccessary!-->
