{% extends "base_default.html" %}

{% block body %}
    <div class="register">
    <a href="{{SITE_URL}}/events/view/answers/users/"><h1>View Particpant Answers</h1></a>
    </div>

    <div class="register">

    <form action="{{SITE_URL}}/events/view/answers/users/{{participant.username}}/" method="POST">
        {%if selected%}
       <div class="register">
       {%else%}
       <div class="errors">
       {%endif%}
           <table class="user_info">
               <tr>
                   <th> User Name: </th>
                   <td><a href="{{SITE_URL}}/profile/{{participant.username}}/">{{participant.username}}</a></td>
               </tr>
               <tr>
                   <th> Real Name: </th>
                   <td> {{participant_prof.first_name}} {{participant_prof.last_name}} </td>
               </tr>
               <tr>
                   <th> College: </th>
                   <td> {{participant_prof.college}} </td>
               </tr>
               <tr>
                   <th> Email: </th>
                   <td> {{participant.email}} </td>
               </tr>
	       <tr><th></th><td>{% if eval_form.sub_read %}Reading It First Time{% else %} Already Read!! {% endif %}</td>
              {{ eval_form.as_table }}
      </table>
      <input type="submit" value="Save" />
        </div>
        <br />
	<script>
	function openAnswer(id)
	{
	    document.getElementById('answer'+id).style.display = 'block';
	}
	function closeAnswer(id)
	{
	    document.getElementById('answer'+id).style.display = 'none';
	}
	</script>
       <div class="register">
        {% for q_a in answer_list %}
        <div class="answer">
        <h4><a href = "javascript:openAnswer({{forloop.counter}})"> {{q_a.0}} </a></h4>
         <div id="answer{{ forloop.counter }}" style="display:none;">{{q_a.1}} </br> 
	 <a href="javascript:closeAnswer({{forloop.counter}})"> <div style="text-align:right">X Close</div></a></div>
        </div>
        {% endfor %}

        {% for q_a in file_answer_list %}
        <h4> {{q_a.0}} </h4>
            <a href="{{MEDIA_URL}}{{q_a.1}}">Link to File</a>
        {% endfor %}
        <br \> <br \>
        <a href="{{SITE_URL}}/events/view/answers/users/" class="myLink">Back</a>
        <style type="text/css"> .myLink { text-align:right; } </style> 
        </div>
    </form>
</div>

{% endblock %}

