{{username}} 
You have been registered as a coordinator for Shaastra 2010.  You can setup you
event's registration form (if there is one), by accessing the Admin portal at
http://www.shaastra.org/2010/userportal/admin/. Here,  please create questions
pertaining to your event that you would like particants to answer. You can
specify 3 types of questions, "Normal" "File" and "MCQ". In the case of the
latter, please create MCQ Options first from the same Admin view. If you face
any problems, please contact the Webops group.

Once your event has been opened for registration, you can view/select
particpants as well from http://www.shaastra.org/2010/userportal/events/view/answers/users/ (or
follow the link on the Userportal homepage). If you have a team event, please use http://www.shaastra.org/2010/userportal/events/view/answers/teams/.

Note: You can view the profile details of participants by clicking on the appropriate links displayed to you. This is done to make the job of contacting participants easier. Please do not misuse this privilege.

Login Details:
Username: {{username}}
Password (please change): {{password}}

Cheers,
The Shaastra WebOps Team

This mail has been sent from an automated mailer. Please do not reply to it.
