Dear Particpant,
    You have received this mail as you are a registered user for the Shaastra 2010 Userportal.
    
    This year, we have decided to change our hospitality and accomodation service policy from a first come first serve basis to an event particpant basis. This means that if you would like to get accomodation, you must register for events, and fill its corresponding questionnaire. Event coordinators will short list participants based on these questionnaires, and these participants will be offered accomodation at Shaastra 2010.
    
    Please fill in answers to all events you would like to participate as this will increase your chances of getting accomodation. Note that just ticking the "Want Hospitality/Accomodation" checkbox is not sufficient, you must register for events.
    
    You can register for individual events from the "Individual Event Registration" page. 
    1. Click on events that you are interested in, and fill the corresponding questionnaire form suitably. 
    2. Click on "Save Answers" to save your answers. 
    3. Once you are confident about your answers, please click the "Lock Answers" button on the same form. Do remember that you will not be able to change your answers after clicking the "Lock Answers" button.
    
    You can also register for team events from the "Team Event Registration" page. Before you can proceed with team event registration, you must create a team, which can be done using the "Create" team link at the bottom of that page. If your team-mate has already created a team, you can join that team by clicking on the "Join" link. Ask your team leader for the password to join that team, and enter it. After this point, you can click on your team's name, and you will be presented with a list of Team Events. The same application procedure for individual events applies here.
    
Thank you,

Shaastra 2010 Web Operations team
