Dear Participant, 

Thank you for the enthusiasm, shown in responding to our online questionnaires. We are pleased to inform you that your accommodation has been confirmed for Shaastra 2010.

Please update your Profile in Userportal specially your arrival and departure details by the 23rd of September 2010. (by visiting the following link).

http://www.shaastra.org/2010/userportal/hospitality/accomodation/details/

It is important for you to update your information, as it is necessary for us to issue you Shaastra Advanced Accommodation Registration (SAAR), Shaastra ID cards and to arrange for your stay during Shaastra 2010. If any of the information is left incomplete after the specified date, we will be unable to consider your request for hospitality accommodation. 

The SAAR will be mailed to you by the 24th of September 2010.

For any other queries, please mail us at hospitality@shaastra.org or use the helpdesk for Hospitality in the User Portal.

Regards,
Hospitality team,
Shaastra 2010
