Dear Participant,


We sincerely apologise that your request for accommodation is not confirmed for Shaastra 2010 and you cannot avail accommodation in IIT Madras campus as per strict order from the Institute administration.


As we have limited number of seats available, we are very sorry to intimate that we will not able to accommodate you. Registrations for accommodation were made completely event based and preference for accommodation is given to participants registered for higher priority event against the lower priority event. Events which require registration before Shaastra are given higher priority. Other events will get a lower priority, as mentioned in the Hospitality policy document.


You can still come and participate in various events at Shaastra 2010, but in such a case you have to make your own arrangements for accommodation, outside the institute campus. For reference you can refer to the link named alternate accommodation in hospitality page.


For any other queries, please mail us at hospitality@shaastra.org or use the helpdesk for Hospitality in the User Portal.


Regards,

Hospitality Team

Shaastra 2010
