Dear Particpant,
    You have received this mail as you are a registered user for the Shaastra 2010 Userportal.
    
    Due to frequent changes of user's answers, we have slightly changed our event registration policy. Now, all users must "lock" their answers before the event's final submission date, after which, answers can not be changed again. Event registrations are not on a first come first serve basis, so please do take your time before submitting your questionnaire. However, submitting your answers early will help our coordinators to shortlist participants faster.
    
    Please check the answers you have entered, and ensure that they are locked before the final submission date. You can do this by:
    1. Log into your account at http://www.shaastra.org/userportal/
    2. Click on the "Individual Events Registration" link or the "Team Events Registration" link on your sidebar. Note that if you've clicked on the "Team Event Regstistration" link, you will have to select your team as well. 
    3. Click on the events you wish to register for, or have already entered answers for.
    4. You will see the event's questionnaire. Please fill the questionnaire suitably, and click on "Save Answers".
    5. Once you are confident about your answers, please click the "Lock Answers" button on the same form. Do remember that you will not be able to change your answers after clicking the "Lock Answers" button.
     
Thank you,

Shaastra 2010 Web Operations Team
