Dear Particpant,
   You have received this mail as you are a registered user for the Shaastra 2010 Userportal.
    
   We would like to clarify the event registration procedure for team events.
   1. Before you can register for team events, you must create a team. 
   2. Click on the Team Event Registration link on your sidebar. 
   3 (a). At the bottom of your screen, there is a "Create" link. If your team-mates have not already created a team, please click on this link
   4 (a). Enter your team's name, and a special password. This password is required by your team mates to join your team. Please give them this password.
   3 (b). If you would like to join a team, click on the "Join" link on the "Team Event Registration" page. 
   4 (b). Enter the team's name, and the password. 
   5. Return to the "Team Event Registration" page. You will be presented with a list of teams you are a part of. 
   6. Click on the team name. You will be presented with a set of events.
   7. Choose the events you would like to participate in, and fill up the questionnaire.
   
   Remember that all members of your team must be registered on the Userportal, and all of them must also have joined your team. If this is not the case, please inform your teammates as soon as possible. You can register for any number of events with a single team. You can also be part of any number of teams.
   
Thank you,

Shaastra 2010 Web Operations Team
