Dear Participant,

Team Name: {{team}}

Thank you for the enthusiasm, shown in responding to our online questions. We
are pleased to inform you that the confirmation required from the event side has
been received. Your accommodation is confirmed. You can edit your Profile in
Userportal, arrival and departure details till 20th September. It is important
for you to update your information, as it is necessary for us to issue you SAAR,
Shaastra ID cards and to arrange for your stay during Shaastra 2010. If any of
the information is left incomplete after the specified date, we will be unable
to consider your request for hospitality.

Note:
1 Please bring a hard copy of your Shaastra Advanced Accommodation Registration
  (SAAR) and a bonafide certificate issued by your institute when you arrive and
  your college ID card. The SAAR is like your ticket to Shaastra, which
  validates your registration and will be mailed to you by the 24th of September
  2010.
2. You can make payments for Shaastra accommodation through either debit card or
   cash.

For any other queries, please mail us at hospitality@shaastra.org or use the
helpdesk for Hospitality in the User Portal.

Regards,
Hospitality team,
Shaastra 2010
